<template>
  <div id="query-modal">
    <div class="ui basic modal">
      <i class="close icon"></i>
      <div class="ui icon header">
        <i class="video icon"></i>
        Input start and end time of query video
      </div>
      <div class="content">
        <div class="time-input">
          <p>Start time:<input id="shour" type="number" placeholder="HH" v-model.number="sHour">:<input id="smin" type="number" placeholder="MM" v-model.number="sMin">:<input id="ssec" type="number" placeholder="SS" v-model.number="sSec"></p>
        </div>
        <div class="time-input">
          <p>End  time:  <input id="ehour" type="number" placeholder="HH" v-model.number="eHour">:<input id="emin" type="number" placeholder="MM" v-model.number="eMin">:<input id="esec" type="number" placeholder="SS" v-model.number="eSec"></p>
        </div>
        <div class="time-select">
          <p>Use whole Video <input type="checkbox" v-model="wholeVideo"></p>
        </div>

      </div>

      <div class="actions">
        <div class="ui cancel red basic inverted button">
          <i class="remove icon"></i>
          Back
        </div>


        <div class="ui green basic inverted button" @click="startQuery()">
          <i class="checkmark icon"></i>
          Query
        </div>
      </div>

    </div>
  </div>
</template>

<script>

  export default{
    data () {
      return{
        sHour: 0,
        sMin: 0,
        sSec: 0,
        eHour: 0,
        eMin: 0,
        eSec: 6,
        wholeVideo: false,
      }
    },
    props: ['timeInterval'],
    computed: {
      querySTime() {
        return this.sHour * 3600 + this.sMin * 60 + this.sSec;
      },
      queryETime() {
        return this.eHour * 3600 + this.eMin * 60 + this.eSec;
      }
    },
    watch: {
      wholeVideo: {
        handler: function (newVal, oldVal) {
          if (newVal) {
            this.sHour = this.sMin = this.sSec = this.eHour = this.eMin = this.eSec = '';
            $('input[type=number]').prop('disabled', true);
            $('input[type=number]').addClass('ui disabled input');
          } else {
            $('input[type=number]').prop('disabled', false);
            $('input[type=number]').removeClass('ui disabled input');
          }
        }
      },
      timeInterval: {
        handler: function (newVal, oldVal) {
          var startTimeArr = this.toHHMMSS(newVal.start);
          var endTimeArr = this.toHHMMSS(newVal.end);
          this.sHour = startTimeArr[0];
          this.sMin = startTimeArr[1];
          this.sSec = startTimeArr[2];
          this.eHour = endTimeArr[0];
          this.eMin = endTimeArr[1];
          this.eSec = endTimeArr[2];
        },
        deep: true
      }
    },
    mounted () {
      $('.ui.modal').modal({detachable: false});
    },
    components: {

    },
    methods: {
      toHHMMSS: function (secs) {
        var sec_num = secs
        var hours   = Math.floor(sec_num / 3600) % 24
        var minutes = Math.floor(sec_num / 60) % 60
        var seconds = sec_num % 60
        return [hours,minutes,seconds]
      },
      startQuery: function () {
        if (this.endTime < this.startTime) {
          toastr.error('Your input time period is invalid');
        }else if (this.queryETime == "0" && this.querySTime == "0" && !this.wholeVideo) {
          toastr.error('Your input time period is invalid');
        } else {
          if (this.wholeVideo) {
            this.startQueryWholeVideo(deepOption)
          } else {
            this.$emit('queryVideo', this.querySTime, this.queryETime);
          }
        }
      },
      startQueryWholeVideo: function (deepOption) {
        this.$emit('queryVideo', -1, -1, deepOption);
      }
    }
  }
</script>
<style lang="scss" scoped>

  .time-input{
    text-align: center;
    margin-bottom: 10px;
    input{
      margin: 0 5px;
      color: initial;
    }
  }

  .time-select{
    margin-top: 10px;
    text-align: center;
  }


  @media only screen and (max-width: 767px) {
    input{
      width: 10vw;
    }
  }

</style>
