<template>
  <div id="video-demo">
    <h1>Video Search</h1>
    <div class="ui divider"></div>
    <div class="loading-layer" v-show="showLoading">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
    <section class="main-preview-player">
      <video-player class="video-player-box"
                    ref="videoPlayer"
                    :options="playerOptions"
                    :playsinline="true"
                    @ready="playerReady"
                    @loadedmetadata="onLoadedMetaData($event)"
                    @pause="onPlayerPause($event)">
      </video-player>
      <div class="playlist-container preview-player-dimensions vjs-fluid" v-show="showPlaylist">
        <ol class="vjs-playlist"></ol>
      </div>
    </section>


    <div class="button-group">
      <button class="ui blue button" @click='getQueryVideo()'>Query Video</button>
      <button class="ui blue button" @click="getRandomVideo()">Random Video</button>
      <button class="ui blue button" @click="exportVideo()">Export</button>

      <!--<button class="ui blue button" @click="newSearch()">New Search</button>-->
    </div>

    <query-Modal @queryVideo="queryVideo" :timeInterval="timeInterval" ></query-Modal>
  </div>

</template>

<script>
  import videoService from '@/libs/webServices/videoService.js'
  import serverUrls from '@/libs/webServices/serverUrls.js'
  import videoPlayer from '../videoHighlight/player.vue'
  import queryModal from './queryModal.vue'
  export default {
    name: '',
    data () {
      return {
        showPlaylist: false,
        timeInterval: {
          start: 0,
          end: 6
        },
        videoFrames: [],
        showLoading: false,
      }
    },
    computed: {
      player() {
        return this.$refs.videoPlayer.player
      },
      playerOptions() {
        return {
          muted: true,
          language: 'en',
          autoplay: true,
          sources: {
            type: "video/mp4",
            src: `${serverUrls.VIDEO_NODE_SERVER}/video/ad_output.mp4`
          },
          plugins: {},
          fluid: true
        }
      }
    },
    mounted () {
      this.getRandomVideo();
    },
    methods: {
      playerReady: function () {
        console.log('player is ready')
      },
      onPlayerPause: function () {
        console.log('player is paused')
        const currentTime = this.player.currentTime()
        const currentSrc = this.player.src()
        const endTime = parseInt(currentSrc.substring(currentSrc.indexOf(',') + 1))
        if (Math.abs(currentTime - endTime) < 0.5) {
          this.player.playlist.next()
        }
      },
      onLoadedMetaData: function () {
        const currentSrc = this.player.src()
        const commaIndex = currentSrc.indexOf(',')
        const startTime = parseInt(currentSrc.substring(currentSrc.indexOf('=') + 1, commaIndex))
        const endTime = parseInt(currentSrc.substring(commaIndex + 1))
        this.timeInterval.start = startTime
        this.timeInterval.end = endTime
        const timeFrame = [[startTime, endTime]]
        this.player.progressMarkers().initialize({timeFrames: timeFrame})
        const curPlaylistIndex = this.player.playlist.currentItem()
        $('.vjs-playlist').animate({
          scrollTop: 85 * curPlaylistIndex
        }, 200)
      },
      getRandomVideo: function () {
        videoService.videoSearch('', -1, -1, false, false).then(
          res=> {
            let data = res.data;
            let result = [];
            for (var i = 0; i < data.path.length; i++) {
              let path = data.path[i].replace('MixedVideoSet\\VideoSet/','');
              path = encodeURIComponent(path.trim());
              let videoObj = {
                'path': path,
                'start': data.end[i][0],
                'end': data.end[i][1]
              }
              result.push(videoObj);
            }
            this.videoFrames = result;
            this.setupPlaylist(result, true)
            this.showPlaylist = true
          },
          err=> {
            console.error(err)
          }
        )
      },
      getQueryVideo: function () {
        this.player.pause()
        $('.ui.basic.modal').modal('show')
      },
      queryVideo: function (start, end) {
        let videoEle = document.getElementsByTagName('video')
        let videoSrc = ''
        if (videoEle.length > 0) {
          videoSrc = videoEle[0].currentSrc
        }
        let videoDuration = videoEle[0].duration;
        if ((videoDuration < end - start) && end != -1 && start != -1 || end > videoDuration) {
          toastr.error("Your input period exceeds the duration of video.");
          return;
        }
        //TODO: check if videoSrc is undefined
        let videoDir = videoSrc.split("/")[3];
        let videoId = this.decodeVideoName(videoSrc)
        //this flag is used for searching video,
        //when flag is TRUE, it means the video is in  our database.
        //otherwise, its a uploaded video.
        let flag;

        if (videoDir == 'videoset') {
          //videoDir = 'videoset/';
          videoDir = ''
          flag = true;
        } else {
          //videoDir is equal to video
          videoDir = 'uploads/';
          flag = false;
        }
        let videoPath = videoDir + videoId;
        $('.ui.modal').modal('hide');
        this.showLoader = true;
        videoService.videoSearch(videoPath, start, end, flag, false).then((res) => {
          let data = res.data;
          let result = [];
          for (let i = 0; i < data.path.length; i++) {
            let path = data.path[i].replace('MixedVideoSet\\VideoSet/','');
            let resultsArray = [];
            path = encodeURIComponent(path.trim());
            resultsArray.push([data.end[i][0], data.end[i][1]]);
            for (let j = 0; j < data.path.length; j++) {
              if (j === i) continue;
              let jpath = data.path[j];
              if (jpath === data.path[i]) {
                resultsArray.push([data.end[j][0], data.end[j][1]])
              }
            }
            let videoObj = {
              'path': path,
              'start': data.end[i][0],
              'end': data.end[i][1],
              'resultsArr': resultsArray
            };
            result.push(videoObj);
          }
          this.videoFrames = result;
          this.setupPlaylist(result, false);
        }).catch((err) => {
          console.error(err);
        });
      },
      setupPlaylist: function (videoData, random) {
        this.startTime = [];
        this.endTime = [];
        let playlist = []
        for (let i = 0; i < videoData.length; i++) {
          let item = videoData[i];
          let playListItem = {};
          playListItem['sources'] = [];
          playListItem['thumbnail'] = [];
          if (random) {
            playListItem['name'] = 'Random Result ' + (i+1);
            playListItem['description'] = "From: " + this.toHHMMSS(item.start) + " To: " + this.toHHMMSS(item.end);
            playListItem['sources'].push({'src': `${serverUrls.NODE_SERVER}/videoset/` + item.path + `?${i}#t=${item.start},${item.end}`,
              'type': 'video/mp4'});
          } else {
            playListItem['name'] = 'Query Result ' + (i+1);
            playListItem['description'] = "From: " + this.toHHMMSS(item.start) + " To: " + this.toHHMMSS(item.end);
            playListItem['duration'] = videoData[i].end - videoData[i].start;
            playListItem['sources'].push({'src': `${serverUrls.NODE_SERVER}/videoset/` + item.path + `?${i}#t=${item.start},${item.end}`,
              'type': 'video/mp4'});
            playListItem['resultsArr'] = item.resultsArr;
            this.startTime.push(item.start);
            this.endTime.push(item.end);
          }
          let dir_name = item.path.slice(0,-4);

          playListItem['thumbnail'].push({'srcset': `${serverUrls.AWS_HOST}/frameImg2/` + dir_name + `/${item.start}.jpg`,
            'type': 'image/jpeg',
            'media': '(min-width: 400px;)'})
          playListItem['thumbnail'].push({'src': `${serverUrls.AWS_HOST}/frameImg2/` + dir_name + `/${item.start}.jpg`})
          playlist.push(playListItem);
        }
        //return playlist;
        this.player.playlist(playlist)
        this.clearPlaylist(videoData.length)
        this.player.playlistUi()
        this.player.playlist.autoadvance(0)
      },
      exportVideo: function () {
        this.player.pause()
        this.showLoading = true
        let videoClips = []
        for (let videoFrame of this.videoFrames) {
          videoClips.push([decodeURIComponent(videoFrame.path), videoFrame.start, videoFrame.end]);
        }
        let outputName = `${Date.now()}.mp4`;
        videoService.exportVideo2(videoClips, 640, 360, outputName).then(
          res=> {
            this.showLoading = false;
            this.startDownload(outputName);
          },
          err=> {
            console.log(err);
            this.showLoading = false;
          }
        )
      },
      startDownload(fileName) {
        setTimeout(function () {
          let url = `${serverUrls.NODE_SERVER}/${fileName}`;
          downloadFile(url); // UNCOMMENT THIS LINE TO MAKE IT WORK
        }, 1000);
        // Source: http://pixelscommander.com/en/javascript/javascript-file-download-ignore-content-type/
        window.downloadFile = function (sUrl) {
          //iOS devices do not support downloading. We have to inform user about this.
          if (/(iP)/g.test(navigator.userAgent)) {
            //alert('Your device does not support files downloading. Please try again in desktop browser.');
            window.open(sUrl, '_blank');
            return false;
          }
          //If in Chrome or Safari - download via virtual link click
          if (window.downloadFile.isChrome || window.downloadFile.isSafari) {
            //Creating new link node.
            var link = document.createElement('a');
            link.href = sUrl;
            link.setAttribute('target','_blank');

            if (link.download !== undefined) {
              //Set HTML5 download attribute. This will prevent file from opening if supported.
              var fileName = sUrl.substring(sUrl.lastIndexOf('/') + 1, sUrl.length);
              link.download = fileName;
            }
            //Dispatching click event.
            if (document.createEvent) {
              var e = document.createEvent('MouseEvents');
              e.initEvent('click', true, true);
              link.dispatchEvent(e);
              return true;
            }
          }
          // Force file download (whether supported by server).
          if (sUrl.indexOf('?') === -1) {
            sUrl += '?download';
          }

          window.open(sUrl, '_blank');
          return true;
        }
        window.downloadFile.isChrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
        window.downloadFile.isSafari = navigator.userAgent.toLowerCase().indexOf('safari') > -1;
      },
      clearPlaylist: function (index) {
        setTimeout(() => {
          let playListLen = index;
          let uiPlayListlen = document.getElementsByClassName("vjs-playlist-item").length
          for (let i = playListLen; i < uiPlayListlen; i++) {
            document.getElementsByClassName("vjs-playlist-item")[playListLen].remove();
          }
        }, 1000);
      },
      decodeVideoName: function (videoSrc) {
        let fileName;
        let videoDir = videoSrc.split("/")[3];
        fileName = videoSrc.split("/")[4];
        fileName = decodeURI(fileName);
        fileName = fileName.replace(/%26/g, "&");
        fileName = fileName.replace(/%2B/g, "+");
        fileName = fileName.replace(/%2C/g, ",");
        fileName = fileName.replace(/%2F/g, "/");
        if (videoDir == 'videoset') {
          //videoDir = 'videoset/';
          fileName = fileName.substring(0, fileName.indexOf('?'));
        }
        return fileName;
      },
      toHHMMSS: function (secs) {
        var sec_num = parseInt(secs, 10)
        var hours   = Math.floor(sec_num / 3600) % 24
        var minutes = Math.floor(sec_num / 60) % 60
        var seconds = sec_num % 60
        return [hours,minutes,seconds]
          .map(v => v < 10 ? "0" + v : v)
          .filter((v,i) => v !== "00" || i > 0)
          .join(":")
      },

    },
    components: {videoPlayer, queryModal}
  }
</script>

<style lang="scss">
  .button-group{
    max-width: 1100px;
    margin: 10px auto;
  }

  .main-preview-player{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .video-player-box{
      flex: 3 1 70%;
      /*position: relative;*/
      /*min-width: 300px;*/
      /*min-height: 150px;*/
    }

    .playlist-container{
      flex: 1 1 30%;
      position: relative;
      min-width: 300px;
      min-height: 150px;
      height: auto;
      .vjs-playlist{
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
</style>
