<template>
  <div id="dragAndDrop">
    <form class="box" method="PUT" enctype="multipart/form-data">
      <div class="box-input">
        <input class="box-file" type="file" name="files[]" id="file" />
        <label for="file">
          <img class="upload-icon" v-if="model === 'fashion'" src="~@/assets/add_file.png">
          <div class="upload-icon" v-else>
            <svg class="box-icon" width="100" height="86" viewBox="0 0 50 43" xmlns="http://www.w3.org/2000/svg">
              <path d="M48.4 26.5c-.9 0-1.7.7-1.7 1.7v11.6h-43.3v-11.6c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v13.2c0 .9.7 1.7 1.7 1.7h46.7c.9 0 1.7-.7 1.7-1.7v-13.2c0-1-.7-1.7-1.7-1.7zm-24.5 6.1c.3.3.8.5 1.2.5.4 0 .9-.2 1.2-.5l10-11.6c.7-.7.7-1.7 0-2.4s-1.7-.7-2.4 0l-7.1 8.3v-25.3c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v25.3l-7.1-8.3c-.7-.7-1.7-.7-2.4 0s-.7 1.7 0 2.4l10 11.6z"></path>
            </svg>
            Choose a file, or drag it here
          </div>
        </label>

        <!--<button class="box-button" type="submit">Upload</button>-->
      </div>

      <div class="upload-status"></div>
    </form>
  </div>
</template>
<style lang="scss">
  #dragAndDrop {
    .box {
      font-size: 1.25rem;
      background-color: #c8dadf;
      position: relative;
      text-align: center;
      min-height: 25rem;
      width: 100%;

      &.has-advanced-upload {
        outline: 2px dashed #92b0b3;
        -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
        transition: outline-offset .15s ease-in-out, background-color .15s linear;
        background: #fff;
      }

      &.is-dragover {
        outline-offset: -10px;
        outline-color: #c8dadf;
        background: #ffffff;
      }

      .box-input {
        width: 100%;
        fill: #92b0b3;
        display: block;

        .box-icon {
          width: 100%;
          fill: #92b0b3;
          display: block;
          margin-bottom: 15px;
        }

        .box-file {
          width: 0px;
          height: 0px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }

        label {
          max-width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          cursor: pointer;
          display: inline-block;
          overflow: hidden;
          width: 100%;
          height: 100%;

          &[for="file"] {
            position: absolute;
            top: 0;
            left: 0;

            .upload-icon {
              max-width: 85%;
              max-height: 85%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }

        label:hover strong {
          color: #39bfd3;
        }
      }

      .upload-status {
        display: none;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        -webkit-transform: translateY( -50% );
        transform: translateY( -50% );
      }

      &.is-uploading, &.is-success, &.is-error {
        .upload-status {display: block;}
        .box-input {opacity: 0.1}
      }

      &.is-uploading .upload-status::after {content: 'Uploading...'}
      &.is-success .upload-status::after {content: 'Success'}
      &.is-error .upload-status::after {content: 'Error!'}
    }
  }
</style>
<script>
  import serverUrls from '@/libs/webServices/serverUrls.js'
  import S3 from '@/libs/S3.js';
  export default{
    data () {
      return{
        isAdvancedUpload: false,
        uploadFileName: '',
        s3Helper: null,
      }
    },
    props: ['model'],
    components: {
    },
    mounted () {
      //when mounted first test if token existed
      S3.testTokenExpired().then((decryptObj) => {
        this.s3Helper = new S3(decryptObj);
        this.initDropBox();
      });
    },
    methods: {
      initDropBox: function () {
        let self = this;
        let div = document.createElement('div');
        this.isAdvancedUpload = function () {
          return (('draggable' in dev) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
        };
        let forms = document.querySelectorAll('.box');
        Array.prototype.forEach.call( forms, (form) => {
          var input = form.querySelector('input[type="file"]'),
            label = form.querySelector('label'),
            errorMsg = form.querySelector('.box-error span'),
            droppedFiles = false,
            showFiles	 = function (files) {
//                    console.log(files);
//                    label.textContent = files.length > 1 ? ( input.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', files.length ) : files[ 0 ].name;
            },
            triggerFormSubmit = () => {
              var event = document.createEvent( 'HTMLEvents');
              event.initEvent('submit', true, false);
              form.dispatchEvent(event);
            }



          input.addEventListener('change', (e) => {
            droppedFiles = e.target.files;
            showFiles( e.target.files);
            triggerFormSubmit();
          });

          if (self.isAdvancedUpload) {
            form.classList.add( 'has-advanced-upload');
            ['drag', 'dragstart', 'dragend', 'dragover','dragenter', 'dragleave', 'drop'].forEach((event) => {
              form.addEventListener(event, function (e) {

                //preventing the unwanted behaviours
                e.preventDefault();
                e.stopPropagation();

              })
            });

            ['dragover', 'dragenter'].forEach((event) => {
              form.addEventListener(event, function () {
                form.classList.add('is-dragover');
              })
            });

            ['dragleave', 'dragend', 'drop'].forEach((event) => {
              form.addEventListener( event, function () {
                form.classList.remove('is-dragover');
              })
            });

            form.addEventListener('drop', function (e) {
              //Got the dropped files and show files
              droppedFiles = e.dataTransfer.files;
              showFiles(droppedFiles);
              triggerFormSubmit();
            });
          }

          form.addEventListener('submit', function (e) {
            if (form.classList.contains('is-uploading')) return false;




            if ( self.isAdvancedUpload) {
              e.preventDefault();
              let ajax, ajaxData, postFile;
              if (droppedFiles) {
                let tokenObj = localStorage.getItem('_scopeMedia_upload_token');
                Array.prototype.forEach.call(droppedFiles, function (file) {
                  postFile = file;
                  if (file.type.split('/')[0] != 'image') {
                    toastr.error('Please drop an image file');
                    return false;
                  }

                  form.classList.add('is-uploading');
                  form.classList.remove('is-error');
                  let suffix = file.name.split('.')[1];
                  let uploadFileName = Date.now() + '.' + suffix;
                  let url = `${serverUrls.AWS_HOST}/demo/${uploadFileName}`;


                  self.s3Helper.uploadFile(postFile, uploadFileName, url, 'PUT').then((res) => {
                    form.classList.add('is-success');
                    let emitPayload = {"file": droppedFiles[0], "url": `${serverUrls.AWS_HOST}/demo/${uploadFileName}`};
                    self.$emit('finishUpload', emitPayload);
                  },(error) => {
                    console.log(error);
                    form.classList.remove('is-uploading');
                    form.classList.add('is-error');
                  });
                });
              }
            }
          }); //submit event

        });//End Array prototype.
      },
    }
  }
</script>
