<template>
    <div id="login">

      <div class="account-container login">
        <div class="content-wrapper">

          <div class="web-text-wrapper text-center">
            <h1>Build amazing products and services with the world's most advanced real-time image recognition API.</h1>
          </div>

          <div class="form-container">
            <div class="form-sm-caption">
              Log In
            </div>
            <form @submit.prevent="submitForm()" >
              <label for="username">Username/Email Address</label>
              <input class="general-input" id="username" type="text"  v-model="username" required>
              <label for="ps">Password</label>
              <input class="general-input" id='ps' type="password"  v-model="password" minlength="6" required>
              <!--<div class="recaptcha-wrapper">
                <vue-recaptcha
                  @verify="onVerify"
                  @expired="onExpired"
                  :sitekey="sitekey">
                </vue-recaptcha>
              </div>-->

              <a class="forget-pw">Forgot Your Password?</a>
              <input type="submit" class="button white-button" value="Log In">
            </form>


            <div class="empty-space"></div>

            <div class="signup-wrapper text-center">
              <p>
                Don't have an account yet?
                <router-link :to="{name: 'signup'}">
                  <button>Sign up</button>
                </router-link>
              </p>
            </div>
          </div>

        </div>
      </div>

    </div>
</template>
<style lang="scss">
  @import '~@/components/general.scss';
  @import '~@/components/account/account.scss';

  .login {
    form {
      .forget-pw {
        cursor: pointer;
        float: left;
        text-decoration: underline;
        color: $green-color;

        &:hover {
          color: $green-color;
          text-decoration: underline;
        }
      }
    }
  }

  .recaptcha-wrapper{
    width: 100%;
    margin-top: 20px;
  }

</style>
<script>
    import accountService from '@/libs/webServices/accountService.js'
    export default{
        data () {
            return{
              username: '',
              password: ''
            }
        },
        methods: {
          /**
           * User accountService class to post login request.
           * @params: this.username
           * @params: this.password
           */
          async submitForm() {
            let self = this;
            try {
              var token = await accountService.authenticate(this.username, this.password)
              this.$store.dispatch('setAccessToken', {newAccessToken: token})
              await this.$store.dispatch('getAndSetUserInfo')
              toastr.success("Login successfully")
              if (self.$route.query && self.$route.query.redirect) {
                self.$router.push({path: self.$route.query.redirect})
              } else {
                self.$router.push({path: '/dashboard/products/ScopeCheck'})
              }
              return true
            } catch (error) {
              console.error(error)
            }

            toastr.error("Your input didn't match our record, please try again");
          }
        }
    }
</script>
