<template>
  <div id="stripe-elements">
    <form id="payment-form">
      <div class="group">
        <label>
          <span>Name</span>
          <input name="cardholder-name" class="field" placeholder="Alex Smith" v-model="ccName" required/>
        </label>
        <label>
          <span>Phone</span>
          <input class="field" placeholder="(123) 456-7890" type="tel" v-model="ccPhone" required/>
        </label>
      </div>
      <div class="group">
        <label>
          <span>Card</span>
          <div id="card-element" class="field"></div>
        </label>
      </div>
      <button type="submit">Add Card</button>
      <div class="outcome">
        <div id="card-errors"></div>
      </div>
    </form>
  </div>
</template>

<script>
    import accountService from '@/libs/webServices/accountService.js'
    export default{
        name: '',
        data () {
            return {
                stripe: null,
                elements: null,
                card: null,
                ccName: '',
                ccPhone: ''
            }
        },
        props: {
          userInfo: {
            type: Object,
            required: true
          }
        },
        mounted () {
          this.$nextTick(() => {
            this.initElement();
          });
        },
        methods: {
            initElement: function () {
              let self = this;
              this.stripe = Stripe('pk_test_8uUzTvuUFkJRibXMByRU9ZUE');
              this.elements = this.stripe.elements();
              const style = {
                base: {
                  // Add your base input styles here. For example:
                  iconColor: '#29b2a3',
                  color: '#29b2a3',
                  lineHeight: '40px',
                  fontWeight: 300,
                  fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                  fontSize: '15px',

                  '::placeholder': {
                    color: '#CFD7E0',
                  },
                },
              };

              // Create an instance of the card Element
              this.card = this.elements.create('card', {style});
              // Add an instance of the card Element into the `card-element` <div>
              this.card.mount('#card-element');

              this.card.on('change', (event) => {
                  self.setOutCome(event);
              });

              const form = document.getElementById('payment-form');
              form.addEventListener('submit', async(event) => {
                event.preventDefault();

                const {token, error} = await self.stripe.createToken(this.card);

                if (error) {
                  const errorElement = document.getElementById('card-errors');
                  errorElement.textContent = error.message;
                } else {
                  self.setOutCome({token});
                }
              });
            },

            setOutCome: function (result) {
              /* I can't find where this part executes for.
               * There are no elements found so this produce js error and therefore block the script.
               * I just added null checking first. Come back later when we have time.
               */
              var successElement = document.querySelector('.success');
              var errorElement = document.querySelector('.error');
              if (successElement) {
                successElement.classList.remove('visible');
              }
              if (errorElement) {
                errorElement.classList.remove('visible');
              }
              /********************************/

              if (result.token) {
                // Use the token to create a charge or a customer
                // https://stripe.com/docs/charges


                let self = this,
                    cardExpMonth = '',
                    cardExpYear = '',
                    card = result.token.card;
                if (card.exp_month < 10) {
                  cardExpMonth = `0${card.exp_month}`;
                }
                cardExpYear = `${card.exp_year}`.split(-2);
                let billing = {
                  'billingEmail': this.userInfo.email,
                  'billingName': this.ccName,
                  'billingPhone': this.ccPhone,
                  'cardExpDate': `${cardExpMonth}/${cardExpYear}`,
                  'cardLastFourDigits': card.last4,
                  'cardType': card.brand,
                  'product': "SCOPE_CHECK",
                  'token': result.token.id,
                  'tokenCreationTime': result.token.created
                };
                accountService.postSubscription(billing, 'GROW', 'SCOPE_CHECK').then((res) => {
                   self.$emit('close');
                   //TODO: ADD LOADING ANIMATION
                }).catch((err) => {
                });
              } else if (result.error) {


              }
            }
        }
    }
</script>

<style scoped>
  #stripe-element{
    background: #E6EBF1;
    align-items: center;
    min-height: 100%;
    display: flex;
    width: 100%;
  }

  form {
    width: 480px;
    margin: 20px auto;
  }

  .group {
    background: white;
    box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
    0 3px 6px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    margin-bottom: 20px;
  }

  label {
    position: relative;
    color: #8898AA;
    font-weight: 300;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    display: block;
  }

  .group label:not(:last-child) {
    border-bottom: 1px solid #F0F5FA;
  }

  label > span {
    height: 40px;
    line-height: 40px;
    width: 20%;
    padding-right: 10px;
    padding-left: 10px;
    text-align: right;
    float: left;
  }

  .field {
    background: transparent;
    font-weight: 300;
    border: 0;
    color: #31325F;
    outline: none;

    cursor: text;
    width: 80%;
    height: 40px;
    float: right;
  }

  .field::-webkit-input-placeholder { color: #CFD7E0; }
  .field::-moz-placeholder { color: #CFD7E0; }
  .field:-ms-input-placeholder { color: #CFD7E0; }

  button {
    display: block;
    background: #29b2a3;
    color: white;
    box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
    0 3px 6px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    border: 0;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    height: 40px;
    line-height: 38px;
    outline: none;
  }

  button:focus {
    background: #2bc1b2;
  }

  button:active {
    background: #2bc1b2;
  }

  .outcome {
    float: left;
    width: 100%;
    padding-top: 8px;
    min-height: 24px;
    text-align: center;
  }

  #card-errors{
    color: #E4584C;
  }


</style>
