<template>
  <div id="video-demo">
    <h1>Video Ad</h1>
    <div class="ui divider"></div>
    <section class="main-preview-player">
      <video-player class="video-player-box"
                    ref="videoPlayer"
                    :options="playerOptions"
                    :playsinline="true"
                    customeEventName="customstatechangedeventname"

                    @play="onPlayerPlay($event)"
                    @pause="onPlayerPause($event)"
                    @loadedmetadata="onLoadedMetaData($event)"
                    @ready="playerReady" />
      <div class="playlist-container preview-player-dimensions vjs-fluid" v-show="showPlaylist">
        <ol class="vjs-playlist"></ol>
      </div>
    </section>
    <loader v-show="showLoader"></loader>
  </div>
</template>

<script>
    import videoPlayer from '../videoHighlight/player.vue'
    import loader from '@/components/common/loader.vue'
    import videoService from '@/libs/webServices/videoService.js'
    import serverUrls from '@/libs/webServices/serverUrls.js'
    export default {
      name: '',
      data () {
        return {
          videoName: 'ad_output.mp4',
          showLoader: false,
          showPlaylist: false,
          searchTimeInterval: 5
        }
      },
      components: {videoPlayer, loader},
      methods: {
        onPlayerPlay (player) {

        },
        onPlayerPause (player) {

        },
        onLoadedMetaData () {
          this.setupAds()
        },
        playerReady () {
          //Add an event listner to listen event from ads plugin.
          this.player.playlistUi()
          this.player.adsPlugin().on('searchVideo', this.onSearchVideo);
        },
        onSearchVideo () {
          const currentTime = this.player.currentTime()
          this.showPlaylist = false
          this.showLoader = true
          videoService.videoDeepSearch(currentTime, currentTime + this.searchTimeInterval).then((res) => {
            this.setupPlaylist(res.data)
            this.showLoader = false
            this.showPlaylist = true
          }).catch((error) => {
            this.showLoader = false
            console.error(error)
          })
        },
        setupPlaylist (data) {
          let playlist = []
          for (let i = 0; i < data.path.length; i++) {
            let originPath = data.path[i].trim();
            let path = encodeURIComponent(originPath);
            let playlistItem = {}
            playlistItem['name'] = `Search Result ${i + 1}`
            playlistItem['duration'] = this.searchTimeInterval
            playlistItem['sources'] = [];
            playlistItem['thumbnail'] = [];
            playlistItem['url'] = `${serverUrls.VIDEO_DEEP_SERVER}/videoset/${path}`;
            playlistItem['sources'].push({
              'src': `${serverUrls.VIDEO_DEEP_SERVER}/videoset/${path}`,
              'type': 'video/mp4'})
            playlistItem['thumbnail'].push({'src': `${serverUrls.AWS_HOST}/frameImg/${originPath.replace('.mp4','')}/0.jpg`,
              'type': 'image/jpeg',
              'media': '(min-width: 400px;)'});
            playlist.push(playlistItem);
          }

          this.player.playlist(playlist, -1)
          this.player.playlistUi()
        },
        setupAds () {
          const videoSrc = this.player.src()
          this.player.adsPlugin().removeAll()
          if (videoSrc.indexOf(this.videoName) >= 0) {
            videoService.getVideoAdTag(this.videoName.replace('.mp4', '')).then((res) => {
              this.player.adsPlugin().initialize({adTimes: res.data.result})
            }).catch((error) => {
              console.log(error)
            })
          }
        }
      },
      computed: {
        player () {
          return this.$refs.videoPlayer.player
        },
        playerOptions () {
          return {
            muted: true,
            language: 'en',
            sources: [{
              type: "video/mp4",
              src: `${serverUrls.VIDEO_NODE_SERVER}/video/${this.videoName}`
            }],
            plugins: {},
            fluid: true
          }
        },
      }
    }
</script>

<style lang="scss">
  .main-preview-player{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .video-player-box{
      flex: 3 1 70%;
      /*position: relative;*/
      /*min-width: 300px;*/
      /*min-height: 150px;*/
    }

    .playlist-container{
      flex: 1 1 30%;
      position: relative;
      min-width: 300px;
      min-height: 150px;
      height: auto;
      .vjs-playlist{
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
</style>
