<template>
  <div class="section" data-link="invoice" style="margin-top: 14px">
    <h2 class="header item">Invoice</h2>
    <div class="ui divider"></div>
    <div class="table-wrapper">
      <table class="general-table">
        <thead>
          <tr>
            <th v-if="$store.getters.isAdmin">User</th>
            <th>Product</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
        <tr v-for="invoice in invoiceDatas">
          <td v-if="$store.getters.isAdmin">{{ invoice.user.login }}</td>
          <td>{{ invoice.product }}</td>
          <td>{{ new Date(invoice.startTime).toLocaleDateString() }}</td>
          <td>{{ new Date(invoice.endTime).toLocaleDateString() }}</td>
          <td>{{ invoice.amount }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
    import accountService from '@/libs/webServices/accountService.js'
    export default{
      name: '',
      created() {
        this.fetchInvoices(this.$store.getters.isAdmin)
      },
      data () {
        return {
          invoiceDatas: []
        }
      },
      methods: {
        fetchInvoices: function (isAdmin) {
          accountService.getInvoices(isAdmin).then(
            res=> {
              console.log(res)
              this.invoiceDatas = res.data;
            },
            err=> {
              console.log(err)
            }
          )
        }
      }
    }
</script>

<style>
</style>

