<template>
    <div id="user-profile" class="clear">
      <div class="vertical-menu-wrapper">
        <div class="ui secondary vertical pointing menu">
          <div class="vertical-header">Profile</div>
          <div class="ui divider"></div>
          <a class="item active" data-link="user-info">
            User Info
          </a>
          <a class="item" data-link="password">
            Password
          </a>
          <a class="item" data-link="billing">
            Billing
          </a>
          <!--<a class="item" data-link="invoice">
            Invoice
          </a>-->

        </div>
      </div>
      <div class="dashboard-content">
        <div class="section" data-link="user-info">
          <h2 class="header item">User Info</h2>
          <div class="ui divider"></div>
          <form @submit.prevent="saveAccount()">
            <div class="ui grid">
              <div class="one column row">
                <div class="column">Username<span class="required-symbol"></span></div>
                <div class="column"><input class="general-input" disabled readonly type="text" :value="userInfo.login"></div>
              </div>

              <div class="one column row">
                <div class="column">Email<span class="required-symbol"></span></div>
                <div class="column"><input class="general-input" type="email" required :value="userInfo.email"></div>
              </div>

              <div class="one column row">
                <div class="column">First Name<span class="required-symbol"></span></div>
                <div class="column"><input class="general-input" type="text" required v-model="userInfo.firstName"></div>
              </div>

              <div class="one column row">
                <div class="column">Last Name<span class="required-symbol"></span></div>
                <div class="column"><input class="general-input" type="text" required v-model="userInfo.lastName"></div>
              </div>

              <div class="one column row">
                <div class="column">Company</div>
                <div class="column"><input class="general-input" type="text" v-model="userInfo.company"></div>
              </div>

              <div class="one column row">
                <div class="column">Country</div>
                <div class="column">
                  <country-list :selected-country="userInfo.country"></country-list>
                </div>
              </div>

              <div class="one column row">
                <div class="column right aligned">
                  <input type="submit" class="button white-button" value="Save">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="section" data-link="password">
          <h2 class="header item">Password</h2>
          <div class="ui divider"></div>
          <form @submit.prevent="changePassword()">
              <div class="ui grid">
                <div class="one column row">
                  <div class="column">New Password<span class="required-symbol"></span></div>
                  <div class="column"><input class="general-input" type="password" minlength="6" required v-model="password"></div>
                </div>
                <div class="one column row">
                  <div class="column">Confirm New Password<span class="required-symbol"></span></div>
                  <div class="column">
                    <input id="pw-confirm" class="general-input" type="password" minlength="6" required v-model="passwordConfirm">
                  </div>
                </div>
                <div class="one column row">
                  <div class="column right aligned">
                    <input type="submit" class="button white-button" value="Save">
                  </div>
                </div>
              </div>
          </form>
        </div>
        <div class="section" data-link="billing">
          <h2 class="header item">Billing</h2>
          <div class="ui divider"></div>
          <div class="ui items">
            <div class="item">
              <div class="header">
                <h3>Credit Card Info</h3>

                <p v-if="!userInfo.billingInfo">CURRENT NO CREDIT CARD INFORMATION</p>
                <div v-else class="billing-info">
                  <div>Your current enabled credit card:</div>
                  <div>Type: {{userInfo.billingInfo.cardType}}</div>
                  <div>Last Four Digits: {{userInfo.billingInfo.cardLastFourDigits}}</div>
                  <div>Expired Date: {{userInfo.billingInfo.cardExpDate}}</div>
                  <div>Change <a @click="showModal = true" class="link">BILLING INFO</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="content">
                <div class="description">
                  <table class="plan-table">
                    <tbody>
                      <tr>
                        <th colspan="2">
                          <h3>ScopeCheck</h3>
                        </th>
                      </tr>
                      <tr>
                        <td class="left">
                          You are currently in
                          <b v-if="!userInfo.billingInfo">Incubate</b>
                          <b v-else>Grow</b>
                          plan.
                          <ul>
                            <li>
                              Free until exceeding 10,000 inputs and 15,000 operatons.
                            </li>
                          </ul>
                          <p>Click <a class="link" href="https://scopemedia.com/solutions" target="_blank">HERE</a> to view our plans</p>

                        </td>

                        <td class="right">
                          After exceeding the free usage limits, billing at
                          <ul>
                            <li>
                              $0.99 USD per 1,000 operations per month
                            </li>
                            <li>
                              $0.50 USD per 1,000 per month
                            </li>
                          </ul>


                          <div v-if="!userInfo.billingInfo">Enable <a @click="showModal = true" class="link">BILLING</a></div>
                          <div v-else>Change <a @click="showModal = true" class="link">BILLING INFO</a></div>
                          <cc-modal v-show="showModal" @close="finishModal()" :userInfo="userInfo"></cc-modal>

                        </td>
                      </tr>
                    </tbody>
                  </table>


                </div>
              </div>
            </div>
          </div>

        </div>
        <!--<user-invoice></user-invoice>-->
      </div>
    </div>
</template>
<style lang="scss">
  @import '~@/components/general.scss';

  #user-profile {
    position: relative;

    form input[type="submit"]:hover {
      background-color: $green-color;
      color: #fff;
    }

  }
  .plan-table{
    width: 100%;
    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
    }
    ul{
      -webkit-margin-before: 0.5em;
      -webkit-margin-after: 0.5em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 10px;
    }
    th{
      padding: 10px 0;
      text-align: left !important;
    }
    td{
      vertical-align: top;
      padding: 5px 10px;
    }
    td.left{
      background-color: rgba(228, 228, 228, 0.87);
      width: 45%;
    }
    td.right{
      background-color: rgba(239, 239, 239, 0.95);
      widht: 55%;
    }
  }

  .link{
    color: $green-color;
    &:hover{
      color:$green-color;
    }



  }


</style>
<script>

    import accountService from '@/libs/webServices/accountService.js'
    import ccModal from '@/components/dashboard/userProfile/creditCardModal/ccModal.vue';
    import userInvoice from '@/components/dashboard/userProfile/userInvoice.vue';
    import countryList from '@/components/common/countryList.vue';

    export default {
      data () {
        return {
          password: "",
          passwordConfirm: "",
          showModal: false
        }
      },
      computed: {
          userInfo() {
              return this.$store.state.userInfo
          }
      },
      components: {
          ccModal,
          userInvoice,
          countryList
      },
      watch: {
        "passwordConfirm": function (val) {
          if (val !== this.password) {
            document.getElementById('pw-confirm').setCustomValidity("Passwords do not match");
          } else {
            document.getElementById('pw-confirm').setCustomValidity('');
          }
        },
        "password": function (val) {
          if (val !== this.passwordConfirm) {
            document.getElementById('pw-confirm').setCustomValidity("Passwords do not match");
          } else {
            document.getElementById('pw-confirm').setCustomValidity('');
          }
        }
      },
      methods: {
        /**
         * User accountService class to post login request.
         * @params: pw
         */
        changePassword: function () {
            accountService.changePassword(this.password).then((res) => {
              if (res.status === 200) {
                toastr.success("Change password successfully");
              } else {
                toastr.error("Server error");
              }
            }).catch((err) => {
              toastr.error("Server error");
            });
        },

        saveAccount: function () {
          let self = this;
          document.getElementById('country-input').getAttribute('value') ?
            this.userInfo.country = document.getElementById('country-input').getAttribute('value') :
            '';

            accountService.saveAccount(this.userInfo).then((res) => {
              if (res.status === 200) {
                self.$store.dispatch('setUser', {newUser: this.userInfo});
                toastr.success("Update user info successfully");
              } else {
                toastr.error("Server error");
              }
            }).catch((err) => {
              toastr.error("Server error");
            });
        },
        finishModal: function () {
         let self = this;

          accountService.getAccount().then((res) => {
            //TODO: MAY NEED TO CHECK RESPONSE STATUS
            let userData = res.data;
            self.$store.dispatch('setUser', {newUser: userData});
            self.showModal = false;
          }).catch((error) => {
            console.error(error);
            self.showModal = false;
            self.$store.dispatch('logout');
          })
        }

      },
      mounted () {
        $('.ui.dropdown').dropdown({});
        const self = this,
              $menuItems = $("#user-profile .menu a.item"),
              $sections = $("#user-profile .dashboard-content .section");
        $menuItems.on("click", function () {
            const $target = $sections.filter(`[data-link="${ $(this).attr("data-link") }"]`);
            $("html").animate({
                      //minus 100px header height and 24 px padding
                      scrollTop: $target.offset().top - 100 - 24
                      });
        });

        $(document).on("scroll", function () {
            $sections.each(function () {
                const top = $(this).offset().top - $(window).scrollTop() - 100;
                if ( top < $(window).height() / 3) {
                    $menuItems.removeClass("active");
                    $menuItems.filter(`[data-link="${ $(this).attr("data-link") }"]`).addClass("active");
                }
            });
        });
      }
    }


</script>
