<template>
  <div>
    <div class="trends">
        <div class="trend" v-for="trend of trends">
          <h3>{{ trend.category }} ({{ trend.count }})</h3>
          <div class="clusters" v-for="(cluster, index) in trend.list">
            <div class="cluster-name"><span class="item-delete" @click="deleteCluster(cluster.clusterId)">X</span>Cluster {{ index + 1 }} {{ `(cluser id: ${cluster.clusterId})` }}</div>
            <div class="items">
              <div class="item" v-for="item of cluster.list">
                <div class="img-wrapper" :style="{backgroundImage: `url(http://192.168.0.148:5000/SocialMediaImages/Crop2/${item.section.filename})`}">
                </div>
                <div><span class="item-delete" @click="deleteTrend(item.id)">X</span>{{ item.id }}</div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
  .trends {
    .trend {
      h3 {margin-top: 5rem; background: #0f0;}
      .item-delete {color: #f00; margin-right: 0.5rem;}
      .cluster-name {margin-top: 2rem; border-top: 3rem solid #000}
      .items {
        .item {
          display: inline-block;
          .img-wrapper {
            display: inline-block;
            width: 15rem;
            height: 15rem;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }
</style>

<script>
  import axios from 'axios'

  export default {
    data () {
      return {
        trends: null
      }
    },
    props: ['trendingId'],
    created () {
      axios({
        method: 'GET',
        url: `http://192.168.0.142:9091/api/trendings/${this.trendingId}/trends`
      }).then((response) => {
        let data = response.data;

        var trends = [];
        for (let trend of data) {

          var category = trends.find((element) => {return element.category === trend.category;});

          if (typeof category === 'undefined') {
            category = {category: trend.category, list: [], count: 0};
            // this is trends list
            trends.push(category);
          }

          // we decided to not show clusters afterward, so just put everything in cluster 0 now. Will fix this and template when we have time.
          var cluster = category.list.find((element) => {
            return element.clusterId === trend.clusterId;
          });

          if (typeof cluster === 'undefined') {
            cluster = {clusterId: trend.clusterId, list: []};
            category.list.push(cluster);
          }
          cluster.list.push(trend);
          category.count++;
        }

        this.trends = trends;
      })
    },
    methods: {
      deleteCluster (clusterId) {
        axios({
          method: 'DELETE',
          url: `http://192.168.0.142:9091/api/trends/clusters/${clusterId}`,
          headers: {
            "Content-Type": "application/json",
            "Authorization": `Bearer ${this.$store.state.accessToken}`
          }
        }).then((response) => {
          console.log(response)
        })
      },
      deleteTrend (trendId) {
        axios({
          method: 'DELETE',
          url: `http://192.168.0.142:9091/api/trends/${trendId}`,
          headers: {
            "Content-Type": "application/json",
            "Authorization": `Bearer ${this.$store.state.accessToken}`
          }
        }).then((response) => {
          console.log(response)
        })
      }
    }
  }
</script>
