<template>
  <div id="ScopeVision-admin">
    <table>
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Name
          </th>
          <th>
            Channel
          </th>
          <th>
            Start
          </th>
          <th>
            End
          </th>
          <th>
            Published
          </th>
          <th>
            Publish
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="trending of trendings">
          <td>{{ trending.id }}</td>
          <td>{{ trending.name }}</td>
          <td>{{ trending.channel }}</td>
          <td>{{ trending.startDate }}</td>
          <td>{{ trending.endDate }}</td>
          <td>{{ trending.published }}</td>
          <td>
            <button :disabled="trending.published" @click="publishTrending(trending.id, 'trending')">Trending</button>
            <button :disabled="!trending.published" @click="publishTrending(trending.id, 'graphs')">Graphs</button>
            <button :disabled="!trending.published" @click="publishTrending(trending.id, 'trends')">Trends</button>
            <button :disabled="!trending.published" @click="publishTrending(trending.id, 'colors')">Colors</button>
            <button :disabled="!trending.published" @click="processGraphCoordinates(trending.id)">Coordinates</button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><input type="text" v-model="name"></td>
          <td><select v-model="channel">
            <option>Blog</option>
            <option>Socialmedia</option>
            <option>Pinterest</option>
            <option>Tagboard</option>
            <option>Product</option>
            <option>FashionShow</option>
          </select></td>
          <td><input type="date" v-model="startDate"></td>
          <td><input type="date" v-model="endDate"></td>
          <td></td>
          <td><button @click="createTrending">Create</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style lang="scss">
  #ScopeVision-admin {
    td {padding: 0.5rem;}
  }
</style>

<script>
  import axios from 'axios';

  export default {
    data () {
      return {
        trendings: null,
        channel: '',
        startDate: '',
        endDate: '',
        name: ''
      };
    },
    created() {
      this.getTrendings();
    },
    methods: {
      getTrendings() {
        axios({
          method: 'GET',
          url: 'http://192.168.0.142:9091/api/trendings',
          headers: {
            "Content-Type": "application/json"
          }
        })
        .then((response) => {
          this.trendings = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
      },
      publishTrending(trendingId, step) {
        var data;
        switch (step) {
          case 'trending':
            data = {publishTrending: true};
            break;
          case 'graphs':
            data = {publishGraphs: true};
            break;
          case 'trends':
            data = {publishTrends: true};
            break;
          case 'colors':
            data = {publishColors: true};
            break;
          default:
            data = {publishTrending: true};
        }

        axios({
          method: 'POST',
          url: `http://192.168.0.142:9091/api/trendings/${trendingId}/publish`,
          headers: {
            "Content-Type": "application/json"
          },
          data: data
        })
        .then((response) => {
          toastr.success('Published');
          this.getTrendings();
        })
        .catch((error) => {
          console.log(error);
        });
      },
      processGraphCoordinates(trendingId) {
        axios({
          method: 'POST',
          url: `https://api.scopemedia.com/trending/v2/trendings/${trendingId}/coordinates`,
          headers: {
            "Content-Type": "application/json",
            "Authorization": `Bearer ${this.$store.state.accessToken}`
          },
          data: {id: trendingId}
        })
        .then((response) => {
          toastr.success('success');
        })
        .catch((error) => {
          console.log(error);
        });
      },
      createTrending() {
        if (!this.channel || !this.startDate || !this.endDate || !this.name) {
          toastr.error('something missing');
          return;
        }
        axios({
          method: 'POST',
          url: `http://192.168.0.142:9091/api/trendings`,
          headers: {
            "Content-Type": "application/json"
          },
          data: {
            channel: this.channel,
            startDate: `${this.startDate}T00:00:00.000Z`,
            endDate: `${this.endDate}T23:59:59.999Z`,
            name: this.name
          }
        })
        .then((response) => {
          this.getTrendings();
        })
        .catch((error) => {
          console.log(error);
        });
      }
    }
  }
</script>
