<template>
  <div id="ScopeVision">
    <analysis-list :trending-id="trendingId" />

    <div id="trending-graph" class="products-content dashboard-content">
      <sub-header :header-text="graphName" :back-text="trending ? trending.name : ''" :back-url="`/dashboard/products/ScopeVision/${trendingId}`" />
      <div class="categories text-center">
        <template v-if="graphSlug == 'detection'">
          <div v-for="graph of graphs.categories" class="category" :class="{selected: selectedCategory == graph}" @click="initMap(selectedCategory == graph ? null : graph)">
            {{ `${graph.category} (${graph.totalImages.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')})` }}
          </div>
        </template>
      </div>
      <div class="scalable-map-pane">
        <scalableMap ref="scalableMap" @search-highlight-images="onSearchHighlightImages" @submit-polygon="onSubmitPolygon" @highlight-area-updated="onHighlightAreaUpdated" />
        <div class="demo-tags" v-if="graphId === '30'">
          <button @click="toggleTags" v-if="showTags === -1">Tags Cloud</button>
          <div style="width:2rem; height: 2rem;" v-if="showTags === 0"><div class="active ui loader"></div></div>
          <button @click="showTags = -1" v-if="showTags === 1">Close</button>
          <div v-if="showTags === 1" class="tags">
            <div class="tag" v-for="tag of randomizedTags" :style="{fontSize: `${tag.weight * 20}px`, opacity: tag.weight}"><span>{{ tag.tag }}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  #ScopeVision {
    #trending-graph {
      .categories {
        .category {
          display: inline-block;
          color: #0fb2a2;
          font-size: 16px;
          text-transform: capitalize;
          height: 2rem;
          line-height: 2rem;
          padding: 0 0.5rem;
          cursor: pointer;

          &:hover, &.selected {
            background: #0fb2a2;
            color: #fff;
            box-shadow: 0 2px 4px #bbb;
          }
        }
      }
      .scalable-map-pane {
        position: relative;
        .scalable-map-container {width: 100%; height: 75vh;}
        .demo-tags {
          position: absolute;
          top: 0;
          right: 0;
          margin: 1rem;
          max-width: 30%;
          button {
            background-color: #fff;
            border: 1px solid #E2E2E2;
            display: inline-block;
            padding: 0.25rem 0.5rem;
            cursor: pointer;
            width: 100%;
            &:hover {
              background-color: #E2E2E2;
            }
          }
          .tags {
            text-align: right;
            background: #fff;
            .tag {
              padding: 0 3px;
            }
          }
        }
      }
    }
  }
</style>

<script>
  import analysisList from '@/components/dashboard/scopeVision/analysisList.vue'
  import scalableMap from '@/components/common/scalableMap/scalableMap.vue'
  import trendingService from '@/libs/webServices/trendingService.js'
  import TrendingUtils from '@/components/dashboard/scopeVision/TrendingUtils.js'
  import subHeader from '@/components/dashboard/scopeVision/subHeader.vue'
  import axios from 'axios'

  export default {
    data () {
      return {
        trending: null,
        graphs: null,
        graph: null,
        coordinate: null,
        selectedCategory: null,
        tags: null,
        showTags: -1,
        tagsQuery: '',
        APIStamp: null
      }
    },
    props: ['trendingId', 'graphId'],
    components: {
      analysisList, scalableMap, subHeader
    },
    computed: {
      graphName: function () {
        // phrase number to 1,234,567 format
        return this.graph ? `${this.graph.name} (${this.graph.totalImages.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')})` : '';
      },
      graphSlug: function () {
        return this.graph ? this.graph.slug : '';
      },
      randomizedTags () {
        if (this.tags) {
          var weight = 1
          for (var tag of this.tags) {
            tag.weight = weight
            weight -= 0.03
          }
          return this.tags.sort((a, b) => {
            return a.tag.localeCompare(b.tag)
          })
        } else {
          return null
        }
      }
    },
    watch: {
      $route: function () {
        this.resetGraphs();
      }
    },
    mounted () {
      this.$store.dispatch('ScopeVision/getTrendings', (trendings) => {
        this.trending = trendings[this.trendingId]
      })
      this.resetGraphs()
    },
    methods: {
      resetGraphs() {
        this.$store.dispatch('ScopeVision/getTrendingGraphs', {
          trendingId: this.trendingId,
          callback: (graphs) => {
            this.graphs = graphs;
            this.graph = this.graphs.rawData.find((g) => {return g.id == this.graphId;});
            this.$nextTick(this.initMap);
          }
        });
      },
      onSearchHighlightImages(highlightArea, page, size) {
        var query = ''
        if (highlightArea.type === 'polygon') {
          query = `polygon=${highlightArea.physical.map(p => `${p.x} ${p.y}`).join(',')}`
        } else {
          query = `x=${highlightArea.physical.x}&y=${highlightArea.physical.y}&radius=${highlightArea.physical.r()}`
        }

        trendingService.searchTrendingGraphHighlightImages(this.selectedCategory ? this.selectedCategory.id : this.graphId, page, size, query)
        .then((response) => {
          this.$refs.scalableMap.updateHighlightImages(highlightArea, response.data, parseInt(response.headers['x-total-count']))
        })
        .catch((error) => {
          console.log(error)
        })
      },
      onSubmitPolygon (pendingPolygon) {
        trendingService.searchTrendingGraphDistinctCoordinatesInPolygon(this.selectedCategory ? this.selectedCategory.id : this.graphId, pendingPolygon.physical).then((response) => {
          this.$refs.scalableMap.updateThumbLabel(pendingPolygon, response.data)
        }).catch((error) => {
          console.log(error)
        })
      },
      initMap(categoryGraph = null) {
        this.onHighlightAreaUpdated(null)

        let graph = categoryGraph ? categoryGraph : this.graph;
        this.selectedCategory = categoryGraph;

        this.$refs.scalableMap.initMap({
          url: TrendingUtils.getGraphUrl(this.trendingId, graph),
          maxZoomLevel: Math.log2(graph.width / 256)
        })
        this.$refs.scalableMap.enableHighlightImages()
        this.$refs.scalableMap.enableTaggingButton()

        if (graph.source == 'MediaSection') {
          trendingService.getTrendingGraphColors(graph.id)
          .then((response) => {
            this.$refs.scalableMap.colors = response.data.length > 0 ? TrendingUtils.parseColors(response.data) : null;
          })
          .catch((error) => {
            console.log(error);
          });
        } else {
          this.$refs.scalableMap.colors = null;
        }

        if (graph.type == 'KMEANS') {
          axios({
            method: 'GET',
            url: TrendingUtils.getClusterUrl(this.trendingId, graph),
            headers: {
              'Content-Type': 'text/plain'
            }
          })
          .then((response) => {
            if (this._isBeingDestroyed) {return;}

            var clusters = [];
            let allTextLines = response.data.split(/\r\n|\n/);
            for (var i = 0; i < allTextLines.length; i++) {
              var data = allTextLines[i].split(',');
              if (data.length >= 2) {
                clusters.push({x: data[0], y: data[1]});
              }
            }

            this.$refs.scalableMap.updateClusters(clusters);
          })
          .catch((error) => {
            console.log(error);
          });
        }
/*
        axios({
          method: 'GET',
          url: TrendingUtils.getCSVUrl(this.trendingId, graph),
          headers: {
            'Content-Type': 'text/plain'
          }
        })
        .then((response) => {
          if (this._isBeingDestroyed) {return;}

          this.coordinate = [];
          let allTextLines = response.data.split(/\r\n|\n/),
              csvLength = allTextLines.length;
          for (var i = 0; i < csvLength; i++) {
            var data = allTextLines[i].split(',http');
            var coord = data[0].split(',');
            this.coordinate.push({
              x: coord[0],
              y: coord[1],
              image: graph.source == 'Media' ? 'http' + data[1] : coord[2]
            });
          }

          this.$refs.scalableMap.enableHighlightImages();
        })
        .catch((error) => {
          console.log(error);
        });*/
      },
      onHighlightAreaUpdated (highlightArea) {
        if (highlightArea) {
          var query = ''
          if (highlightArea.type === 'polygon') {
            query = `polygon=${highlightArea.physical.map(p => `${p.x} ${p.y}`).join(',')}`
          } else {
            query = `x=${highlightArea.physical.x}&y=${highlightArea.physical.y}&radius=${highlightArea.physical.r()}`
          }
          this.tagsQuery = query
        } else {
          this.tagsQuery = ''
        }

        this.showTags = -1
        this.tags = null
        this.APIStamp = null
      },
      toggleTags () {
        if (this.showTags === 1) {
          this.showTags = -1
        } else {
          this.showTags = 0
          this.tags = null
          var APIStamp = Date.now()
          this.APIStamp = APIStamp

          if (!this.tagsQuery) {
            var startDate = this.trending.startDate.substring(0, 10)
            var endDate = this.trending.endDate.substring(0, 10)
            var channel = this.trending.channel

            axios({
              method: 'GET',
              url:`https://api.scopemedia.com/trending/v2/medias/tags?startDate=${startDate}&endDate=${endDate}&channel=${channel}`,
              headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${this.$store.state.accessToken}`
              }
            }).then((response) => {
              if (this.APIStamp === APIStamp) {
                this.tags = response.data
                this.showTags = 1
              }
            })
          } else {
            var graphId = this.graphId

            axios({
              method: 'GET',
              url:`https://api.scopemedia.com//trending/v2/trendings/coordinates/tags?trendingGraphId=${graphId}&${this.tagsQuery}`,
              headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${this.$store.state.accessToken}`
              }
            }).then((response) => {
              if (this.APIStamp === APIStamp) {
                this.tags = response.data
                this.showTags = 1
              }
            })
          }
        }
      }
    }
  }
</script>
