<template>
    <div id="ScopeVision">
      <div class="home">
        <div class="trendings">
          <div class="heading">
            <div class="welcome"><img src="~@/assets/ScopeVision/home/Welcome_to@2x.png"></div>
            <div class="scopeVision"><img src="~@/assets/ScopeVision/home/SCOPEVISION@2x.png"></div>
          </div>
          <div class="trending-list">
            <router-link v-for="trending of trendings" :to="`/dashboard/products/ScopeVision/${trending.id}`" :key="`trending-${trending.id}`">{{ trending.name }}</router-link>
          </div>
        </div>
        <img class="poster" src="~@/assets/ScopeVision/home/cover.jpg">
      </div>
    </div>
</template>
<style lang="scss">
  #ScopeVision {
    .home {
      position: relative;
      .trendings {
        background: linear-gradient(to bottom, #00B2A2 0%, #09D18F 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        padding: 1rem;

        .heading {
          padding: 1rem;
          color: #fff;
          .welcome {
            img {max-width: 35%;}
            margin-bottom: 0.5rem;
          }

          .scopeVision {
            img {max-width: 50%;}
          }
        }

        .trending-list {
          margin-top: 1.5rem;
          overflow: auto;
          max-height: 80%;
          a {
            display: block;
            margin: 0.75rem 0;
            padding: 1rem;
            color: #3A3A3A;
            font-size: 20px;
            border-radius: 4px;
            background: rgba(255, 255, 255, 0.6);
            border: 3px solid transparent;

            &:hover {
              border-color: #C5EDEF;
              color: #fff;
              background: rgba(0, 124, 113, 0.6);
            }
          }
        }
      }

      .poster {
        display: block;
        width: 50%;
        margin-left: 50%;
      }
    }
  }
</style>
<script>
  import trendingsList from '@/components/dashboard/scopeVision/trendingsList.vue';

  export default {
    data () {
        return {
          trendings: null
        }
    },
    created () {
      this.$store.dispatch('ScopeVision/getTrendings', (trendings) => {
        this.trendings = trendings;
      });
    }
  }
</script>
