<template>
  <div id="ScopeVision">
    <analysis-list :trending-id="trendingId" />

    <div id="trending-matching" class="products-content dashboard-content">
      <sub-header header-text="Matching" :back-text="trending ? trending.name : ''" :back-url="`/dashboard/products/ScopeVision/${trendingId}`" />
      <div id="matching-diagram">
        <svg id="chord-diagram"></svg>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  #ScopeVision {
    #matching-diagram {
      margin: 0 5%;
      #chord-diagram {
        .group-label {
          text-transform: capitalize;
        }

        .chord {
          fill-opacity: 0.5;
          transition: all 0.4s;
        }

        .chord.fade {
          opacity: 0;
        }
      }
    }
  }
</style>

<script>
  import analysisList from '@/components/dashboard/scopeVision/analysisList.vue';
  import subHeader from '@/components/dashboard/scopeVision/subHeader.vue';
  import * as d3 from 'd3';

  export default {
    data () {
      return {
        trending: null,
        outerRadius: 400,
        minMatches: 2000,
        matrix: [[0,3683,4570,71259,7826,8689,13503,7988,1870,1700,4809,2455,283,692,1932,299],[3683,0,8636,1094,17178,4282,7152,1107,1283,1730,995,4244,1114,5461,2398,3214],[4570,8636,0,8207,22686,3490,818,833,1209,1082,64,2103,23,3297,388,12807],[71259,1094,8207,0,5237,9448,18998,24995,2313,8541,10966,13994,294,18948,2549,132],[7826,17178,22686,5237,0,3844,1975,1993,231,4196,323,13123,634,30308,1367,8616],[8689,4282,3490,9448,3844,0,1749,1495,1403,398,18,971,1,2118,144,1175],[13503,7152,818,18998,1975,1749,0,4411,283,1472,2331,1517,2499,3217,974,246],[7988,1107,833,24995,1993,1495,4411,0,423,1357,5425,691,204,86,968,17],[1870,1283,1209,2313,231,1403,283,423,0,121,6,255,0,634,51,47],[1700,1730,1082,8541,4196,398,1472,1357,121,0,767,329,225,975,712,95],[4809,995,64,10966,323,18,2331,5425,6,767,0,805,671,1627,444,38],[2455,4244,2103,13994,13123,971,1517,691,255,329,805,0,339,4270,1346,1015],[283,1114,23,294,634,1,2499,204,0,225,671,339,0,346,29,12],[692,5461,3297,18948,30308,2118,3217,86,634,975,1627,4270,346,0,2012,372],[1932,2398,388,2549,1367,144,974,968,51,712,444,1346,29,2012,0,254],[299,3214,12807,132,8616,1175,246,17,47,95,38,1015,12,372,254,0]],
        names: ['sneaker','skirt','women top','pant','dress','t-shirt','outwear','men dress shoes','shirt','women dress shoes','suite','sandals','trench coat','high heel','bag','underwear']
      }
    },
    props: ['trendingId'],
    components: {
      analysisList, subHeader
    },
    computed: {
      maxInMatrix: function () {
        return this.matrix.map(function (x) {
          return x.concat().sort(function (a, b) {
            return b - a;
          }).slice(0, 2);
        });
      },
      filteredMatrix: function () {
        return this.matrix.map((x) => {
          return x.map((y) => {
            return y < this.minMatches ? 0 : y;
          });
        });
      }
    },
    mounted () {
      this.$store.dispatch('ScopeVision/getTrendings', (trendings) => {
        this.trending = trendings[this.trendingId];
      });
      window.addEventListener('resize', this.drawChord);
      this.drawChord();
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.drawChord);
    },
    methods: {
      drawChord() {
        var width, height;
        width = height = d3.select('#matching-diagram').node().offsetWidth;

        this.outerRadius = width * 0.4;
        var innerRadius = this.outerRadius * 0.6,
            arcThinkness = this.outerRadius * 0.05;

        var fill = d3.scaleOrdinal(d3.schemeCategory20);

        var chord = d3.chord()
            .padAngle(.04)
            .sortSubgroups(d3.descending)
            .sortChords(d3.descending);

        var arc = d3.arc()
            .innerRadius(innerRadius)
            .outerRadius(innerRadius + arcThinkness);

        var svg = d3.select('#chord-diagram')
            .attr('width', width)
            .attr('height', height)

        svg.selectAll('g').remove();

        svg = svg.append('g')
            .attr('transform', 'translate(' + width / 2 + ',' + height / 2 + ')');

        var data = chord(this.filteredMatrix);

        var g = svg.selectAll('.group')
            .data(data.groups)
          .enter().append('g')
            .attr('class', 'group')
            .on('mouseover', this.mouseover)
            .on('mouseout', this.mouseout);

        g.append('path')
            .attr('class', 'group-arc')
            .style('fill', function (d) {return fill(d.index);})
            .style('stroke', function (d) {return fill(d.index);})
            .attr('d', arc);

        var groupWrapper = g.append('g')
            .each(function (d) {d.angle = (d.startAngle + d.endAngle) / 2;})
            .attr('transform', (d) => {
              return 'rotate(' + (d.angle * 180 / Math.PI - 90) + ')'
                  + 'translate(' + (innerRadius + arcThinkness + 10) + ')'
                  + (d.angle > Math.PI ? 'rotate(180)' : '');
            });

        groupWrapper.append('text')
            .attr('class', 'group-label')
            .style('text-anchor', (d) => {return d.angle > Math.PI ? 'end' : null;})
            .style('font-size', this.outerRadius * 0.05)
            .text((d) => {return this.names[d.index];});
        var imageWrapper = groupWrapper.append('g')
            .attr('class', 'group-image-wrapper')
            .attr('transform', (d) => {
              return 'translate(' + (d.angle > Math.PI ? -80 : 0) + ' ' + 0 + ')';
            });

        imageWrapper.filter((d) => {
          try {
            require(`@/assets/scopeVision/matching/${this.names[d.index]}.jpg`);
            return true;
          } catch(e) {
            return false;
          }
        })
          .append('image')
            .attr('class', 'thumbnail')
            .attr('xlink:href', (d) => {
                return require(`@/assets/scopeVision/matching/${this.names[d.index]}.jpg`);
            })
            .attr('width', this.outerRadius * 0.15)
            .attr('height', 0)
            .attr('transform', 'translate(0, 10)').style('opacity', 0.15);

        var outerRadius = this.outerRadius;

        d3.selectAll('.group-image-wrapper').each(function (d) {
          var wrapper = d3.select(this);
          var image = wrapper.select('.thumbnail');
          if (image.size() === 0) {
            return;
          }
          var img = new Image();
          img.src = image.attr('xlink:href');
          img.onload = function () {
              var newWidth = outerRadius * 0.15 * this.width / this.height;
              image.attr('width', newWidth);
              wrapper.attr('transform', function (d) {
                return 'translate(' + (d.angle > Math.PI ? -newWidth : 0) + ' ' + 0 + ')';
              });
          };
        });


        var chords = svg.selectAll('.chord')
            .data(data)
          .enter().append('path')
            .attr('class', 'chord')
            .style('stroke', function (d) {return d3.rgb(fill(d.source.index)).darker();})
            .style('fill', function (d) {return fill(d.source.index);})
            .attr('d', d3.ribbon().radius(innerRadius));


        d3.select(self.frameElement).style('height', this.outerRadius * 2 + 'px');
      },
      mouseover(d, i) {
        d3.selectAll('.group-label').transition().duration(400).attr('transform', '').style('opacity', 0.15);
        d3.selectAll('.group-image-wrapper image').transition().duration(400).attr('height', 0).attr('transform', 'translate(0, 10)').style('opacity', 0.15);
        d3.selectAll('.group-arc').transition().duration(400).style('opacity', 0.15);

        var groupIndex = [i];
        d3.selectAll('.chord').classed('fade', (p) => {
          if (p.source.index == i && p.source.value > 0 && this.maxInMatrix[i].indexOf(p.source.value) >= 0) {
            groupIndex.push(p.target.index);
            return false;
          } else if (p.target.index == i && p.target.value > 0 && this.maxInMatrix[i].indexOf(p.target.value) >= 0) {
            groupIndex.push(p.source.index);
            return false;
          } else {
            return true;
          }
        });

        var enableGroups = d3.selectAll('.group').filter(function (d, i) {
          return groupIndex.indexOf(i) >= 0;
        });

        enableGroups.selectAll('.group-label').transition().duration(400).attr('transform', function (d) {
          return `translate(0, ${d3.select(this.parentNode).select('image').size() > 0 ? -45 : 0})`;
        }).style('opacity', 1);
        enableGroups.selectAll('.group-image-wrapper image').transition().duration(400).attr('height', this.outerRadius * 0.15).attr('transform', 'translate(0, -35)').style('opacity', 1);
        enableGroups.selectAll('.group-arc').transition().duration(400).style('opacity', 1);
      },
      mouseout(d, i) {
        d3.selectAll('.group-label').transition().duration(400).attr('transform', '').style('opacity', 1);
        d3.selectAll('.group-image-wrapper image').transition().duration(400).attr('height', 0).attr('transform', 'translate(0, 10)').style('opacity', 0.15);
        d3.selectAll('.group-arc').transition().duration(400).style('opacity', 1);

        d3.selectAll('.chord').classed('fade', function (p) {
          return false;
        });
      }
    }
  }
</script>
