<template>
  <div id="ScopeVision">
    <analysis-list :trending-id="trendingId" />

    <div id="trending-recommendation" class="products-content dashboard-content">
      <sub-header header-text="Recommendation" :back-text="trending ? trending.name : ''" :back-url="`/dashboard/products/ScopeVision/${trendingId}`" />
      <img class="banner" src="~@/assets/ScopeVision/recommendation/recommendation_banner@1x.png">

      <div style="margin: 1rem 0; float: right; font-size: 16px">
        Recommend for
        <select v-model="selectedClient">
          <option value="aritzia">Aritzia</option>
          <option value="forever21">Forever 21</option>
          <option value="gucci">Gucci</option>
        </select>
      </div>
      <div style="clear: both"></div>

      <div class="recommendations items">
        <h3 v-if="errorMessage" class="error-message text-center" v-html="errorMessage"></h3>
        <div class="item-sizer"></div>
        <template v-if="recommendation && recommendation.recommendedList.length > 0">
          <img class="item" v-for="image of recommendation.recommendedList" :src="image.url">
        </template>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  #ScopeVision {
    #trending-recommendation {
      .banner {
        margin-top: 2rem;
        display: block;
        width: 100%;
      }
      .recommendations {
        h3 {margin: 2rem;}
        .item, .item-sizer {
          width: 20%;
        }

        .error-message {
          @keyframes blink {
            0% {opacity: 0;}
            20% {opacity: 1;}
            100% {opacity: 0;}
          }

          span {
              animation-name: blink;
              animation-duration: 1.4s;
              animation-iteration-count: infinite;
              animation-fill-mode: both;
              margin: 0 2px;
          }

          span:nth-of-type(2) {
              animation-delay: 0.2s;
          }

          span:nth-of-type(3) {
              animation-delay: 0.4s;
          }
        }
      }
    }
  }
</style>

<script>
  import trendingService from '@/libs/webServices/trendingService.js'
  import analysisList from '@/components/dashboard/scopeVision/analysisList.vue'
  import subHeader from '@/components/dashboard/scopeVision/subHeader.vue'

  export default {
    data () {
      return {
        recommendation: null,
        trending: null,
        selectedClient: 'aritzia',
        errorMessage: null
      }
    },
    props: ['trendingId'],
    watch: {
      selectedClient() {
        this.getRecommendationList();
      }
    },
    components: {
      analysisList, subHeader
    },
    created () {
      this.$store.dispatch('ScopeVision/getTrendings', (trendings) => {
        this.trending = trendings[this.trendingId];
      });
      this.getRecommendationList();
    },
    methods: {
      getRecommendationList() {
        this.recommendation = null;
        trendingService.getTrendingRecommendations(this.selectedClient)
        .then((response) => {
          if (response.data.length == 0) {
            this.errorMessage = 'You have not created any recommendations yet';
          } else {
            let recommendation = response.data[0];
            if (recommendation.calculated) {
              this.getRecommendation(response.data[0].id);
            } else {
              this.errorMessage = 'Generating recommendation.<br><br>Please wait<span>.</span><span>.</span><span>.</span>';
              setTimeout(this.getRecommendationList, 2500);
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
      },
      getRecommendation(recommendationId) {
        trendingService.getTrendingRecommendation(this.selectedClient, recommendationId)
        .then((response) => {
          this.errorMessage = null;

          if (response.data.recommendedList.length > 0) {
            this.recommendation = response.data
            this.$nextTick(() => {
              if (this._masonry) {
                this._masonry.masonry('destroy');
              }

              this._masonry = $('.items');
              var $items = this._masonry.find('.item').hide();

              $items.remove();

              this._masonry.masonry({
                itemSelector: '.item',
                percentPosition: true,
                columnWidth: '.item-sizer'
              });

              this._masonry.append($items);

              $items.imagesLoaded().progress((instance, image) => {
                $(image.img).show();
                this._masonry.masonry('appended', $(image.img))
              });
            });
          } else {
            this.resetTrendingRecommendation(response.data.id)
          }
        })
        .catch((error) => {
          console.log(error)
        });
      },
      resetTrendingRecommendation(recommendationId) {
        trendingService.resetTrendingRecommendation(this.selectedClient, recommendationId).then((response) => {
          this.getRecommendationList()
        }).catch((error) => {
          console.log(error)
        })
      }
    }
  }
</script>
