<template>
    <router-view class="clear" />
</template>
<style lang="scss">
  #dashboard .dashboard-container {
    #ScopeVision {
      min-height: 700px;
      position: relative;
      .vertical-menu-wrapper {
        width: 20rem;

        .header {
          background: linear-gradient(to right, #00B2A2 0%, #09D18F 100%);
          color: #fff;
          font-size: 24px;
          height: 4.5rem;
          line-height: 4.5rem;
        }
      }
      .dashboard-content {
        margin-left: 0;
        width: calc(100% - 20rem);
      }
    }
  }
</style>
