<template>
  <div id="ScopeVision">
    <analysis-list :trending-id="trendingId" />

    <div id="trending-source" class="products-content dashboard-content">
      <sub-header header-text="Source Images" :back-text="trending ? trending.name : ''" :back-url="`/dashboard/products/ScopeVision/${trendingId}`" />
      <div class="images items">
        <div class="item-sizer"></div>
      </div>
      <div class="load-more text-center" v-if="loadMore" @click="loadMoreSources">Load more</div>
    </div>
  </div>
</template>

<style lang="scss">
  #ScopeVision {
    #trending-source {
      .images {
        width: 100%;
        padding-top: 2rem;
        img, .item-sizer {
          width: 20%;
        }
      }

      .load-more {
        cursor: pointer;
        color: #0fb2a2;
        font-size: 20px;
        padding: 0.5rem;
        border: 2px solid #0fb2a2;
        border-radius: 40px;
        margin: 2rem 0;

        &:hover {
          color: #fff;
          background: #0fb2a2;
        }
      }
    }
  }
</style>

<script>
  import trendingService from '@/libs/webServices/trendingService.js'
  import analysisList from '@/components/dashboard/scopeVision/analysisList.vue';
  import subHeader from '@/components/dashboard/scopeVision/subHeader.vue';

  export default {
    data () {
      return {
        trending: null,
        loadMore: false,
        page: 0,
        size: 10
      }
    },
    props: ['trendingId'],
    watch: {
      trending: function () {
        this.loadMoreSources();
      }
    },
    components: {
      analysisList, subHeader
    },
    created () {
      this.$store.dispatch('ScopeVision/getTrendings', (trendings) => {
        this.trending = trendings[this.trendingId];
      });
    },
    methods: {
      loadMoreSources() {
        trendingService.getTrendingMedias(this.trending.startDate.substring(0, 10), this.trending.endDate.substring(0, 10), this.trending.channel, this.page, this.size)
        .then((response) => {
          this.loadMore = response.data.length == this.size;
          this.page++;
          if (!this._masonry) {
            this._masonry = $('#trending-source .items');
            this._masonry.masonry({
              itemSelector: '.item',
              percentPosition: true,
              columnWidth: '.item-sizer'
            });
          }
          let images = $(response.data.map((i) => {
            return `<img class="item" style="display: none" src="${i.url}">`;
          }).join());
          this._masonry.append(images);
          images.imagesLoaded().progress((instance, image) => {
            $(image.img).show();
            this._masonry.masonry('appended', $(image.img))
          });
        })
        .catch((error) => {
          console.log(error);
        });
      }
    }
  }
</script>
