<template>
  <div class="sub-header clear">
    <router-link v-if="backUrl" :to="backUrl"><img src="~@/assets/ScopeVision/subHeader/backarrow@1x.png"><span class="back-text">{{ this.backText }}</span></router-link>
    <span class="header-text">{{ this.headerText }}</span>
  </div>
</template>
<style lang="scss">
  #ScopeVision {
    .sub-header {
      height: 4.5rem;
      line-height: 4.5rem;
      font-size: 24px;
      background: linear-gradient(to right, #00B2A2 0%, #09D18F 100%);
      font-style: italic;
      padding: 0 2rem;
      overflow: hidden;

      img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 1rem;
        width: 0.75rem;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
      }

      .header-text {
        float: right;
      }
    }
  }
</style>
<script>
  export default {
    data () {
      return {

      };
    },
    props: ['headerText', 'backUrl', 'backText']
  }
</script>
