<template>
  <div id="ScopeVision">
    <analysis-list :trending-id="trendingId" />

    <div id="trending-trends" class="products-content dashboard-content">
      <sub-header :header-text="headerText" :back-text="trending ? trending.name : ''" :back-url="`/dashboard/products/ScopeVision/${trendingId}`" />
      <div class="categories text-center">
        <div class="category" v-for="trend of trends" :class="{selected: selectedCategories.indexOf(trend.category) >= 0}" @click="updateSelectedCategories(trend.category)">
          <span>{{ trend.category }} ({{ trend.count }})</span>
        </div>
      </div>

      <div class="scaler-wrapper clear" v-if="trends && trends.length > 0">
        <span>View</span>
        <div class="scaler"><button @click="parseInt(itemWidthScale) > 2 ? itemWidthScale = parseInt(itemWidthScale) - 2 : null">-</button><input type="range" min="2" max="10" step="2" v-model="itemWidthScale"><button @click="parseInt(itemWidthScale) < 10 ? itemWidthScale = parseInt(itemWidthScale) + 2 : null">+</button></div>
        <div style="float: right; font-size: 16px;">
          Create recommendation for
          <select v-model="selectedClient">
            <option value="aritzia">Aritzia</option>
            <option value="forever21">Forever 21</option>
            <option value="gucci">Gucci</option>
          </select>
        </div>
      </div>

      <div class="trends" :class="{loaded: contentLoaded}">
          <div class="trend" v-for="trend of trends" :class="{selected: selectedCategories.length === 0 || selectedCategories.indexOf(trend.category) >= 0}">
            <h3>{{ trend.category }} ({{ trend.count }})</h3>
            <div class="clusters text-center" v-for="(cluster, index) in trend.list">
              <div v-if="$store.getters.isAdmin && editMode" class="cluster-name"><span class="item-delete" @click="deleteCluster(cluster.clusterId)">X</span>Cluster {{ index + 1 }} {{ `(cluser id: ${cluster.clusterId})` }}</div>
              <div class="items">
                <div class="item-sizer" :style="{'width': `${100 / (12 - itemWidthScale)}%`}"></div>
                <div class="item" :style="{'width': `${100 / (12 - itemWidthScale)}%`}" v-for="item of cluster.list">
                  <div class="img-wrapper" @click="selectTrend(item.id)" :class="{selected: selectedTrends.indexOf(item.id) >= 0}">
                    <img :src="item.url">
                  </div>
                  <div v-if="$store.getters.isAdmin && editMode"><span class="item-delete" @click="deleteTrend(item.id)">X</span>{{ item.id }}</div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <img src="~@/assets/ScopeVision/trends/create_recommendation@1x.png" id="create-recommendation-button" v-if="selectedTrends.length > 0" @click="createRecommendation">
    </div>
  </div>
</template>

<script>
  import trendingService from '@/libs/webServices/trendingService.js'
  import analysisList from '@/components/dashboard/scopeVision/analysisList.vue';
  import subHeader from '@/components/dashboard/scopeVision/subHeader.vue';
  import TrendingUtils from '@/components/dashboard/scopeVision/TrendingUtils.js';

  export default {
      data () {
          return {
            selectedCategories: [],
            categories: null,
            trends: null,
            contentLoaded: true,
            itemWidthScale: 6,
            selectedTrends: [],
            selectedClient: 'aritzia',
            trending: null
          }
      },
      props: ['trendingId'],
      computed: {
        editMode() {
          return this.$route.path.indexOf('edit') >= 0;
        },
        headerText() {
          var count = 0;
          if (this.trends) {
            for (var trend of this.trends) {
              count += trend.count;
            }
          }
          return this.trending ? `${TrendingUtils.parseChannelName(this.trending.channel)} Trends (${count})` : '';
        }
      },
      watch: {
        itemWidthScale() {
          this.$nextTick(() => {
            $('.trends .trend').css('display', 'block');
            this._masonry.forEach((object) => {
              object.masonry('layout');
            });
            $('.trends .trend').css('display', '');
          });
        },
        trends() {
          this.$nextTick(() => {
            this._masonry = [];
            var $containers = $('.items');

            $containers.each((index, object) => {
              var $container = $(object),
                  $items = $container.find('.item').hide();

              $items.remove();

              $container.masonry({
                itemSelector: '.item',
                percentPosition: true,
                columnWidth: '.item-sizer'
              });

              $container.append($items);

              this._masonry.push($container);

              $items.imagesLoaded().progress((instance, image) => {
                var $img = $(image.img).parent().parent().show();
                $container.masonry('appended', $img);
              })
              .always(() => {
                this.contentLoaded = true;
              });
            });
          });
        },
        $route() {
          this.getTrends();
        }
      },
      created() {
        this.$store.dispatch('ScopeVision/getTrendings', (trendings) => {
          this.trending = trendings[this.trendingId];
        });

        this.contentLoaded = false;
        this.getTrends();
      },
      methods: {
        getTrends() {
          trendingService.getTrendingTrends(this.trendingId)
          .then((response) => {
            this.selectedCategories = [];
            this.trends = null;
            this.categories = [];
            let data = response.data.trends;

            var trends = [];
            for (let trend of data) {

              var category = trends.find((element) => {return element.category === trend.category;});

              if (typeof category === 'undefined') {
                category = {category: trend.category, list: [], count: 0};
                // this is trends list
                trends.push(category);

                // this is category list for filter
                this.categories.push(trend.category);
              }

              // we decided to not show clusters afterward, so just put everything in cluster 0 now. Will fix this and template when we have time.
              var cluster = category.list.find((element) => {
                return this.$store.getters.isAdmin && this.editMode ? element.clusterId === trend.clusterId : element.clusterId === 0;
              });

              if (typeof cluster === 'undefined') {
                cluster = {clusterId: this.$store.getters.isAdmin && this.editMode ? trend.clusterId : 0, list: []};
                category.list.push(cluster);
              }
              cluster.list.push(trend);
              category.count++;
            }

            this.trends = trends;
          }).catch((error) => {
            console.log(error);
          });
        },
        updateSelectedCategories(category) {
          let index = this.selectedCategories.indexOf(category);
          if (index >= 0) {
            this.selectedCategories.splice(index, 1);
          } else {
            this.selectedCategories = [category];
          }
        },
        selectTrend(trendId) {
          let index = this.selectedTrends.indexOf(trendId);
          if (index < 0) {
            this.selectedTrends.push(trendId);
          } else {
            this.selectedTrends.splice(index, 1);
          }
        },
        createRecommendation() {
          if (this.selectedTrends.length > 0) {
            trendingService.createTrendingRecommendation(this.selectedClient, this.selectedTrends)
            .then((response) => {
              this.selectedTrends = [];

              let recommendButton = this.$el.querySelector('.analysis[data-slug="recommend"]');

              let tooltip = $(`<img style="position: absolute; top: ${recommendButton.offsetTop +recommendButton.offsetHeight / 2 - 90}px; left: ${recommendButton.offsetLeft + recommendButton.offsetWidth}px" src="${require('@/assets/ScopeVision/trends/recommendation_created@1x.png')}">`);

              $(recommendButton).parent().append(tooltip);
              tooltip.hide().fadeIn(400, function () {
                setTimeout(function () {
                  tooltip.fadeOut(400, function () {
                    tooltip.remove();
                  });
                }, 3000);
              });
            })
            .catch((error) => {
              console.log(error);
            });
          }
        },
        deleteTrend(trendId) {
          trendingService.deleteTrendingTrend(trendId)
          .then((response) => {
              for (var i of this.trends) {
                for (var j of i.list) {
                  for (var k in j.list) {
                    if (j.list[k].id === trendId) {
                      j.list.splice(k, 1);

                      this.$nextTick(() => {
                        this._masonry.forEach((object) => {
                          object.masonry('layout');
                        });
                      });

                      return;
                    }
                  }
                }
              }
          })
          .catch((error) => {
            console.log(error);
          });
        },
        deleteCluster(clusterId) {
          if (confirm(`Delete whole cluster ${clusterId}?`)) {
            trendingService.deleteTrendingCluster(clusterId)
            .then((response) => {
              for (var i of this.trends) {
                for (var j in i.list) {
                  if (i.list[j].clusterId === clusterId) {
                    i.list.splice(j, 1);

                    this.$nextTick(() => {
                      this._masonry.forEach((object) => {
                        object.masonry('layout');
                      });
                    });

                    return;
                  }
                }
              }
            })
            .catch((error) => {
              console.log(error);
            });
          }
        },
      },
      components: {
        analysisList, subHeader
      }
  }
</script>

<style lang="scss">
  @import '~@/components/general.scss';

  #ScopeVision {

    #trending-trends {
      background: #f2f5f8;

      .scaler-wrapper {
        padding: 1rem 2rem 1rem 4rem;
        span {color: #0fb2a2; font-size: 14px; font-weight: bold; display: inline-block; vertical-align: middle;}
        .scaler {
          width: 15rem;
          display: inline-block;
          vertical-align: middle;

          button {cursor: pointer; display: inline-block; vertical-align: sub; width: 2rem;  background: transparent; border: 0; font-size: 1.5rem; color: $gray-color;}

          /* range slider */
          input[type="range"] {display: inline-block; vertical-align: middle; -webkit-appearance: none; height: 2rem; width: calc(100% - 4rem); background: transparent; border: 1px solid transparent; cursor: pointer;}
          // chrome
          input[type=range]::-webkit-slider-runnable-track {
            width: 100%; height: 0.5rem; background: $light-gray-color; border: none; border-radius: 5px;
          }
          input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none; border: none; height: 2rem; width: 0.35rem; border-radius: 5px; background: $green-color; margin-top: -0.75rem;
          }
          input[type=range]:focus {outline: none;}
          input[type=range]:focus::-webkit-slider-runnable-track {background: $light-gray-color;}


          // firefox
          input[type=range]::-moz-range-track {
            width: 100%; height: 0.5rem; background: $light-gray-color; border: none; border-radius: 5px;
          }
          input[type=range]::-moz-range-thumb {
            border: none; height: 2rem; width: 0.35rem; border-radius: 5px; background: $green-color; margin-top: -0.75rem;
          }
          input[type=range]:-moz-focusring {outline: 1px solid transparent; outline-offset: -1px;}
          input[type=range]:focus::-moz-range-track {background: $light-gray-color;}

          // IE
          input[type=range]::-ms-track {
            width: 100%; height: 0.5rem; background: $light-gray-color; border: none; border-radius: 5px;
          }
          input[type=range]::-ms-fill-lower {background: $light-gray-color; border-radius: 5px;}
          input[type=range]::-ms-fill-upper {background: $light-gray-color; border-radius: 5px;}
          input[type=range]::-ms-thumb {
              border: none; height: 2rem; width: 0.35rem; border-radius: 5px; background: $green-color;margin-top: 0rem;
          }
          input[type=range]:focus::-ms-fill-lower {background: $light-gray-color;}
          input[type=range]:focus::-ms-fill-upper {background: $light-gray-color;}
        }
      }

      .categories {
        background: #fff;

        .category {
          display: inline-block;
          color: #0fb2a2;
          font-size: 16px;
          text-transform: capitalize;
          height: 2rem;
          line-height: 2rem;
          padding: 0 0.5rem;
          cursor: pointer;

          &:hover, &.selected {
            background: #0fb2a2;
            color: #fff;
            box-shadow: 0 2px 4px #bbb;
          }
        }
      }

      .trends {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background: #fff;
          opacity: 0.5;
          width: 100%;
          height: 100%;
        }

        &.loaded::after {
          animation: fade-out 0.4s;
          opacity: 0;
          height: 0;
        }

        .trend {
          animation: fade-in 0.4s;
          border-radius: 20px 20px 0 0;
          margin-bottom: 2rem;
          padding-top: 0.5rem;
          overflow: hidden;
          display: none;
          &:last-child {padding-bottom: 0;}
          &.selected {display: block;}
          h3 {font-size: 20px; background: #c5edef; color: #0fb2a2; padding: 0.5rem 4rem; margin: 0; text-transform: capitalize; border-radius: 20px 20px 0 0;}
          background: #0fb2a2;

          .clusters {
            border: 2px solid #0fb2a2;
            .item-delete {
              color: red;
              padding-right: 4px;
              cursor: pointer;
            }
            .items {
              .item {
                .img-wrapper {
                  position: relative;
                  cursor: pointer;
                  img {display: block; width: 100%;}

                  &.selected::after, &:hover::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(15, 178, 162, 0.5);
                    width: 100%;
                    height: 100%;
                  }

                  &.selected::after {
                    border: 3px solid #ff5757;
                    background-image: url('~@/assets/ScopeVision/trends/check_mark@1x.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 50%;
                  }
                }
              }
            }
          }
        }
      }

      #create-recommendation-button {
        cursor: pointer;
        position: fixed;
        bottom: 5rem;
        right: 5rem;
        z-index: 1000;
      }
    }
  }

  @keyframes fade-in {
    0% {opacity: 0.5;}
    100% {opacity: 1;}
  }

  @keyframes fade-out {
    0% {opacity: 0.5; height: 100%;}
    99% {opacity: 0; height: 100%;}
    100% {height: 0;}
  }
</style>
