<template>
  <div id="trendings-list" class="vertical-menu-wrapper">
    <router-link to="/dashboard/products/ScopeVision">
      <div class="header text-center">
        SCOPEVISION
      </div>
    </router-link>
    <div class="trendings">
      <router-link v-for="trending of trendings" :to="`/dashboard/products/ScopeVision/${trending.id}`" :key="`trending-${trending.id}`">{{ trending.name }}</router-link>
    </div>
  </div>
</template>
<style lang="scss">
  #ScopeVision {
    #trendings-list {
      overflow: auto;

      .trendings {
        padding-top: 2rem;
        a {
          display: block;
          padding: 1rem;
          color: #3A3A3A;
          font-size: 16px;

          &.router-link-active, &:hover {
            background: #00B2A2;
            color: #fff;
            box-shadow: 0 2px 4px #bbb;
          }
        }
      }
    }
  }
</style>
<script>
  export default {
    data () {
      return {
        trendings: null
      }
    },
    created () {
      this.$store.dispatch('ScopeVision/getTrendings', (trendings) => {
        this.trendings = trendings
      })
    }
  }
</script>
