<template>
    <div id="ScopeVision">
      <trendings-list></trendings-list>

      <div class="trending-analyses products-content dashboard-content">
        <sub-header :header-text="trending ? trending.name : ''" />
        <div v-if="graphs" class="analyses clear">
          <div class="analysis" v-for="analysis of analyses">
            <router-link :to="analysis.url">
              <div class="analysis-thumb"><img :src="analysis.thumb"></div>
              <div class="analysis-label text-center">{{ analysis.label }}</div>
            </router-link>
          </div>
        </div>
      </div>
    </div>
</template>
<style lang="scss">
  #ScopeVision {
    .trending-analyses {

      .analyses {
        padding: 1rem;
        background: #f2f5f8;

        .analysis {
          padding: 1rem;
          width: 25%;
          float: left;
          &:nth-child(4n+1) {clear: both}

          a {
            display: block;
            border: 1px solid #E6EAEE;
            overflow: hidden;
            border-radius: 4px;
            background: #fff;

            .analysis-thumb {
              width: 100%;
              img {display: block; width: 100%;}
            }
            .analysis-label {
              color: #00B2A2;
              background: #FAFBFC;
              font-size: 16px;
              padding: 0.5rem;
              border-top: 1px solid #E6EAEE;
            }

            &:hover {
              box-shadow: 0 0 1px 3px #00B2A2 inset;
              border-color: #00B2A2;

              .analysis-label {
                background: #00B2A2;
                color: #fff;
                border-color: #00B2A2;
              }
            }
          }
        }
      }
    }
  }
</style>
<script>
  import trendingsList from '@/components/dashboard/scopeVision/trendingsList.vue';
  import subHeader from '@/components/dashboard/scopeVision/subHeader.vue';
  import TrendingUtils from '@/components/dashboard/scopeVision/TrendingUtils.js';

  export default {
    data () {
        return {
          trending: null,
          graphs: null
        }
    },
    props: ['trendingId'],
    components: {
      trendingsList, subHeader
    },
    computed: {
      analyses() {
        if (!this.graphs) {
          return null;
        }

        return TrendingUtils.getAnalysisList(this.trendingId, this.graphs);
      }
    },
    watch: {
      $route: function () {
        this.getTrendings();
      }
    },
    created () {
      this.getTrendings();
    },
    methods: {
      getGraphs() {
        this.$store.dispatch('ScopeVision/getTrendingGraphs', {
          trendingId: this.trendingId,
          callback: (graphs) => {
            this.graphs = graphs;
          }
        });
      },
      getTrendings() {
        this.graphs = null;

        this.$store.dispatch('ScopeVision/getTrendings', (trendings) => {
          this.trending = trendings[this.trendingId];
          this.getGraphs();
        });
      }
    }
  }
</script>
