<template>
  <div id="confirm">
    <div class="account-container confirm">
      <div class="content-wrapper text-center">
        <div class="mail-container" v-if="success">
          <img :src="smileIcon">
        </div>

        <div class="mail-container" v-if="!success">
          <img :src="crossIcon">
        </div>

        <div class="form-caption-wrapper suc" >
          <div class="form-caption" v-if="success">
            Hi {{username}}
          </div>
          <div class="form-sub-caption" v-if="success">
            Thank you for confirming your email address!
          </div>

          <div class="form-sub-caption" v-if="success">
            You will be redirected to Login page after 3 seconds.
          </div>

          <div class="form-caption" v-if="!success">
            Sorry, something went wrong.
          </div>

          <div class="form-sub-caption" v-if="!success">
            Please check your email to confirm the link.
          </div>


        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">

</style>
<script>
    import accountService from '@/libs/webServices/accountService.js'
    export default{
        data () {
            return{
              username: '',
              uuid: this.$route.query.key ? this.$route.query.key : '',
              success: true,
              smileIcon: require('@/assets/HI_icon.png'),
              crossIcon: require('@/assets/Sorry_icon.png')
            }
        },
        components: {

        },
        created () {
          this.success = true;
          accountService.confrimEmail(this.uuid).then((res) => {
            if (res.data.result == 'OK') {
              this.success = true;
              this.username = res.data.data;
              setTimeout(() => {
                this.$router.push('/login');
              }, 3000)
            } else {
              this.success = false;
            }
          }).catch((err) => {
            this.success = false;
          });
        }
    }
</script>
