<template>
  <div id="prediction-viewer">
    <div class="viewer-clearfix">
      <div class="viewer-title">
        Image Prediction
      </div>
      <div class="tags" v-if="tags">
        <div class="tag header"><div class="label">Label</div><div class="score">Score</div></div>
        <div class="tag" v-for="tag of tags">
          <div class="label">{{ getMainLabel(tag.label) }}<span v-if="getAliasLabels(tag.label)" class="alias-labels">{{ getAliasLabels(tag.label) }}</span></div><div class="score">{{ tag.score }}</div>
        </div>
      </div>
      <loader v-show="showLoader"></loader>
    </div>
  </div>
</template>
<style lang="scss">
  #prediction-viewer {

    .tags {
      font-size: 1.25rem;
      /*min-height: 200px;*/

      .tag {
        border-bottom: 2px solid #fafafa;
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.5rem;

        &.header {
          font-weight: bold;
          border-bottom: 0;
        }

        &:last-child {
          border-bottom: 0;
        }

        .alias-labels {
          color: #ccc;
        }
      }
    }
  }
</style>
<script>
  import imageUploader from '@/components/demo/similarImageSearch/imageUploader/imageUploader.vue'
  import taggingService from '@/libs/webServices/taggingService.js'
  import loader from '@/components/common/loader.vue'

  export default {
    data () {
      return {
        tags: null,
        showLoader: false
      }
    },
    components: {
      imageUploader,
      loader
    },
    props: {
      area: {
        type: Object,
        required: false
      }
    },
    computed: {
      queryImg () {
        return this.$store.state.imageDemo.queryImg
      }
    },
    watch: {
      queryImg (newVal, oldVal) {
        if (newVal) {
          //since everytime queryimg changed, it means user selects a new queryimg which does not have area info.
          this.predictImage(false)
        }
      },
      area (newVal, oldVal) {
        //if area changed, it means users click SEARCH button in <image-uploader> component.
        //Then we need to do a prediction again.
        this.predictImage(true)
      }
    },
    methods: {
      predictImage (useArea) {
        let self = this
        this.tags = null
        self.showLoader = true
        let queryArea = useArea
                        ? this.area
                        : null
        taggingService.predictImage({ mediaUrl: this.$store.state.imageDemo.queryImg.url, area: queryArea, modelId: 'fashion-v1' }).then((response) => {
          if (response.status === 200) {
            this.tags = response.data.tags
          } else {
            toastr.error('Something gose wrong, please try again')
          }
          self.showLoader = false
        }).catch((error) => {
          toastr.error('Something gose wrong, please try again')
          self.showLoader = false
        })
      },
      getMainLabel (label) {
        if (label.indexOf(',') >= 0) {
          return label.substr(0, label.indexOf(','))
        }

        return label
      },
      getAliasLabels (label) {
        if (label.indexOf(',') >= 0) {
          return label.substr(label.indexOf(','), label.length)
        }

        return null
      }
    }
  }
</script>
