<template>
    <div id="img-viewer">
      <div class="viewer-clearfix">
        <div class="viewer-title">
          Similar Image
        </div>

        <div class="img-result">
          <div class="result-header">
          </div>

          <div class="result-img-masonry">
            <div class="masonry-grid">
              <div class="masonry-grid-sizer"></div>
              <div class="masonry-grid-item" v-for="img in imgList">
                <img :src="img.url" @click="setQueryImg(img)"></img>
              </div>
            </div>
          </div>
          <loader v-show="showLoader"></loader>
        </div>
      </div>
    </div>
</template>
<style lang="scss">

  .viewer-clearfix {
    padding: 10px 20px;
    min-height: 150px;

    .viewer-title {
      padding: 5px 0 8px 0;
      border-bottom:  1px solid #e5e5e5;
    }

    .img-result {
      margin-top: 20px;
      .result-img-masonry {
        max-height: 50vh;
        overflow-y: auto;
        position: relative;
      }
      .masonry-grid {
        position: relative;
        background: #ffffff;
      }

      /* clear fix */
      .masonry-grid:after {
        content: '';
        display: block;
        clear: both;
      }

      /* ---- .grid-item ---- */

      .masonry-grid-sizer,
      .masonry-grid-item {
        margin: 0.5rem;
        width: calc(33.3% - 1rem);
      }

      .masonry-grid-item {
        float: left;
      }

      .masonry-grid-item img {
        cursor: pointer;
        display: block;
        max-width: 100%;
      }
    }
  }

  @media only screen and (max-width: 700px) {
    .masonry-grid-item{
      width: 94% !important;
    }
  }
</style>
<script>
  import loader from '@/components/common/loader.vue'
  export default{
    computed: {
      imgList () {
        return this.$store.state.imageDemo.imgList
      },
      showLoader () {
        return this.$store.state.imageDemo.viewerLoader
      }
    },
    components: {
      loader
    },
    methods: {
      setQueryImg: function (img) {
        this.$store.dispatch('imageDemo/enableSetQueryImg', {
          newUrl: img.url,
          newMediaId: img.mediaId
        })
      }
    },
    watch: {
      imgList: {
        handler: function (newVal, oldVal) {
          let self = this
          this.$nextTick(() => {
            var $grid = $('.masonry-grid').masonry({
              itemSelector: '.masonry-grid-item',
              percentPosition: true,
              columnWidth: '.masonry-grid-sizer'
            })
            $grid.imagesLoaded().progress(function () {
              $grid.masonry()
              if (self.showLoader) {
                self.$store.dispatch('imageDemo/hideViewerLoader')
              }
            })
          })
        }
      },
      deep: true
    }
  }
</script>
