<template>
    <div id="main-page">
      <div class="mainpage-clearfix max-width-container">
        <div class="mainpage-container">
          <div class="image-uploader-container">
            <image-uploader model="fashion" @queryImg="searchSimImg($event)"></image-uploader>
          </div><!--
       --><div class="image-viewers-container">
            <similar-image-viewer></similar-image-viewer>
            <image-prediction-viewer :area="area"></image-prediction-viewer>
          </div>
        </div>
      </div>
    </div>
</template>
<style lang="scss">
  @import '~@/components/general.scss';

  .mainpage-clearfix {

    .mainpage-container {
      margin: 0 auto;
      position: relative;
      border: 2px solid #fafafa;

      .image-uploader-container {
        width: 450px;
        display: inline-block;
        vertical-align: top;
      }

      .image-viewers-container {
        width: calc(100% - 450px);
        display: inline-block;
        border-left: 2px solid #fafafa;
        vertical-align: top;
      }
    }
  }

  @media only screen and (max-width: $tablet-break-point) {
    .mainpage-clearfix{
      padding: 10px 20px 30px 20px;

      .mainpage-container {
        .image-uploader-container {
          width: 100%;
        }

        .image-viewers-container {
          width: 100%;
          border-left: none;

          .result-img-masonry {
            max-height: none;
          }
        }
      }
    }
  }
</style>
<script>
  import imageUploader from '@/components/demo/similarImageSearch/imageUploader/imageUploader.vue'
  import similarImageViewer from '@/components/demo/similarImageSearch/similarImageViewer.vue'
  import imagePredictionViewer from '@/components/demo/similarImageSearch/imagePredictionViewer.vue'
  import searchService from '@/libs/webServices/searchService.js'
  import credentials from '@/libs/credentials.js'

  export default{
    data () {
      return{
        area: {},
      }
    },
    components: {
      imageUploader,
      similarImageViewer,
      imagePredictionViewer
    },
    computed: {
      queryImg () {
        return this.$store.state.imageDemo.queryImg
      },
    },
    watch: {
      queryImg: function (newVal, oldVal) {
        if (newVal) {
          this.searchSimImg()
        }
      }
    },
    methods: {
      searchSimImg: function (payload) {
        if (!this.$store.state.imageDemo.queryImg) {
          toastr.error('Please add a query image')
          return
        }
        let area = {},
            self = this
        if (payload) {
          if (Object.keys(payload.cropData).length > 0) {
            let cropData = payload.cropData
            area['h'] = parseInt(cropData.height)
            area['w'] = parseInt(cropData.width)
            area['x'] = parseInt(cropData.x)
            area['y'] = parseInt(cropData.y)
            self.area = area
          } else {
            self.area = {}
          }
        }
        self.$store.dispatch('imageDemo/clearImgList')
        self.$store.dispatch('imageDemo/showViewerLoader')
        if (document.getElementById('img-viewer').getBoundingClientRect().top !== document.getElementById('img-uploader').getBoundingClientRect().top) {
          // call scrolling after images are remove from DOM, otherwise the animation start from the position which included all images. For example, the animation was from 1600px to 300px, but the images are gone immediately and window become 1000px so the first 600px just stop at footer.
          this.$nextTick(() => {
            $("html, body").animate({
              scrollTop: $($('.viewer-title')[0]).offset().top
            }, 1000)
          })
        }
        searchService.searchSimilarImage({
          mediaUrl: this.$store.state.imageDemo.queryImg.url,
          mediaId: this.$store.state.imageDemo.queryImg.mediaId,
          area: area,
          clientId: credentials.demo.clientId,
          clientSecret: credentials.demo.clientSecret,
          modelId: 'fashion'
        }).then((res) => {
          let data = []
          //add MediaID to imgList
          for (let i = 0; i < res.data.medias.length; i++) {
            let imgObj = {}
            imgObj['url'] = res.data.medias[i].mediaUrl
            imgObj['mediaId'] = res.data.medias[i].mediaId
            data.push(imgObj)
          }
          self.$store.dispatch('imageDemo/setImgList', {newList: data})
        }).catch((err) => {
          toastr.error('Something gose wrong, please try again')
          self.$store.dispatch('imageDemo/hideViewerLoader')
        })
      }
    },
    beforeRouteLeave(to, from, next) {
      this.$store.dispatch('imageDemo/clearQueryImg')
      this.$store.dispatch('imageDemo/clearImgList')
      next()
    }
  }
</script>
