<template>
    <div id="reset-pw">
        <div class="account-container rs animated resetpw" >
          <div class="content-wrapper">
            <transition name="fade">
              <div v-if="!resetSuccess && !posted">
                <div class="form-caption-wrapper">
                  <div class="form-caption text-center">
                    Reset your password
                  </div>
                </div>

                <div class="form-container">
                  <div class="form-sm-caption">
                    Enter a new password
                  </div>
                  <form @submit.prevent="submitForm()" >
                    <label for="ps">New password (min. 6 characters)</label>
                    <input id="ps" class="general-input" type="password" placeholder="Type your new password" v-model="ps" minlength="6" required>
                    <label for="ps-confirm">Confirm password</label>
                    <input id='ps-confirm' class="general-input" type="password" placeholder="Type your new password one more time" v-model="confirmPs" minlength="6" required>
                    <input type="submit" class="button white-button" value="SUBMIT">
                  </form>
                </div>
              </div>
            </transition>

            <transition name="slide-fade">
              <div class="reset-success text-center" v-if="resetSuccess && posted">
                <div class="img-container">
                  <img :src="success">
                </div>

                <div class="form-caption-wrapper suc">
                  <div class="form-caption">
                    Password change successful
                  </div>
                  <div class="form-sub-caption">
                    Your password has been changed successfully!
                  </div>
                </div>
              </div>
            </transition>

            <transition name="slide-fade">
              <div class="reset-success text-center" v-if="!resetSuccess && posted">
                <div class="img-container">
                  <img :src="fail">
                </div>

                <div class="form-caption-wrapper suc">
                  <div class="form-caption">
                    Sorry, something went wrong.
                  </div>
                  <div class="form-sub-caption">
                    Please try again.
                  </div>
                </div>
              </div>
            </transition>
          </div>
        </div>
    </div>
</template>
<style lang="scss">
  @import '~@/components/general.scss';

  .reset-pw {
    .slide-fade-enter-active {
      transition: all 1s ease;
    }
    .slide-fade-leave-active {
      transition: all 1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
      /* .slide-fade-leave-active for <2.1.8 */ {
      transform: translateX(20px);
      opacity: 0;
    }
  }

</style>
<script>
  import accountService from '@/libs/webServices/accountService.js'
    export default{
        data () {
            return{
              ps: '',
              success: require('@/assets/Succes_icon.png'),
              fail: require('@/assets/Sorry_icon.png'),
              confirmPs: '',
              key: this.$route.query.key,
              posted: false,
              resetSuccess: false,
            }
        },
        methods: {
          submitForm() {
            this.resetSuccess = false;
            this.posted = true;
//            accountService.resetPw(key, confirmPs).then((res) => {
//              console.log(res);
//            }).catch((err) => {
//              console.log(err);
//            });
          }
        },
        components: {

        },
        watch: {
          confirmPs (val, oldVal) {
            if (val != this.ps) {
              document.getElementById('ps-confirm').setCustomValidity("Passwords do not match");
            } else {
              if (val.length < 6) {
                document.getElementById('ps-confirm').setCustomValidity("Minimum 6 characters");
              } else {
                document.getElementById('ps-confirm').setCustomValidity('');
              }

            }
          },
          'ps':function (val, oldVal) {
            if (val != this.confirmPs) {
              document.getElementById('ps-confirm').setCustomValidity("Passwords do not match");
            } else {
              if (val.length < 6) {
                document.getElementById('ps-confirm').setCustomValidity("Minimum 6 characters");
              } else {
                document.getElementById('ps-confirm').setCustomValidity('');
              }

            }
          }
        }
    }
</script>
