<template>
    <div id="img-uploader">
      <div class="uploader-clearfix">
        <div class="uploader-text-wrapper">
          <transition name="fade" mode="out-in">
            <div v-if="!queryImg" key="drop"><i class="image icon"></i>{{ uploaderHeading }}</div>
            <div v-else key="new" @click="$store.dispatch('imageDemo/clearQueryImg')" id="upload-new"><i class="image icon"></i>UPLOAD NEW IMAGE</div>
          </transition>
        </div>

        <drag-drop :model="model" v-if="!queryImg" @finishUpload="genQueryImg($event)"></drag-drop>
        <div class="canvas-wrapper" v-show="queryImg">
          <div>
            <canvas class="query-image"></canvas>
            <div class="func-buttons">
              <button v-if="queryImg && !cropEnable" @click="initCrop()">CROP</button><!--
              --><button v-if="cropEnable" @click="destroyCrop()">CLEAR</button><!--
              --><button v-if="cropEnable" @click="searchImg()">SEARCH</button>
            </div>
          </div>
        </div>

        <div class="url-input" >
          <input type="text" v-model="imgUrl" placeholder="Enter url of an image"><button @click="genQueryImg()">READ</button>
        </div>

        <div class="random-img">
          <div>OR SELECT AN IMAGE</div>
          <div class="random-img-list">
            <ul>
              <li v-for="img in randomImgList">
                <div class="img-wrapper" :style="{'backgroundImage': `url(${img.url})`}"  @click="setQueryImg(img)"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</template>
<style lang="scss">
  @import '~@/components/general.scss';
  @import '~@/libs/cropperjs/cropper.min.css';

  #img-uploader{

    .uploader-clearfix{
      padding: 10px 40px;

      .uploader-text-wrapper{
        text-align: center;

        #upload-new{
          cursor: pointer;
        }
      }
    }

    #dragAndDrop{
      margin-top: 10px;
    }

    .canvas-wrapper{
      width: 100%;
      padding: 10px;
      outline: 2px dashed #92b0b3;
      margin-top: 10px;
      position: relative;
    }
    .query-image{
      margin: 0 auto;
      display: block;
      max-height: 100%;
      max-width: 100%;
    }

    .url-input{
      margin: 1rem 0px 5px 0px;
      input{
        border: 1px solid #b2b2b2;
        background-color: #f5f5f5;
        vertical-align: top;
        box-sizing: border-box;
        padding: 0 5px;
        height: 2rem;
        width: calc(100% - 5.5rem);
        margin-right: 0.5rem;
      }

      button{
        font-size: 1rem;
        vertical-align: top;
        color: $green-color;
        background-color: #ffffff;
        border: 2px  $green-color solid;
        width: 5rem;
        box-sizing: border-box;
        height: 2rem;
      }
    }

    .func-buttons{
      text-align: right;
      margin-top: 10px;
      white-space: nowrap;
      button{
        vertical-align: top;
        color: $green-color;
        background-color: #ffffff;
        border: 2px  $green-color solid;
        margin-left: 0.5rem;
        box-sizing: border-box;
        padding: 0 1rem;
        height: 2rem;
      }
    }

    .random-img{
      margin-top: 3rem;
      .random-img-list{
        ul{
          padding: 0;
          list-style: none;

          li{
            display: inline-block;
            position: relative;
            margin-right: 1%;
            width: 19%;
            div{
              cursor: pointer;
              width: 100%;
              height: 100px;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }


  @media only screen and (max-width: 400px) {
    .uploader-clearfix{
      width: 300px;
      margin: 0 auto;
      padding: 10px 20px !important;
    }
  }
  .fade-enter-active{
    transition: all .8s ease;
  }
  .fade-leave-active {
    transition: opacity .5s
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0
  }

</style>
<script>
  import dragDrop from './dragDrop/dragDrop.vue'
  import Cropper from '@/libs/cropperjs/cropper.esm.js'
  import Utils from '@/libs/Utils.js'

  export default{
    computed: {
      queryImg () {
        return this.$store.state.imageDemo.queryImg
      },
      changeQueryImg () {
        return this.$store.state.imageDemo.setQueryImg
      },
      randomImgList () {
        let indexSet = new Set()
        let randomImgArray = []
        while (indexSet.size < 5) {
          indexSet.add(Math.floor(Math.random() * this.imgList.length))
        }
        for (let item of indexSet) {
          randomImgArray.push(this.imgList[item])
        }
        return randomImgArray
      },
      uploaderHeading () {
        switch(this.model) {
          case 'fashion':
            return 'FASHION AND STYLE DEMO'
            break
          default:
            return 'DROP YOUR IMAGE HERE'
        }
      }
    },
    props: ['model'],
    watch: {
      changeQueryImg: {
        handler: function (newVal, oldVal) {
          if (newVal.flag) {
            if (this.cropper) {
              this.destroyCrop()
            }
            this.genQueryImg(newVal.url)
            this.$store.dispatch('imageDemo/disableSetQueryImg')
          }
        },
        deep: true
      }
    },
    data () {
      return {
        cropper: null,
        cropEnable: false,
        imgList:  [
          { mediaId: 418759 , url: 'https://cdn-images.farfetch-contents.com/11/77/80/84/11778084_8480765_1000.jpg'},
          { mediaId: 304570 , url: 'https://cdn-images.farfetch-contents.com/11/53/74/67/11537467_7329123_1000.jpg'},
          { mediaId: 523066 , url: 'https://cdn-images.farfetch-contents.com/11/71/93/68/11719368_8031780_1000.jpg'},
          { mediaId: 359604 , url: 'https://cdn-images.farfetch-contents.com/11/73/39/02/11733902_8304213_1000.jpg'},
          { mediaId: 766969 , url: 'https://cdn-images.farfetch-contents.com/11/84/74/89/11847489_8709666_1000.jpg'},
          { mediaId: 221284 , url: 'https://cdn-images.farfetch-contents.com/11/72/82/87/11728287_8082816_1000.jpg'},
          { mediaId: 761334 , url: 'https://cdn-images.farfetch-contents.com/11/50/55/52/11505552_7144618_1000.jpg'},
          { mediaId: 922904 , url: 'https://cdn-images.farfetch-contents.com/11/77/74/98/11777498_8472864_1000.jpg'},
          { mediaId: 946811 , url: 'https://cdn-images.farfetch-contents.com/11/75/94/27/11759427_8404490_1000.jpg'},
          { mediaId: 828053 , url: 'https://cdn-images.farfetch-contents.com/11/70/84/48/11708448_8239552_1000.jpg'},
          { mediaId: 574152 , url: 'https://cdn-images.farfetch-contents.com/11/70/88/40/11708840_8036489_1000.jpg'},
          { mediaId: 546267 , url: 'https://cdn-images.farfetch-contents.com/11/68/17/83/11681783_7813853_1000.jpg'},
          { mediaId: 557710 , url: 'https://cdn-images.farfetch-contents.com/11/39/80/00/11398000_7276090_1000.jpg'},
          { mediaId: 350754 , url: 'https://cdn-images.farfetch-contents.com/11/82/42/62/11824262_8649220_1000.jpg'},
          { mediaId: 666866 , url: 'https://cdn-images.farfetch-contents.com/11/67/13/60/11671360_8283632_1000.jpg'},
          { mediaId: 400994 , url: 'https://cdn-images.farfetch-contents.com/11/83/45/33/11834533_8680878_1000.jpg'},
          { mediaId:  86604 , url: 'https://cdn-images.farfetch-contents.com/11/83/52/25/11835225_8736415_1000.jpg'},
          { mediaId: 601528 , url: 'https://cdn-images.farfetch-contents.com/11/81/32/43/11813243_8566353_1000.jpg'},
          { mediaId: 406117 , url: 'https://cdn-images.farfetch-contents.com/11/77/80/84/11778084_8480766_1000.jpg'},
          { mediaId: 599572 , url: 'https://cdn-images.farfetch-contents.com/11/59/53/28/11595328_7482357_1000.jpg'},
          { mediaId: 380603 , url: 'https://cdn-images.farfetch-contents.com/11/75/94/27/11759427_8404492_1000.jpg'},
          { mediaId: 105460 , url: 'https://cdn-images.farfetch-contents.com/11/66/29/97/11662997_7869290_1000.jpg'},
          { mediaId: 981016 , url: 'https://cdn-images.farfetch-contents.com/11/72/56/16/11725616_8208334_1000.jpg'},
          { mediaId: 188777 , url: 'https://cdn-images.farfetch-contents.com/11/32/76/98/11327698_6614863_1000.jpg'},
          { mediaId: 293393 , url: 'https://cdn-images.farfetch-contents.com/11/82/21/05/11822105_8558227_1000.jpg'},
          { mediaId: 417277 , url: 'https://cdn-images.farfetch-contents.com/11/63/03/24/11630324_7588202_1000.jpg'},
          { mediaId: 105626 , url: 'https://cdn-images.farfetch-contents.com/11/81/11/07/11811107_8613661_1000.jpg'},
          { mediaId: 494471 , url: 'https://cdn-images.farfetch-contents.com/11/65/02/43/11650243_7695136_1000.jpg'},
          { mediaId: 749722 , url: 'https://cdn-images.farfetch-contents.com/11/45/02/82/11450282_6863396_1000.jpg'},
          { mediaId: 742025 , url: 'https://cdn-images.farfetch-contents.com/11/72/56/16/11725616_8208334_1000.jpg'},
          { mediaId: 999831 , url: 'https://cdn-images.farfetch-contents.com/11/75/06/32/11750632_8355290_1000.jpg'},
          { mediaId: 392552 , url: 'https://cdn-images.farfetch-contents.com/11/64/98/57/11649857_7805615_1000.jpg'},
          { mediaId: 862823 , url: 'https://cdn-images.farfetch-contents.com/11/71/15/00/11711500_8146262_1000.jpg'},
          { mediaId: 313224 , url: 'https://cdn-images.farfetch-contents.com/11/62/79/04/11627904_7715136_1000.jpg'},
          { mediaId: 260326 , url: 'https://cdn-images.farfetch-contents.com/11/65/66/84/11656684_8159797_1000.jpg'},
          { mediaId: 724177 , url: 'https://cdn-images.farfetch-contents.com/11/64/99/81/11649981_7789772_1000.jpg'}
        ],
        imgUrl: ''
      }
    },
    components: {
      dragDrop
    },
    methods: {
      setQueryImg (img) {
        this.$store.dispatch('imageDemo/enableSetQueryImg', {newUrl: img.url, newMediaId: img.mediaId || undefined})
      },
      searchImg () {
        this.$emit('queryImg', {cropData: this.cropper.getData()})
      },
      initCrop () {
        if (!this.queryImg) {
          toastr.error('Please add a query image')
          return
        }

        let image = document.querySelector('.query-image')

        this.cropper = new Cropper(image, {
          checkCrossOrigin: false,
          chcekOrientation: true,
          rotatable: true,
          scalable: true,
          zoomable: false,
          minCropBoxHeight: 50,
          minCropBoxWidth: 50
        })

        this.cropEnable = true
      },
      destroyCrop: function () {
        if (this.cropper) {
          this.cropper.destroy()
          this.cropper = null
        }
        this.cropEnable = false
      },
      testImgUrl: function (url, timeoutT) {
        return new Promise((resolve, reject) => {
          var timeout = timeoutT || 5000
          var timer, img = new Image()
          img.onerror = img.onabort = function () {
            clearTimeout(timer)
            reject('error')
          }
          img.onload = function () {
            clearTimeout(timer)
            resolve('success')
          }
          timer = setTimeout(() => {
            //reset .src to invalid URL so it stops preious
            //loading, but doesn't trigger new load
            img.src = '//!!!!!/noexist.jpg'
            reject('timeout')
            }, timeout)
          img.src = url
        })
      },
      rotateImg (image, degrees) {
        let canvas = document.createElement('canvas')
        let ctx=canvas.getContext('2d')
        if (degrees == 90 || degrees == 270) {
          canvas.width = image.height
          canvas.height = image.width
        } else {
          canvas.width = image.width
          canvas.height = image.height
        }
        ctx.clearRect(0,0,canvas.width,canvas.height)
        if (degrees == 90 || degrees == 270) {
          ctx.translate(image.height/2,image.width/2)
        } else {
          ctx.translate(image.width/2,image.height/2)
        }
        ctx.rotate(degrees*Math.PI/180)
        ctx.drawImage(image,-image.width/2,-image.height/2)
        return canvas
      },
      drawOnCanvas (imgSrc, imgUrl) {
        Utils.fixImageOrientation(imgSrc).then(({image, src}) => {
          let self = this,
              canvas = document.querySelector('.query-image'),
              ctx = canvas.getContext('2d')
          ctx.clearRect(0, 0, canvas.width, canvas.height)

          let width
          let wrapperWidth = document.querySelector('#img-uploader').offsetWidth - 80

          let wrapperHeight = 320
          if (image.width < wrapperWidth) {
            width = image.width
          } else {
            width = wrapperHeight * (image.width / image.height)
          }
          canvas.width = width // destination canvas size
          canvas.height = canvas.width * image.height / image.width


          let oc = document.createElement('canvas'),
            octx = oc.getContext('2d'),
            step = 0.5

          if (image.width * step > width) {
            let mul = 1 / step
            let cur = {
              width: Math.floor(image.width * step),
              height: Math.floor(image.height * step)
            }
            oc.width = cur.width
            oc.height = cur.height

            octx.drawImage(image, 0, 0, cur.width, cur.height)

            // donno what this does, but it was drawing second image behind the origional image so I comment it out
            while (cur.width * step > width) {
              cur = {
                width: Math.floor(cur.width * step),
                height: Math.floor(cur.height * step)
              }
              octx.drawImage(oc, 0, 0, cur.width * mul, cur.height * mul, 0, 0, cur.width, cur.height)
            }
            ctx.drawImage(oc, 0, 0, cur.width, cur.height, 0, 0, canvas.width, canvas.height)
          } else {
            ctx.drawImage(image, 0, 0, canvas.width, canvas.height)
          }

          var att = document.createAttribute('data-link')
          att.value = imgUrl
          canvas.setAttributeNode(att)
          self.$store.dispatch('imageDemo/setQueryImg', {newImg: {url: imgUrl, mediaId: self.changeQueryImg.mediaId}})
        })
      },
      genQueryImg (payload) {
        let self = this
        if (payload && typeof(payload) === 'object') {
          let reader = new FileReader()
          reader.onload = function (event) {
            self.drawOnCanvas(event.target.result, payload.url)
          }
          reader.readAsDataURL(payload.file)
        } else {
          let imgUrl = payload ? payload : this.imgUrl
          Utils.isUrlImage(imgUrl, 2000).then((res) => {
            self.drawOnCanvas(imgUrl, imgUrl)
          }).catch((error) => {
            if (error === 'timeout') {
              toastr.error('Load image time out, please try again later.')
            } else {
              toastr.error('Please enter a valid image url')
            }
          })
        }
      }
    }
  }
</script>
