<template>
    <div id="pageNotFound" class="text-center max-width-container">
			<h2>The page you are looking for is not found</h2>
      <p>The page you are looking for does not exist. It may have been moved, or removed altogether. Perhaps you can return back to the site’s homepage and see if you can find what you are looking for.</p>
    </div>
</template>
<style lang="scss">
  @import '~@/components/general.scss';

  #pageNotFound {
    padding: 4rem;
    max-width: $phone-break-point;
  }
</style>
