<template>
  <div id="feature-credentials">
    <div class="app-title">
      <h2 class="header item" >Your Applications</h2>
    </div>

    <div class="create-button-wrapper">
      <button class="green-button" id="create-api" @click="showModal = true">Create API Key</button>
    </div>

    <div class="ui divider"></div>

    <div class="check-apis">
      <div class="ui loading segment loading-box" v-show="showLoadingBox">
        <img v-for="i of 4" class="ui wireframe image paragraph" src="~@/assets/short-paragraph.png">
      </div>

      <div class="text-center" v-if="applicationList && applicationList.length === 0">
        <p>You don't have any API key.</p><p>Please use "Create API Key" button to create one.</p>
      </div>
      <table class="general-table" v-else-if="!showLoadingBox && applicationList && applicationList.length > 0">
        <thead>
        <tr>
          <th v-if="$store.getters.isAdmin" width="10%">User</th>
          <th width="10%">Name</th>
          <th :width="$store.getters.isAdmin ? '35%' : '40%'" class="text-center">Client ID</th>
          <th :width="$store.getters.isAdmin ? '35%' : '40%'" class="text-center">Client Secret</th>
          <th width="10%" class="text-center">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr v-for="api in applicationList">
          <td v-if="$store.getters.isAdmin">{{ api.user.login }}</td>
          <td>
            {{api.application}}
          </td>
          <td class="copy-button">
            <div class="tooltip">
              <div class="tooltip-content"
                   @click="copyText($event)"
                   @mouseleave="setDefaultSpan($event)">
                {{api.clientId}}
              </div>
              <span class="tooltiptext">{{tooltipText}}</span>
            </div>
          </td>
          <td class="copy-button">
            <div class="tooltip">
              <div class="tooltip-content"
                   @click="copyText($event)"
                   @mouseleave="setDefaultSpan($event)">
                {{api.clientSecret}}
              </div>
              <span class="tooltiptext">{{tooltipText}}</span>
            </div>
          </td>
          <td class="actions"><i class="trash icon" @click="deleteApplication(api.application, api.id)"></i></td>
        </tr>

        </tbody>
      </table>
    </div>

    <api-modal v-if="showModal" @close="showModal = false"></api-modal>
  </div>
</template>

<script>
  import accountService from '@/libs/webServices/accountService.js'
  import apiModal from '@/components/dashboard/userProducts/scopeCheck/credentials/apiModal/apiModal.vue'
  export default {
    computed: {
      applicationList() {
        return this.$store.state.ScopeCheck.applicationList;
      }
    },
    created() {
      this.getApplicationList()
    },
    data () {
      return {
        showLoadingBox: false,
        showModal: false,
        tooltipText: 'Click to copy'
      }
    },
    methods: {
      async getApplicationList (refresh = false) {
        this.showLoadingBox = true
        await this.$store.dispatch('ScopeCheck/getApplicationList', { refresh }).catch((error) => {
          toastr.error(error.message)
        })
        this.showLoadingBox = false
      },
      async deleteApplication (appName, appId) {
        // add a simple delete confirmation in case of accidental click. add a better dialog when we have time
        if (!confirm(`Are you sure you want to delete application "${appName}"`)) {
          return;
        }
        this.showLoadingBox = true
        await this.$store.dispatch('ScopeCheck/deleteApplication', { appId: appId }).catch((error) => {
          toastr.error(error.message)
        })
        this.showLoadingBox = false
      },
      copyText (event) {
        let target = event.srcElement;
        let success;
        if (document.selection) {
          let range = document.body.createTextRange();
          range.moveToElementText(target);
          range.select();
          success = document.execCommand('copy');
        }else if (window.getSelection) {
          let range = document.createRange();
          range.selectNodeContents(target);
          window.getSelection().removeAllRanges();
          window.getSelection().addRange(range);
          success = document.execCommand('copy');
        }
        if (success) {
          let span = target.nextElementSibling;
          span.textContent = 'Copied';
        }
      },
      setDefaultSpan (event) {
        let target = event.srcElement;
        let span = target.nextElementSibling;
        if (span.textContent != this.tooltipText)
          span.textContent = this.tooltipText;
      }
    },
    components: {
      apiModal
    }
  }
</script>

<style lang="scss">
  @import '~@/components/general.scss';

  #feature-credentials{
    .trash.icon{
      cursor: pointer;
    }

    .paragraph{
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .app-title{
      display: inline-block;
    }



    .create-button-wrapper{
      float:right;
      button{
        padding: 5px 3px;
        font-size: 1.2em;
      }
    }

    .api-input{
      margin-top: 15px;
      .new-api{
        padding: 3px 12px !important;
        border: none !important;
        border-radius: .28571429rem !important;
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;
      }
    }

    .check-apis {
      margin: 2rem 0;

      table {
        th.text-center {
          text-align: center;
        }

        td.actions {
          padding: 12px 5px;
          text-align: center;
        }

        td.copy-button {
          background-color: #f7f8f9;
          cursor: pointer;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }

    /* Tooltip container */
    .tooltip {
      position: relative;
      display: block;
      /*border-bottom: 1px dotted black; !* If you want dots under the hoverable text *!*/
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color:  #ffffff;
      border: 1px solid rgba(34, 36, 38, 0.1);
      color: $green-color;
      text-align: center;
      border-radius: 6px;
      padding: 5px 3px;
      position: absolute;
      z-index: 1;
      bottom: 150%;
      left: 50%;
      margin-left: -60px;
    }

    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $gray-color transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
  }
</style>
