<template>
  <canvas :width="map.domNode.width" :height="map.domNode.height"></canvas>
</template>
<script>
  import Map from './Map.js'

  export default {
    data () {
      return {
        map: Map,
        canvas: null,
        ctx: null,
        clusterColors: ['rgb(111,230,33)', 'rgb(251,73,124)', 'rgb(255,199,96)', 'rgb(0,178,162)', 'rgb(255,87,87)', 'rgb(76,200,250)', 'rgb(9,209,103)', 'rgb(72,118,240)', 'rgb(151,88,166)']
      }
    },
    props: [
      'clusters'
    ],
    mounted () {
      this.canvas = this.$el
      this.ctx = this.canvas.getContext('2d')
      this.ctx.globalAlpha = 0.9
      this.ctx.strokeStyle = '#fff'
    },
    methods: {
      draw () {
        this.ctx.setTransform(1, 0, 0, 1, 0, 0)
        this.ctx.clearRect(0, 0, Map.domNode.width, Map.domNode.height)
        this.ctx.translate(Map.zoomState.x, Map.zoomState.y)
        this.ctx.scale(Map.zoomState.k, Map.zoomState.k)

        if (this.clusters) {
          for (var i in this.clusters) {
            this.ctx.fillStyle = this.clusterColors[i]

            this.ctx.beginPath()
            this.ctx.arc(this.clusters[i].x, this.clusters[i].y, Map.graphing.thumbSize, 0, 2 * Math.PI, false)
            this.ctx.fill()
            this.ctx.stroke()
          }
        }
      }
    }
  }
</script>
