<template>
  <canvas :width="map.domNode.width" :height="map.domNode.height"></canvas>
</template>
<script>
  import Map from './Map.js'

  export default {
    data () {
      return {
        map: Map,
        canvas: null,
        ctx: null
      }
    },
    props: [
      'highlightArea'
    ],
    mounted () {
      this.canvas = this.$el
      this.ctx = this.canvas.getContext('2d')
    },
    methods: {
      draw () {
        this.ctx.setTransform(1, 0, 0, 1, 0, 0)
        this.ctx.clearRect(0, 0, Map.domNode.width, Map.domNode.height)
        this.ctx.translate(Map.zoomState.x, Map.zoomState.y)
        this.ctx.scale(Map.zoomState.k, Map.zoomState.k)

        if (this.highlightArea) {
          this.ctx.globalAlpha = 0.6
          this.ctx.fillStyle = '#0fb2a2'

          this.ctx.beginPath()
          if (this.highlightArea.type === 'thumb') {
            this.ctx.fillRect(this.highlightArea.graphing.x, this.highlightArea.graphing.y, Map.graphing.thumbSize, Map.graphing.thumbSize)
          } else if (this.highlightArea.type === 'circle') {
            this.ctx.arc(this.highlightArea.graphing.x, this.highlightArea.graphing.y, this.highlightArea.graphing.r(), 0, 2 * Math.PI, false)
            this.ctx.fill()
          } else if (this.highlightArea.type === 'polygon') {
            this.ctx.moveTo(this.highlightArea.graphing[0].x, this.highlightArea.graphing[0].y)
            for (let i = 1; i < this.highlightArea.graphing.length; i++) {
              this.ctx.lineTo(this.highlightArea.graphing[i].x, this.highlightArea.graphing[i].y)
            }
            this.ctx.fill()
          }
        }
      }
    }
  }
</script>
