<template>
  <div class="source-images-container" v-if="highlightImages.images && highlightImages.images.length > 0">
    <div class="soucre-images">
      <div class="total-counts text-center">{{ highlightImages.count }} images</div>
      <img v-for="(image, index) in highlightImages.images" :src="image.url">
      <div class="load-more text-center" v-if="highlightImages.images.length < highlightImages.count" @click="$emit('load-highlight-images')">Load More</div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .source-images-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #0fb2a2;
    padding: 1rem;
    border: 1px solid #979797;

    .soucre-images {
      max-height: 100%;
      background: #fff;
      border: 1px solid #979797;
      overflow: auto;

      img {display: block; width: 128px;}

      .total-counts {
        color: #0fb2a2;
        padding: 0.5rem;
      }

      .load-more {
        color: #0fb2a2;
        border: 1px solid #0fb2a2;
        margin: 1rem 0.5rem;
        padding: 0.25rem 0.5rem;
        border-radius: 20px;
        cursor: pointer;

        &:hover {
          background: #0fb2a2;
          color: #fff;
        }
      }
    }
  }
</style>

<script>
  export default {
    props: ['highlightImages']
  }
</script>
