<template>
  <canvas :width="map.domNode.width" :height="map.domNode.height"></canvas>
</template>
<script>
  import Map from './Map.js'

  export default {
    data () {
      return {
        map: Map,
        canvas: null,
        ctx: null,
        labeledThumbs: {},
        labelGroups: [],
        colorArray: ['#1f77b4', '#aec7e8', '#ff7f0e', '#ffbb78', '#2ca02c', '#98df8a', '#d62728', '#ff9896', '#9467bd', '#c5b0d5', '#8c564b', '#c49c94', '#e377c2', '#f7b6d2', '#7f7f7f', '#c7c7c7', '#bcbd22', '#dbdb8d', '#17becf', '#9edae5', '#393b79', '#5254a3', '#6b6ecf', '#9c9ede', '#637939', '#8ca252', '#b5cf6b', '#cedb9c', '#8c6d31', '#bd9e39', '#e7ba52', '#e7cb94', '#843c39', '#ad494a', '#d6616b', '#e7969c', '#7b4173', '#a55194', '#ce6dbd', '#de9ed6', '#3182bd', '#6baed6', '#9ecae1', '#c6dbef', '#e6550d', '#fd8d3c', '#fdae6b', '#fdd0a2', '#31a354', '#74c476', '#a1d99b', '#c7e9c0', '#756bb1', '#9e9ac8', '#bcbddc', '#dadaeb', '#636363', '#969696', '#bdbdbd', '#d9d9d9']
      }
    },
    mounted () {
      this.canvas = this.$el
      this.ctx = this.canvas.getContext('2d')
      this.ctx.textAlign = 'center'
      this.ctx.textBaseline = 'middle'
    },
    methods: {
      draw () {
        this.ctx.setTransform(1, 0, 0, 1, 0, 0)
        this.ctx.clearRect(0, 0, Map.domNode.width, Map.domNode.height)
        this.ctx.translate(Map.zoomState.x, Map.zoomState.y)
        this.ctx.scale(Map.zoomState.k, Map.zoomState.k)

        this.ctx.globalAlpha = 0.75
        this.ctx.font = Map.dynamicParams.polygonMarkingSize() * 5 + 'px Arial'

        for (var l of this.labelGroups) {
          this.ctx.fillStyle = l.color
          for (var point of l.points) {
            this.ctx.beginPath()
            this.ctx.fillRect(point.x, point.y, Map.graphing.thumbSize, Map.graphing.thumbSize)
          }
        }

        this.ctx.globalAlpha = 1
        this.ctx.fillStyle = '#ff0'
        // eslint-disable-next-line
        for (var l of this.labelGroups) {
          this.ctx.beginPath()
          this.ctx.fillText(l.label, l.points[0].x, l.points[0].y)
        }
      },
      add (label, points) {
        for (var i of points) {
          var p = i.split(' ')
          if (!this.labeledThumbs[p[0]]) {
            this.labeledThumbs[p[0]] = {}
          }
          this.labeledThumbs[p[0]][p[1]] = label
        }

        this.generateLabelGroups()
      },
      empty () {
        this.labeledThumbs = {}
        this.generateLabelGroups()
      },
      generateLabelGroups () {
        var count = 0
        this.labelGroups = []
        for (var x in this.labeledThumbs) {
          for (var y in this.labeledThumbs[x]) {
            var group = this.labelGroups.find(e => e.label === this.labeledThumbs[x][y])
            if (typeof group === 'undefined') {
              group = {
                label: this.labeledThumbs[x][y],
                color: this.colorArray[count],
                points: []
              }
              this.labelGroups.push(group)
              count++
            }
            group.points.push({x: Map.toGraphing(x), y: Map.toGraphing(y)})
          }
        }
      }
    }
  }
</script>
