<template>
  <canvas :width="map.domNode.width" :height="map.domNode.height"></canvas>
</template>
<script>
  import Map from './Map.js'

  export default {
    data () {
      return {
        map: Map,
        canvas: null,
        ctx: null
      }
    },
    props: ['savedPolygons', 'incompletePolygon'],
    mounted () {
      this.canvas = this.$el
      this.ctx = this.canvas.getContext('2d')
    },
    methods: {
      draw () {
        this.ctx.setTransform(1, 0, 0, 1, 0, 0)
        this.ctx.clearRect(0, 0, Map.domNode.width, Map.domNode.height)
        this.ctx.translate(Map.zoomState.x, Map.zoomState.y)
        this.ctx.scale(Map.zoomState.k, Map.zoomState.k)

        this.ctx.lineWidth = Map.dynamicParams.polygonMarkingSize()
        this.ctx.strokeStyle = '#ff3333'
        this.ctx.fillStyle = '#ff3333'

        for (var polygon of this.savedPolygons) {
          if (polygon.requestComplete) { continue }

          this.ctx.beginPath()
          this.ctx.moveTo(polygon.graphing[0].x, polygon.graphing[0].y)
          for (let i = 1; i < polygon.graphing.length; i++) {
            this.ctx.lineTo(polygon.graphing[i].x, polygon.graphing[i].y)
          }
          this.ctx.stroke()
        }

        if (this.incompletePolygon.length > 1) {
          this.ctx.beginPath()
          this.ctx.moveTo(this.incompletePolygon[0].x, this.incompletePolygon[0].y)
          for (let i = 1; i < this.incompletePolygon.length; i++) {
            this.ctx.lineTo(this.incompletePolygon[i].x, this.incompletePolygon[i].y)
          }
          this.ctx.stroke()
        }

        for (let i = 0; i < this.incompletePolygon.length; i++) {
          this.ctx.beginPath()
          this.ctx.arc(this.incompletePolygon[i].x, this.incompletePolygon[i].y, Map.dynamicParams.polygonMarkingSize(), 0, 2 * Math.PI)
          this.ctx.fill()
        }
      }
    }
  }
</script>
