<template>
    <div class="scalable-map-container" :class="{fullscreen: fullscreen}">
      <tiles ref="tiles" class="layer bottom" />
      <clusters ref="clusters" class="layer" v-if="clusters" :clusters="clusters" />
      <labeled-thumbs ref="labeledThumbs" class="layer" />
      <highlight-area ref="highlightArea" class="layer" :highlightArea="highlightArea" />
      <saved-polygons ref="savedPolygons" class="layer" :savedPolygons="savedPolygons" :incompletePolygon="incompletePolygon" />
      <zoom-controller ref="zoomController" class="layer scalable-map" :class="{crosshair: taggingMode}" :fullscreen="fullscreen" @mouseup="onMouseup" @scalingstop="onScalingstop" />

      <div class="controls bottom">
        <div class="button clear-selection" v-if="highlightArea" @click="updateHighlightArea()"></div>
        <div class="button single" v-if="!taggingMode && highlightMode === 'thumb'" @click="highlightMode = 'circle'"></div>
        <div class="button range" v-if="!taggingMode && highlightMode === 'circle'" @click="highlightMode = 'thumb'"></div>
        <div class="button fullscreen" @click="fullscreen = !fullscreen"></div>
        <div class="button zoom-in" @click="scaleBy(2)"></div>
        <div class="button zoom-out" @click="scaleBy(0.5)"></div>
      </div>
      <div class="controls top">
        <div class="button tags" v-if="!taggingMode && savedPolygons.filter(p => p.requestComplete).length > 0">
          <span v-show="polygon.requestComplete" v-for="polygon of savedPolygons" @click="updateHighlightArea({polygon: polygon})">#{{ polygon.label }}</span>
        </div>
        <div class="button" v-if="!taggingMode && showTaggingButton" @click="taggingMode = !taggingMode">Tagging Mode</div>
        <div class="button" v-if="taggingMode && incompletePolygon.length >= 3" @click="submitPolygon">Tag</div>
        <div class="button" v-if="taggingMode" @click="resetTags">Reset</div>
        <div class="button" v-if="taggingMode" @click="taggingMode = false">View Mode</div>
      </div>
      <highlight-images :highlight-images="highlightImages" @load-highlight-images="onLoadHighlightImages(false)" />
      <color-chart :colors="colors" />
    </div>
</template>

<script>
  import Map from './Map.js'
  import tiles from './tiles.vue'
  import clusters from './clusters.vue'
  import labeledThumbs from './labeledThumbs.vue'
  import highlightArea from './highlightArea.vue'
  import savedPolygons from './savedPolygons.vue'
  import zoomController from './zoomController.vue'

  import highlightImages from './highlightImages.vue'
  import colorChart from './colorChart.vue'

  export default {
    components: {tiles, clusters, labeledThumbs, highlightArea, savedPolygons, zoomController, highlightImages, colorChart},
    data () {
      return {
        map: Map,
        timeStamp: Date.now(),
        fullscreen: false,
        highlightImages: {
          count: 0,
          images: [],
          page: 0,
          size: 20
        },
        highlightMode: null,
        showTaggingButton: false,
        taggingMode: false,
        incompletePolygon: [],
        savedPolygons: [],
        highlightArea: null,
        colors: null,
        clusters: null
      }
    },
    mounted () {
      window.addEventListener('resize', this.updateSize)
      window.addEventListener('keydown', this.onKeyDown)

      requestAnimationFrame(this.update)
    },
    beforeDestroy () {
      window.removeEventListener('resize', this.updateSize)
      window.removeEventListener('keydown', this.onKeyDown)
    },
    watch: {
      fullscreen () {
        if (this.fullscreen) {
          // get current container position
          var container = this.$el.getBoundingClientRect()
          this.$nextTick(() => {
            // update map drawing location and size after css applied
            this.updateSize()
            this.$refs.zoomController.translateBy(container.left / Map.zoomState.k, container.top / Map.zoomState.k)
          })
        } else {
          this.$nextTick(() => {
            // get container position after css applied
            var container = this.$el.getBoundingClientRect()
            // update map drawing location and size after css applied
            this.updateSize()
            this.$refs.zoomController.translateBy(-container.left / Map.zoomState.k, -container.top / Map.zoomState.k)
          })
        }
      },
      highlightMode () {
        if (this.highlightArea) {
          if (this.highlightArea.type === 'polygon') {
          } else if (this.highlightMode === 'thumb') {
            this.updateHighlightArea({thumb: this.highlightArea.graphing})
          } else if (this.highlightMode === 'circle') {
            this.updateHighlightArea({circle: this.highlightArea.graphing})
          }
        }
      },
      taggingMode () {
        this.updateHighlightArea()
        this.incompletePolygon = []
      },
      highlightArea () {
        this.$emit('highlight-area-updated', this.highlightArea)
      }
    },
    methods: {
      initMap (params) {
        Map.init(params)

        this.resetTags()
        this.updateSize()
        this.updateClusters()
        this.updateHighlightArea()
        this.showTaggingButton = false
        this.taggingMode = false
        this.highlightMode = null

        this.$refs.zoomController.init()
        this.$refs.tiles.init()
      },
      enableHighlightImages () {
        this.highlightMode = 'circle'
      },
      enableTaggingButton () {
        this.showTaggingButton = true
      },
      updateSize () {
        Map.domNode.width = this.$el.offsetWidth
        Map.domNode.height = this.$el.offsetHeight
      },
      update () {
        var now = Date.now()

        if (now - this.timeStamp > 40) {
          this.timeStamp = now

          // null checking: donno why reusing template cause $ref to be undefined for one tick(frame)
          if (this.$refs.zoomController) { this.$refs.zoomController.update() }
          if (this.$refs.tiles) { this.$refs.tiles.draw() }
          if (this.$refs.clusters) { this.$refs.clusters.draw() }
          if (this.$refs.labeledThumbs) { this.$refs.labeledThumbs.draw() }
          if (this.$refs.highlightArea) { this.$refs.highlightArea.draw() }
          if (this.$refs.savedPolygons) { this.$refs.savedPolygons.draw() }
        }

        if (!this._isDestroyed && !this._isBeingDestroyed) {
          requestAnimationFrame(this.update)
        }
      },
      scaleBy (ratio) {
        this.$refs.zoomController.scaleBy(ratio)
      },
      onLoadHighlightImages (reload) {
        if (this.highlightArea) {
          if (reload) {
            this.highlightImages.images = []
            this.highlightImages.page = 0
          } else {
            this.highlightImages.page++
          }

          this.highlightArea.requestTimestamp = Date.now()

          this.$emit('search-highlight-images',
            this.highlightArea,
            this.highlightImages.page,
            this.highlightImages.size)
        } else {
          this.highlightImages.images = []
        }
      },
      updateHighlightImages (highlightArea, images, totalImageCount) {
        // becasue the call is async, check if user has changed selection
        if (this.highlightArea && highlightArea.requestTimestamp === this.highlightArea.requestTimestamp) {
          this.highlightImages.count = totalImageCount
          this.highlightImages.images = this.highlightImages.images.concat(images)
        }
      },
      onMouseup (e) {
        if (this.taggingMode) {
          this.incompletePolygon.push(e)
        } else if (this.highlightMode === 'thumb') {
          this.updateHighlightArea({thumb: e})
        } else if (this.highlightMode === 'circle') {
          this.updateHighlightArea({circle: e})
        }
      },
      onScalingstop () {
        if (this.highlightArea && this.highlightArea.type === 'circle') {
          this.onLoadHighlightImages(true)
          this.$emit('highlight-area-updated', this.highlightArea)
        }
      },
      onKeyDown (e) {
        if (e.key === 'Escape' || e.key === 'Esc' || e.keyCode === 27) {
          this.fullscreen = false
        }
      },
      submitPolygon () {
        var label = prompt('Enter the label to tag')

        if (label && label.length > 0) {
          this.incompletePolygon.push(this.incompletePolygon[0])
          var pendingPolygon = {
            label: label,
            graphing: this.incompletePolygon,
            physical: this.incompletePolygon.map((p) => {
              return {x: Map.toPhysical(p.x) - Map.physical.thumbSize / 2, y: Map.toPhysical(p.y) - Map.physical.thumbSize / 2}
            }),
            requestComplete: false
          }
          this.savedPolygons.push(pendingPolygon)
          this.$emit('submit-polygon', pendingPolygon)
          this.incompletePolygon = []
        }
      },
      updateThumbLabel (pendingPolygon, points) {
        var pendingIndex = this.savedPolygons.findIndex(a => a === pendingPolygon)
        if (pendingIndex >= 0) {
          pendingPolygon.requestComplete = true
          this.$refs.labeledThumbs.add(pendingPolygon.label, points)
        }
      },
      resetTags () {
        this.incompletePolygon = []
        this.savedPolygons = []
        this.$refs.labeledThumbs.empty()
      },
      updateHighlightArea (newArea = null) {
        if (newArea === null) {
          this.highlightArea = null
        } else if (newArea.polygon) {
          this.highlightArea = {
            type: 'polygon',
            physical: newArea.polygon.physical,
            graphing: newArea.polygon.graphing
          }
        } else if (newArea.thumb) {
          var x = newArea.thumb.x
          var y = newArea.thumb.y

          // translate the coordinate to top left corner of a thumb
          x = x - x % Map.graphing.thumbSize
          y = y - y % Map.graphing.thumbSize

          this.highlightArea = {
            type: 'thumb',
            physical: {x: Map.toPhysical(x), y: Map.toPhysical(y), r: () => Map.physical.thumbSize / 2},
            graphing: {x: x, y: y}
          }
        } else if (newArea.circle) {
          let x = newArea.circle.x
          let y = newArea.circle.y
          let r = Map.dynamicParams.highlightCircleRadius
          this.highlightArea = {
            type: 'circle',
            physical: {x: Map.toPhysical(x) - Map.physical.thumbSize / 2, y: Map.toPhysical(y) - Map.physical.thumbSize / 2, r: () => Map.toPhysical(r()) + Map.physical.thumbSize / 2},
            graphing: {x: x, y: y, r: r}
          }
        }

        this.onLoadHighlightImages(true)
      },
      updateClusters (clusters = null) {
        if (clusters) {
          clusters = clusters.map((c) => {
            return {x: Map.toGraphing(c.x), y: Map.toGraphing(c.y)}
          })
        }
        this.clusters = clusters
      }
    }
  }
</script>

<style lang="scss">
  .scalable-map-container {
    &.fullscreen {
      position: fixed !important;
      left: 0 !important;
      top: 0 !important;
      width: 100% !important;
      height: 100% !important;
      z-index: 10000 !important;
    }

    position: relative;
    canvas.layer {display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
    canvas.bottom {background: #000;}
    canvas.scalable-map {
      &.crosshair {cursor: crosshair;}
    }

    .controls {
      position: absolute;
      bottom: 1rem;

      &.top {
        right: 4rem;
        .button {
          background-color: #fff;
          border: 1px solid #E2E2E2;
          display: inline-block;
          padding: 0.25rem 0.5rem;
          cursor: pointer;
          &:hover {
            background-color: #E2E2E2;
          }
          &.tags {
            background: #fff;
            margin-right: 1rem;
            cursor: default;
            span {
              color: #2b7bb9;
              cursor: pointer;
              &:hover {
                color: #3b94d9;
              }
              &:not(:last-child) {
                margin-right: 1rem;
              }
            }
          }
        }
      }

      &.bottom {
        right: 1rem;
        .button {
          display: block;
          width: 2rem;
          height: 2rem;
          background-color: #fff;
          background-size: 70%;
          background-position: center;
          background-repeat: no-repeat;
          border: 1px solid #E2E2E2;
          cursor: pointer;

          &.clear-selection {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABWklEQVRYR+2WzUpDMRCFv+pSfEL/tauCIIhbF4pbQcGdP63v5yuUcqCFeMkkM0nxuujdtcnN+e6Zk0kmjPxMRtZnB/BvHXgCDoEbYNmZk33gFfgB7odrWQ7ohWvgG7jogJD4AjgCnoFbL8Ae8AWcdkCk4lprmvuQUgZ6IPSu3NOXm+JyoxbCFgi3uAdAcyIQIXEvgBdC4grccc32NIi1EqRzS040iUcc2IDkIDQ2B04iX75ZMOKABaH/tV2LabeaWQvAMBP63STeUoKcC38OoBykNReA2nWTC9ESDMXVXvW8t0JEAEpbTWMfwHnUCS+AZ5+nECrRlecU9QBE2qvmfgJn65xUIWoAEfF0h7ghSgCu89xoMKkTOh8urXJYAD3iuV5hQlgAb8AsmuiMG+nZ8bK+Y/6aZgE8AAfAnSfJlUurIHQf1KX00XsnrKy5veHaLtiekrHSDmB0B1bhM3IhNaRYIwAAAABJRU5ErkJggg==');
          }
          &.single {
            background-image: url('./assets/single.png');
          }
          &.range {
            background-image: url('./assets/range.png');
          }
          &.fullscreen {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmklEQVQ4T82T4QmDMBCFvwxRF5G6QhHcqKWlrlQFdxDdo12i5UECMVUaSJDer3Acd+/lvjPAm+/ogSZID8ApLDU5G1yAyU54AXMwrQQONlcBd719BTUgmTEhe49sDTo78roie0vNEbg5BTGSN2v0B0nxHw3c6s4eB79siYM22xrdLSSDpL06fJ/AGPiQ7MLmxIG4WaDs1+93jR9XJidzi4/4OgAAAABJRU5ErkJggg==');
          }
          &.zoom-in {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAATUlEQVQ4T2NkoBAwUqifgZABwlAL3uKyiJABi6EaY0eIAaAAm4DmV2so/yiaeAEDAwM4YJEDkWIDsAX0SIsFbGFAcVImmNcI5QWCBgAASjgQEeP0UXoAAAAASUVORK5CYII=');
          }
          &.zoom-out {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAN0lEQVQ4T2NkoBAwUqifYdQABuqGgTADA8MEImOlgIGB4S1ILXIsUGwAkZajKhtNB1ROB2TFAgAVMAQRTATiZQAAAABJRU5ErkJggg==');
          }
          &:hover {
            background-color: #E2E2E2;
          }
        }
      }
    }
  }
</style>
