<template>
  <canvas :width="map.domNode.width" :height="map.domNode.height"></canvas>
</template>
<script>
  import Map from './Map.js'
  import Tile from './Tile.js'

  export default {
    data () {
      return {
        map: Map,
        canvas: null,
        ctx: null,
        zoomScaleShifting: Math.pow(2, 1 / 3),
        tileList: []
      }
    },
    mounted () {
      this.canvas = this.$el
      this.ctx = this.canvas.getContext('2d')
    },
    methods: {
      init () {
        this.tileList = []

        for (var i = 0; i <= Map.maxZoomLevel; i++) {
          this.tileList[i] = []

          let numOfTilesPerSide = Math.pow(2, i)

          for (let col = 0; col < numOfTilesPerSide; col++) {
            this.tileList[i][col] = []

            for (let row = 0; row < numOfTilesPerSide; row++) {
              this.tileList[i][col][row] = new Tile({
                level: i,
                col: col,
                row: row,
                url: `${Map.url}/${i}/${col}/${row}.jpg`,
                ctx: this.ctx,
                tileSize: Map.physical.tileSize,
                parent: i > 0 ? this.tileList[i - 1][Math.floor(col / 2)][Math.floor(row / 2)] : null
              })
            }
          }
        }
      },
      draw () {
        this.ctx.setTransform(1, 0, 0, 1, 0, 0)
        this.ctx.clearRect(0, 0, Map.domNode.width, Map.domNode.height)
        this.ctx.translate(Map.zoomState.x, Map.zoomState.y)
        this.ctx.scale(Map.zoomState.k, Map.zoomState.k)

        if (this.tileList.length === 0) {
          return
        }

        var offsetX = Map.zoomState.x / Map.zoomState.k
        var offsetY = Map.zoomState.y / Map.zoomState.k
            // allow delay loading next level for better performance.
            // for example, without shifting, if zoom scale is 2^2, map loads level 2, but if zoom scale is 2^2.01, map loads level 3.
            // with shifting value 2^0.4, if zoom scale is 2^2.4, map still loads level 2.
        var level = Math.max(Math.ceil(Math.log2(Map.zoomState.k / this.zoomScaleShifting)), 0)
        var numOfTilesPerSide = Math.pow(2, level)
        var graphingWidth = Map.domNode.width / Map.zoomState.k
        var graphingHeight = Map.domNode.height / Map.zoomState.k
        var gridSize = Map.physical.tileSize / numOfTilesPerSide

        var minX = 0 - offsetX - gridSize
        var maxX = graphingWidth - offsetX
        var minY = 0 - offsetY - gridSize
        var maxY = graphingHeight - offsetY
        this.ctx.beginPath()

        for (let x = 0; x < numOfTilesPerSide; x++) {
          for (let y = 0; y < numOfTilesPerSide; y++) {
            // draw the on screen tiles only
            if (x * gridSize < minX || x * gridSize > maxX ||
                y * gridSize < minY || y * gridSize > maxY) {
              continue
            }

            this.tileList[level][x][y].drawImage(Map.scaling)
          }
        }
      }
    }
  }
</script>
