<template>
  <canvas :width="map.domNode.width" :height="map.domNode.height"></canvas>
</template>
<script>
  import * as d3 from 'd3'
  import Map from './Map.js'

  export default {
    data () {
      return {
        map: Map,
        canvas: null,
        canvasNode: null,
        ctx: null,
        zoom: null,
        mouseEvent: {}
      }
    },
    mounted () {
      this.canvas = d3.select(this.$el)
      this.canvasNode = this.canvas.node()
      this.ctx = this.canvasNode.getContext('2d')
    },
    methods: {
      init () {
        if (this.zoom) {
          this.canvas.call(this.zoom.transform, d3.zoomIdentity)
        }

        var maxZoomScale = Math.pow(2, Map.maxZoomLevel)
        var minZoomScale = Math.min(Math.min(Map.domNode.height, Map.domNode.width) / Map.physical.tileSize, maxZoomScale)

        this.zoom = d3.zoom()
          .scaleExtent([minZoomScale, maxZoomScale])
          .on('zoom', this.onZoom)
          .on('start', this.onZoomStart)
          .on('end', this.onZoomEnd)

        this.canvas
          .call(this.zoom)
          // center the map
          .call(this.zoom.translateBy, (Map.domNode.width - Map.physical.tileSize) / 2, (Map.domNode.height - Map.physical.tileSize) / 2)
          // programatically change initial scale
          .call(this.zoom.scaleTo, minZoomScale)
          // disable double click zooming
          .on('dblclick.zoom', null)
      },
      update () {
        var result = Map.updateZoomState(d3.zoomTransform(this.canvasNode))
        if (result.scalingstop) {
          this.$emit('scalingstop')
        }
      },
      onZoomStart () {
        let currentEvent = d3.event.sourceEvent

        if (currentEvent && currentEvent.type === 'mousedown') {
          this.mouseEvent.offsetX = currentEvent.offsetX
          this.mouseEvent.offsetY = currentEvent.offsetY
        }
      },
      onZoomEnd () {
        let currentEvent = d3.event.sourceEvent
        if (currentEvent && currentEvent.type === 'mouseup') {
          if (this.mouseEvent.offsetX === currentEvent.offsetX && this.mouseEvent.offsetY === currentEvent.offsetY) {
            var x = (currentEvent.offsetX - Map.zoomState.x) / Map.zoomState.k
            var y = (currentEvent.offsetY - Map.zoomState.y) / Map.zoomState.k

            if (this.mouseEvent.x !== x && this.mouseEvent.y !== y) {
              this.mouseEvent.x = x
              this.mouseEvent.y = y
              this.$emit('mouseup', {x, y})
            }
          }
        }
      },
      onZoom () {
      },
      scaleBy (ratio) {
        d3.transition().duration(400).tween('zoom', () => {
          var iScale = d3.interpolate(Map.zoomState.k, Map.zoomState.k * ratio)
          return (t) => {
            this.canvas.call(this.zoom.scaleTo, iScale(t))
          }
        })
      },
      translateBy (x, y) {
        this.canvas.call(this.zoom.translateBy, x, y)
      }
    }
  }
</script>
