@import '~@/components/general.scss';

.account-container {
  display: table;
  width: 100%;
  /* min-height doesn't apply to table. Instead, just use height and if content is taller, it stretches automatically*/
  height: 650px;
  background-image: url('~@/assets/background.jpg');

  .content-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 45px;

    .web-text-wrapper{
      margin: 30px 0;
      h1{
        font-weight: 100;
        color: #ffffff;
        font-size: 40px;
        line-height: 1.5em;

        @media only screen and (max-width: 750px) {
          min-height: 1rem;
          font-size: 2rem;
        }

        @media only screen and (max-width: 400px) {
          font-size: 1.8rem;
        }

        @media only screen and (max-width: 350px) {
          font-size: 1.4rem;
        }
      }
    }

    .form-caption {
      margin: 30px 0;
      font-size: 2em;
      color: white;
    }

    .form-sub-caption {
      font-size: 1.2em;
      color: white;
    }

    .form-container {
      max-width: 650px;
      width: 75%;
      background-color: #ffffff;
      padding: 20px 20px;
      margin: 0 auto;
      margin-bottom: 30px;

      .form-sm-caption {
        color: black;
        text-align: left;
        font-size: 1.5em;
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 20px;
      }

      form {
        text-align: right;

        label {
          color: $gray-color;
          display: block;
          text-align:  left;
          font-size: 16px;
          margin-top: 20px;
        }

        input[type=submit] {
          margin-top: 20px;
          font-size: 16px;
          padding: 6px 25px;
        }
      }

      .empty-space {
        height: 40px;
      }

      .signup-wrapper {
        p {
          color: $gray-color;

          button {
            text-align: right!important;
            color: #ffffff;
            font-size: 14px;
            padding: 3px 20px;
            background: $green-color;
            border-radius: 25px;
            border: 2px solid $green-color;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 750px) {
    .content-wrapper {
      padding: 0px 20px;
    }

    .form-container {
      width: 97% !important;
      padding: 25px 20px !important;
    }
  }

  @media only screen and (max-width: 400px) {
    .content-wrapper{
      padding: 0px 5px;
    }
  }

  @media only screen and (max-width: 350px) {
    .form-container{
      box-sizing: border-box;
      padding: 5px !important;
    }
  }

}
