<template>
  <div id="ai-designer">
    <h1>AI Designer</h1>
    <div class="ui divider"></div>
    <div v-if="!result">
      <select v-model="model" :disabled="loading">
        <option value="dress">Dress</option>
        <option value="bag">Bag</option>
      </select>
    </div>
    <div class="clear source-images">
      <div class="image-getter A" :class="{shrink: result}">
        <base64-image-getter :max-resolution="256" :lock="loading" :enableCrop="true" ref="imageGetterA" @base64Image="imageA"/>
      </div>
      <div class="image-getter B" :class="{shrink: result}">
        <base64-image-getter :max-resolution="256" :lock="loading" :enableCrop="true" ref="imageGetterB" @base64Image="imageB"/>
      </div>
      <div class="clear" v-if="result">
        <div class="half text-center"><img :src="base64a"></div><!--
     --><div class="half text-center"><img :src="base64b"></div>
      </div>
    </div>
    <div class="actions text-center">
      <button :class="{enable: showResult['product']}" v-if="base64a && base64b" @click="toggleResult('product')">Product</button>
      <button :class="{enable: showResult['colorPencil']}" v-if="base64a && base64b" @click="toggleResult('colorPencil')">Color Pencil Sketch</button>
      <button :class="{enable: showResult['pencil']}" v-if="base64a && base64b" @click="toggleResult('pencil')">Pencil Sketch</button>
      <button v-if="base64a || base64b || result" @click="reset">Reset</button>
    </div>
    <div class="results" v-if="result">
      <div v-if="showResult['product']">
        <h2>Product</h2>
        <div class="result">
          <div class="result-wrapper clear">
            <div class="image-wrapper float-left" v-for="(img, index) in result[0]">
              <img :src="img">
              <a class="button white-button" :href="img" :download="`Product-${index + 1}`">Download</a>
            </div>
          </div>
        </div>
      </div>
      <div v-if="showResult['colorPencil']">
        <h2>Color Pencil Sketch</h2>
        <div class="result">
          <div class="result-wrapper">
            <div class="image-wrapper float-left" v-for="(img, index) in result[1]">
              <img :src="img">
              <a class="button white-button" :href="img" :download="`Color Pencil Sketch-${index + 1}`">Download</a>
            </div>
          </div>
        </div>
      </div>
      <div v-if="showResult['pencil']">
        <h2>Pencil Sketch</h2>
        <div class="result">
          <div class="result-wrapper">
            <div class="image-wrapper float-left" v-for="(img, index) in result[2]">
              <img :src="img">
              <a class="button white-button" :href="img" :download="`Pencil Sketch-${index + 1}`">Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <loader v-if="loading" />
  </div>
</template>
<style lang="scss">
  #ai-designer {
    .image-getter {
      &.A {
        float: left; margin-left: 10%;
        &.shrink {
          width: 0;
          margin-left: 27.5%;
        }
      }
      &.B {
        float: right; margin-right: 10%;
        &.shrink {
          width: 0;
          margin-right: 27.5%;
        }
      }
      width: 35%;
      /*transition: all 0.4s;*/
    }

    .source-images {
      .half {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .results {
      h2 {margin-top: 2rem;}
      .result {
        overflow: auto;
        .result-wrapper {
          height: 132px; width: 1562px; overflow: hidden;
          border: 1px solid black;
          .image-wrapper {
            position: relative;

            img {border: 1px solid black; display: block;}
            a {
              position: absolute;
              top: 0.5rem;
              right: 0.5rem;
              font-size: 1rem;
              min-width: 0;
              padding: 0 5px;
              display: none;
            }

            &:hover a {
              display: block;
            }
          }
        }
      }
    }

    .actions {
      padding: 0.5rem;
      margin-top: 2rem;
      button {
        color: #29b2a3;
        background-color: #ffffff;
        border: 2px #29b2a3 solid;
        padding: 0.25rem 0.75rem;
        cursor: pointer;
        font-size: 1.5rem;
        margin: 0.5rem;

        &:hover, &.enable {
          color: #fff;
          background-color: #29b2a3;
        }
      }
    }
  }
</style>
<script>
  import base64ImageGetter from '@/components/common/base64ImageGetter.vue'
  import loader from '@/components/common/loader.vue'
  import demoService from '@/libs/webServices/demoService.js'

  export default {
    data () {
      return {
        base64a: null,
        base64b: null,
        result: null,
        loading: false,
        showResult: {
          product: false,
          colorPencil: false,
          pencil: false
        },
        model: 'dress'
      }
    },
    methods: {
      imageA (base64Image) {
        this.base64a = base64Image
      },
      imageB (base64Image) {
        this.base64b = base64Image
      },
      reset () {
        if (this.loading) {
          return
        }
        for (var i in this.showResult) {
          this.showResult[i] = false
        }
        this.result = null
        this.$refs.imageGetterA.reset()
        this.$refs.imageGetterB.reset()
      },
      submit (key) {
        this.loading = true
        demoService.gan(this.model, this.base64a, this.base64b).then((response) => {
          this.loading = false
          if (response.data && response.data.data) {
            var image = new Image()
            image.onload = () => {
              var canvas = document.createElement('canvas')
              var ctx = canvas.getContext('2d')
              canvas.width = 128
              canvas.height = 128
              this.result = []
              for (var i = 0; i < 3; i++) {
                this.result[i] = []
                for (var j = 0; j < 12; j++) {
                  ctx.drawImage(image, j * 128 + 1, i * 129 + 1, canvas.height, canvas.width, 0, 0, canvas.width, canvas.height)
                  this.result[i].push(canvas.toDataURL('image/jpeg'))
                }
              }
              this.showResult[key] = true
            }
            image.src = response.data.data
          } else {
            toastr.error('Something went wrong. Please try again in a few seconds')
          }
        }).catch((error) => {
          this.loading = false
          toastr.error('Something went wrong. Please try again in a few seconds')
        })
      },
      toggleResult (key) {
        if (this.loading) {
        } else if (!this.result) {
          this.submit(key)
        } else {
          this.showResult[key] = !this.showResult[key]
        }
      }
    },
    components: {base64ImageGetter, loader}
  }
</script>
