<template>
  <div id="similar-search-applications">
    <div class="application-select" v-if="applicationList">
      <div v-if="selectedAPP">
        <h3><i @click="$router.push(`/dashboard/products/ScopeCheck/similar-search`)" class="pointer arrow left icon"></i><span>{{ selectedAPP.application }}</span></h3>
      </div>

      <div v-else class="applications clear">
        <h2>Manage similar search imageset of your applications:</h2>
        <div class="application float-left" @click="$router.push(`/dashboard/products/ScopeCheck/similar-search/${api.id}`)" v-for="(api, index) in applicationList">
          {{ api.application }}
        </div>
      </div>
    </div>

    <div class="ui divider" v-if="selectedAPP"></div>

    <div class="filter clear" v-if="selectedAPP">
      <div class="float-left upload-images">
        <i class="refresh icon" title="Refresh" @click="getImages(0)"></i>
      </div>
      <div class="float-left upload-images">
        <i class="upload icon" title="Upload images" @click="displayAddImagesForm(true)"></i>
      </div>
      <div class="float-left similar-search">
        <i class="search icon" title="Similar search" @click="displayImageSearchForm(true)"></i>
        <img v-if="searchImage" :src="searchImage.src">
        <span v-if="searchImage" @click="searchImage = null">x</span>
      </div>
      <div class="float-right">
        <input type="range" min="8" max="16" v-model.number="imageSize">
      </div>
    </div>

    <div class="images-wrapper clear">
      <div class="image-card float-left" :style="{width: `${100 / (20 - imageSize)}%`, paddingBottom: `${100 / (20 - imageSize)}%`}" v-for="img in imgList">
        <div class="image-wrapper">
          <img @click="searchImage = {type: 'media', src: img.mediaUrl, id: img.mediaId}" :src="img.mediaUrl">
          <!--<span class="delete" @click="deleteImage(img.mediaId)">x</span>-->
        </div>
      </div>
    </div>
    <p></p>
    <p v-if="searchImage">Note that after images are uploaded, they could take up to 10 minutes to process</p>

    <div class="loader-wrapper">
      <loader v-show="showLoading"></loader>
    </div>

    <div class="button-wrapper text-center" v-show="imgList.length > 0 && loadMore">
      <button class="white-button" @click="getImages(page + 1)">Load More</button>
    </div>

    <div v-if="selectedAPP" class="ui modal scope-active-upload-form">
      <i class="close icon"></i>
      <div class="header">
        Similar Search by Image
      </div>
      <div class="content text-center">
        <base64-image-getter :max-resolution="512" ref="base64ImageGetter" @base64Image="generatedBase64" />
        <p>or</p>
        <form @submit.prevent="submitImageUrl">
          <input class="general-input" type="url" placeholder="Enter an image URL" required>
          <input type="submit" class="white-button">
        </form>
      </div>
    </div>

    <addImages ref="addImages" v-if="selectedAPP" :application="selectedAPP" :similarSearchAPI="similarSearchAPI" />
  </div>
</template>

<script>
  import accountService from '@/libs/webServices/accountService.js'
  import searchService from '@/libs/webServices/searchService.js'
  import loader from '@/components/common/loader.vue'
  import base64ImageGetter from '@/components/common/base64ImageGetter.vue'
  import addImages from './addImages/addImages.vue'
  import Utils from '@/libs/Utils.js'

  const {scopemedia} = require('@/libs/scopemedia.min.js')

  export default {
    name: '',
    data () {
      return {
        imageSize: 12,
        page: 0,
        size: 32,
        imgList: [],
        showLoading: false,
        similarSearchAPI: null,
        loadMore: true,
        searchImage: null,
        selectedAPP: null,
        APIStamp: null
      }
    },
    props: ['applicationId'],
    computed: {
      applicationList () {
        return this.$store.state.ScopeCheck.applicationList
      }
    },
    created () {
      this.init()
    },
    components: {
      loader, base64ImageGetter, addImages
    },
    watch: {
      $route () {
        this.init()
      },
      searchImage () {
        if (this.selectedAPP) {
          this.getImages(0)
        }
      },
      selectedAPP () {
        if (this.selectedAPP) {
          this.getImages(0)
        }
      }
    },
    methods: {
      init () {
        this.imgList = []
        this.showLoading = false
        this.APIStamp = null
        this.similarSearchAPI = null
        this.searchImage = null
        this.selectedAPP = null

        this.getApplicationList()
      },
      async getApplicationList () {
        this.showLoading = true
        this.$store.dispatch('ScopeCheck/getApplicationList', { refresh: false }).then(() => {
          this.showLoading = false
          this.findSelectedApp()
        }).catch((error) => {
          this.showLoading = false
          toastr.error(error.message)
        })
      },
      findSelectedApp () {
        if (this.applicationId) {
          if (!isNaN(parseInt(this.applicationId))) {
            var selectedAPP = this.applicationList.find(a => a.id === parseInt(this.applicationId))
            if (selectedAPP) {
              this.selectedAPP = selectedAPP
            } else {
              toastr.error('Could not load your application. Please try again later.')
            }
          } else {
            toastr.error('Could not load your application. Please try again later.')
          }
        }
      },
      getImages (page) {
        if (this.showLoading || !this.selectedAPP) {return}

        if (this.similarSearchAPI === null) {
          this.similarSearchAPI = new scopemedia.image.SimilarSearch(this.selectedAPP.clientId, this.selectedAPP.clientSecret)
        }

        if (page === 0) {
          this.imgList = []
          this.loadMore = true
        }

        this.showLoading = true
        var request
        if (this.searchImage === null) {
          request = this.similarSearchAPI.getAllImage({
            page: page,
            size: this.size
          })
        } else if (this.searchImage.type === 'media') {
          request = this.similarSearchAPI.searchImage({
            mediaId: this.searchImage.id
          })
        } else if (this.searchImage.type === 'url') {
          request = this.similarSearchAPI.searchImage({
            mediaUrl: this.searchImage.src
          })
        } else if (this.searchImage.type === 'base64') {
          request = this.similarSearchAPI.searchImage({
            base64: this.searchImage.src
          })
        }
        var APIStamp = Date.now()
        this.APIStamp = APIStamp
        request.then((response) => {
          if (this.APIStamp !== APIStamp) {return}
          if (response.medias) {
            if (response.medias.length === 0) {
              toastr.warning('No images found')
            }
            if (response.medias.length < this.size) {
              this.loadMore = false
            }

            this.page = page
            this.imgList = this.imgList.concat(response.medias)
          } else {
            toastr.error('Something went wrong. Please try again in a few seconds.')
          }
          this.showLoading = false
        }).catch((error) => {
          toastr.error('Something went wrong. Please try again in a few seconds.')
          this.showLoading = false
        })
      },
      deleteImage (mediaId) {
        searchService.deleteImage({
          mediaId: mediaId,
          clientId: this.selectedAPP.clientId,
          clientSecret: this.selectedAPP.clientSecret
        })
      },
      generatedBase64 (base64) {
        if (base64) {
          this.searchImage = {type: 'base64', src: base64}
          this.$refs.base64ImageGetter.reset()
          this.displayImageSearchForm(false)
        }
      },
      submitImageUrl (e) {
        var input = e.target.querySelector(`input[type='url']`)
        Utils.isUrlImage(input.value).then(() => {
          this.searchImage = {type: 'url', src: input.value}
          input.value = ''
          this.displayImageSearchForm(false)
        }).catch(() => {
          input.value = ''
          toastr.error('Invalid image url')
        })
      },
      displayImageSearchForm (show) {
        if (show) {
          $('.scope-active-upload-form.ui.modal').modal({ detachable: false }).modal('show')
        } else {
          $('.scope-active-upload-form.ui.modal').modal('hide')
        }
      },
      displayAddImagesForm (show) {
        $('.scope-active-add-images.ui.modal').modal({
          detachable: false,
          onHide: () => {
            if (this.$refs.addImages.thumbnailList.length > 0) {
              this.$refs.addImages.clearList()
              this.getImages(0)
            }
          }
        })
        if (show) {
          $('.scope-active-add-images.ui.modal').modal('show')
        } else {
          $('.scope-active-add-images.ui.modal').modal('hide')
        }
      }
    }
  }
</script>

<style lang="scss">
  #similar-search-applications {
    .application-select {
      .arrow.left.icon {margin-right: 1rem; height: 2rem; line-height: 2rem; font-size: 2rem; width: 2rem; vertical-align: middle; color: #29b2a3; &:hover {opacity: 0.7;}}
      margin-bottom: 2rem;
      span, select {display: inline-block; vertical-align: middle;}
      .applications {
        margin: -5px;
        .application {
          width: calc(33.33% - 10px);
          margin: 5px;
          color: #29b2a3;
          font-size: 16px;
          background-color: #ffffff;
          border: 2px solid #29b2a3;
          box-shadow: inset 0px 1px 2px 0px #a5a5a5;
          cursor: pointer;
          padding: 1rem;
          &:hover {
            color: #fff;
            background-color: #29b2a3;
            box-shadow: none;
          }
        }
      }
    }

    .filter {
      .similar-search, .upload-images {
        border-radius: 10rem;
        border: 2px solid #29b2a3;
        padding: 0.75rem;
        & > * {display: inline-block; vertical-align: middle;}
        .icon {width: 2rem; height: 2rem; font-size: 2rem; line-height: 2rem; color: #29b2a3; margin: 0; cursor: pointer; &:hover {opacity: 0.5}}
        img {height: 2rem;}
        span {font-size: 1.5rem; cursor: pointer; &:hover {opacity: 0.5}}
        margin-right: 1rem;
      }
      margin-bottom: 2rem;
    }

    .images-wrapper {
      margin: -3px;
      .image-card {
        position: relative;
        .image-wrapper {
          position: absolute;
          width: 100%;
          height: 100%;
          text-align: center;
          padding: 3px;
          cursor: pointer;
          &:hover {
            background: #29b2a3;
          }
          img {
            max-width: 100%;
            max-height: 100%;
            display: inline-block;
            vertical-align: middle;
          }
          .delete {
            position: absolute;
            top: 0;
            right: 0;
            background: #f00;
            color: #fff;
            height: 1rem;
            width: 1rem;
            line-height: 1rem;
            border-radius: 10rem;
          }
          &::after {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
          }
        }
      }
    }
    .button-wrapper {
      margin-top: 2rem;
    }
  }

  .scope-active-upload-form {
    .base64-image-getter {
      width: 50% !important;
      max-width: 50vh !important;
    }
  }
</style>
