<template>
  <div id="batch-tagged-sample">
    <h1>Batch Tagged Sample</h1>
    <div class="ui divider"></div>
    <scalableMap ref="scalableMap" />
  </div>
</template>

<style lang="scss">
  #batch-tagged-sample {
    .scalable-map-container {width: 100%; height: 75vh}
  }
</style>

<script>
  import scalableMap from '@/components/common/scalableMap/scalableMap.vue';
  import sampleData from '@/components/dashboard/userProducts/dashboardDemo/batchTagged/batch_tagged_sample_data.json'

  export default {
    data () {
      return {
        coordinate: null
      }
    },
    components: {
      scalableMap
    },
    created () {
    },
    mounted () {
      this.$nextTick(() => {
        this.$refs.scalableMap.initMap({
          url: 'https://s3-us-west-2.amazonaws.com/scopemedia4/batch-tagged-demo/cut_Image',
          maxZoomLevel: 7,
          thumbSize: 60
        })
        this.$refs.scalableMap.$refs.labeledThumbs.labeledThumbs = sampleData
        this.$refs.scalableMap.$refs.labeledThumbs.generateLabelGroups()
      });
    }
  }
</script>
