$green-color: #29b2a3;
$light-gray-color: #E2E2E2;
$gray-color: #818181;
$dark-gray-color: #3A3A3A;
$black-color: #424242;
$error-color: #db2828;

$max-width: 1300px;
$tablet-min-point: 768px;
$phone-break-point: 767px;
$tablet-break-point: 1000px;
