<template>
  <div class="count-down" :style="{backgroundImage: count ? `url(${count})` : ''}">
    <div class="loader" v-show="loading"><loader /></div>
  </div>
</template>
<style lang="scss">
  .count-down {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 25%;

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .spinner {
        margin: auto;
        width: 4rem;
        height: 4rem;
      }

      .dot1, .dot2 {
        background-color: #f2e6df;
        box-shadow: 0 0 5px 2px #c48f6e;
      }
    }
  }
</style>
<script>
  import loader from '@/components/common/loader.vue'

  export default {
    data () {
      return {
        count: null,
        counts: [
          require('@/assets/dashboardDemo/fashionScore/numbers/1.png'),
          require('@/assets/dashboardDemo/fashionScore/numbers/2.png'),
          require('@/assets/dashboardDemo/fashionScore/numbers/3.png'),
          require('@/assets/dashboardDemo/fashionScore/numbers/4.png'),
          require('@/assets/dashboardDemo/fashionScore/numbers/5.png')
        ]
      }
    },
    props: {
      loading: {
        default: false,
        type: Boolean
      }
    },
    methods: {
      start (number = 5) {
        if (number > 0) {
          this.count = this.counts[number - 1]
          setTimeout(() => {
            this.start(number - 1)
          }, 1000)
        } else {
          this.count = null
          this.$emit('count-end')
        }
      }
    },
    components: {loader}
  }
</script>
