<template>
  <div id="fashion-score">
    <h1>Fashion Score</h1>
    <div class="ui divider"></div>
    <div class="content text-center">
      <div v-show="hasCamera === 1">
        <div id="scopeActive-demo" :class="{leaf: !detectionResult}">
          <div class="title" v-show="!detectionResult">
            <div class="title-welcome">Welcome</div>
            <div class="title-find">FIND YOUR</div>
            <div class="title-style">STYLE</div>
          </div>
          <div class="frame-outer-wrapper" v-show="!detectionResult">
            <div class="frame-wrapper">
              <video id="player" autoplay></video>
              <canvas id="canvas"></canvas>
              <canvas id="bounding-box" v-show="false"></canvas>
              <count-down ref="countDown" :loading="loading" @count-end="countedDown" />
            </div>
          </div>
          <div class="result" v-if="detectionResult">
            <div class="your-styles" v-if="detectionResult.sourceImage && detectionResult.styleCard" :class="{ 'show-info': showInfo }">
              <div class="card">
                <div class="source-image">
                  <img :src="detectionResult.sourceImage">
                  <div class="bounding-box" :style="{left: `${detectionResult.boxPercentage.x}%`, top: `${detectionResult.boxPercentage.y}%`, width: `${detectionResult.boxPercentage.w}%`, height: `${detectionResult.boxPercentage.h}%`}"></div>
                </div>
                <span>YOU</span>
              </div><!--
           --><div class="card info text-left" @click="showInfo = !showInfo">
                <p><strong>Customer Info</strong></p>
                <div>Age: {{ detectionResult.age }}</div>
                <div>Height: {{ detectionResult.height }}</div>
                <div>Gender: {{ detectionResult.gender }}</div>
                <div>History: N/A</div>
              </div><!--
           --><div class="card">
                <div class="result-image" :style="{backgroundImage: `url('${detectionResult.styleCard}')`}">
                  <table class="style">
                    <tr v-for="style of detectionResult.styles">
                      <td>{{ style.score }}%</td>
                      <td>{{ style.label }}</td>
                    </tr>
                  </table>
                </div>
                <span>YOUR STYLE</span>
              </div>
            </div>
            <div class="score" v-if="detectionResult.score">
              <div class="clear">
                <div class="float-left text-left trendy">
                  <div class="percentage">{{ detectionResult.score }}%</div>
                  <div class="text">TRENDY</div>
                </div>
                <div class="float-right text-right unique">
                  <div class="percentage">{{ 100 - detectionResult.score }}%</div>
                  <div class="text">UNIQUE</div>
                </div>
              </div>
              <div class="score-bar">
                <div class="score-progress" :style="{width: `${detectionResult.score}%`}">
                </div>
              </div>
            </div>
            <div class="style-feed">
              <div class="similar-styles" v-if="detectionResult.similarStyles">
                <div class="header">SIMILAR STYLES</div>
                <div class="images">
                  <carousel :navigationEnabled="true" :paginationEnabled="false" :perPage="3">
                    <slide v-for="(i, index) of detectionResult.similarStyles" :key="`similar-result-${index}`">
                      <div class="image-wrapper">
                        <div @click="selectedProduct = i" class="image" :style="{backgroundImage: `url('${i.mediaUrl}')`}"></div>
                      </div>
                    </slide>
                  </carousel>
                </div>
              </div>
              <div class="recommendation" v-if="detectionResult.recommendations">
                <div class="header">COMPLETE THE LOOK</div>
                <div class="images">
                  <carousel :navigationEnabled="true" :paginationEnabled="false" :perPage="3">
                    <slide v-for="(i, index) of detectionResult.recommendations" :key="`matching-result-${index}`">
                      <div class="image-wrapper">
                        <div @click="selectedProduct = i" class="image" :style="{backgroundImage: `url('${i.mediaUrl}')`}"></div>
                      </div>
                    </slide>
                  </carousel>
                </div>
              </div>
            </div>
          </div>
          <div id="product-detail" @click="selectedProduct = null" class="ui dimmer">
            <div class="content" v-if="selectedProduct">
              <div>
                <div class="ui segment">
                  <div class="ui centered medium image">
                    <img :src="selectedProduct.mediaUrl">
                  </div>
                  <div class="ui header h2">{{ selectedProduct.metadata.caption }}</div>
                  <div class="ui header h2">{{ selectedProduct.metadata.brand }}</div>
                  <div class="ui header h2">{{ selectedProduct.metadata.price }} {{ selectedProduct.metadata.currency }}</div>
                  <div class="ui header h2"><a class="ui button" @click.stop="() => {}" :href="selectedProduct.metadata.source" target="_blank">Buy</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="actions">
          <button class="white-button" v-show="!detectionResult" @click="$refs.countDown.start()">Capture</button>
          <button class="white-button" v-show="detectionResult" @click="reset">Reset</button>
        </div>
      </div>
      <div v-if="hasCamera === -1"><h2>Your camera is not correctly connected or your browser does not support it.</h2></div>
    </div>
  </div>
</template>

<style lang="scss">
  #fashion-score {
    .content {
      padding: 1rem;

      .actions {margin-top: 1rem;}

      #scopeActive-demo {
        display: inline-block;
        padding: 2rem;
        background: #faf4f1;
        &.leaf {background: #faf4f1 url('~@/assets/dashboardDemo/fashionScore/background/leaf.png') bottom center/100% auto no-repeat;}

        .title {
          .title-welcome {font-family: 'AutumninNovember'; color: #c8977a; font-size: 5rem; line-height: 5rem; margin-top: 2rem;}
          .title-find {color: #35424b; font-family: 'Median-LayerInline'; font-size: 2rem; line-height: 2rem; margin-top: 2rem;}
          .title-style {color: #35424b; font-weight: bold; font-family: 'Median-LayerInline';  font-size: 2rem; line-height: 2rem; margin-top: 0.5rem;}
        }

        .frame-outer-wrapper {
          margin-top: 2rem;
          border: 0.5rem solid transparent;
          border-image: linear-gradient(135deg, #c48f6e, #f2e6df) 1;
          box-shadow: 0 0 5px 0 #c48f6e;
          padding: 2rem;
          display: inline-block;
          .frame-wrapper {
            border: 0.5rem solid transparent;
            border-image: linear-gradient(135deg, #c48f6e, #f2e6df) 1;
            box-shadow: 0 0 5px 0 #c48f6e;
            display: inline-block;
            vertical-align: middle;
            position: relative;

            canvas, video {
              display: block;
              width: 400px;
            }

            #bounding-box, #canvas {
              position: absolute;
              top: 0;
              left: 0;
            }

            .count-down {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }

        .result {
          width: calc(400px + 6rem);
          background: #faf4f1;
          .your-styles {
            &.show-info {
              .card { width: calc(50% - 6rem); }
              .card.info { width: 10rem; opacity: 1; }
            }
            .card {
              display: inline-block;
              vertical-align: middle;
              width: calc(50% - 3rem);
              &.info {
                opacity: 0;
                border: 0;
                width: 4rem;
                background: #f4d8c8;
                color: #c48f6e;
                border-radius: 0;
                box-shadow: none;
              }
              margin-right: 1rem;
              padding: 0.5rem;
              background: #fff;
              border: 0.5rem solid transparent;
              box-shadow: 0 0 5px 0 #c48f6e;
              border-image: linear-gradient(135deg, #c48f6e, #f2e6df) 1;
              &:last-child {margin-right: 0;}
              .source-image {
                position: relative;
                img {display: block; width: 100%;}
                .bounding-box {
                  position: absolute;
                  border: 2px dashed #09D18F;
                  box-shadow: 0px 0px 10px 0px #50e3c2;
                }
              }
              .result-image {
                width: 100%;
                padding-bottom: 133.33%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: relative;
                .style {
                  position: absolute;
                  bottom: 0;
                  width: 100%;
                  background: rgba(255, 255, 255, 0.8);
                  color: #c48f6e;
                  font-size: 1.25rem;
                  td:first-child { text-align: left; font-weight: bold; font-family: 'SnellRoundhand'; }
                  td:last-child { text-align: right; font-weight: bold; text-transform: uppercase; }
                }
              }
              span {
                margin-top: 0.5rem;
                font-size: 1.25rem;
                display: block;
                color: #35424b;
                font-family: 'IntroCondLightFree';
              }
            }
          }

          .score {
            margin-top: 2rem;
            .unique {color: #5c9493}
            .trendy {color: #757375}
            .percentage {font-size: 2.5rem; font-family: 'SnellRoundhand'}
            .text {margin-top: 0.5rem; font-size: 1.5rem; font-weight: bold; font-family: 'IntroCondBlackFree'}
            .score-bar {
              margin-top: 1rem;
              background: #fff;
              box-shadow: 0 0 4px 1px #b5ded2;
              .score-progress {
                background: linear-gradient(90deg, #5c9493, #c1e8db);
                box-shadow: 0 0 8px 0px #b5ded2;
                height: 2rem;
              }
            }
          }

          .style-feed {
            margin-top: 3rem;
            border: 0.125rem solid #c48f6e;
            color: #c48f6e;
            .header {font-size: 1.75rem; line-height: 2rem; background: #faf4f1; display: inline-block; padding: 0 1.5rem; font-family: 'Median-LayerInline';}
            .similar-styles {
              margin-top: -1rem;
            }
            .recommendation {margin-top: 1rem;}
            .images {
              .image-wrapper {
                width: 100%;
                padding: 1rem;
                .image {
                  cursor: pointer;
                  padding-bottom: 133.33%;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: contain;
                }
              }
            }
          }
        }
        #product-detail {
          .ui.image img { margin: auto; }
        }
      }

      .detection-result {
        .image-wrapper {
          width: 100%;
          padding-bottom: 177.77%;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          .info {
            position: absolute;
            bottom: 0;
            left: 0;
            background: #00B2A2;
            color: #fff;
            width: 100%
          }
        }
      }
    }
  }

  @font-face {
    font-family: 'IntroCondBlackFree';
    src: url('~@/assets/dashboardDemo/fashionScore/fonts/Intro-Cond-Black-Free.otf') format('opentype');
  }
  @font-face {
    font-family: 'IntroCondLightFree';
    src: url('~@/assets/dashboardDemo/fashionScore/fonts/Intro-Cond-Light-Free.otf') format('opentype');
  }
  @font-face {
    font-family: 'SnellRoundhand';
    src: url('~@/assets/dashboardDemo/fashionScore/fonts/SnellBT-Regular.otf') format('opentype');
  }
  @font-face {
    font-family: 'Median-LayerInline';
    src: url('~@/assets/dashboardDemo/fashionScore/fonts/Median-LayerInline.otf') format('opentype');
  }
  @font-face {
    font-family: 'AutumninNovember';
    src: url('~@/assets/dashboardDemo/fashionScore/fonts/Autumn-in-November.ttf') format('truetype');
  }
</style>

<script>
  import countDown from '@/components/dashboard/userProducts/dashboardDemo/fashionScore/countDown.vue'
  import axios from 'axios'
  import taggingService from '@/libs/webServices/taggingService.js'
  import { Carousel, Slide } from 'vue-carousel'

  export default {
    data () {
      return {
        captureInterval: 1000,
        video: null,
        canvas: null,
        ctx: null,
        box: null,
        boxCtx: null,
        detectionResult: null,
        loading: false,
        hasCamera: 0,
        showInfo: false,
        selectedProduct: null
      };
    },
    components: { countDown, Carousel, Slide },
    watch: {
      selectedProduct () {
        if (this.selectedProduct) {
          $(this.$el.querySelector('#product-detail')).dimmer('show')
        } else {
          $(this.$el.querySelector('#product-detail')).dimmer('hide')
        }
      }
    },
    mounted() {
      if (!!(navigator.mediaDevices && navigator.mediaDevices.getUserMedia)) {
        this.video = document.getElementById('player')
        this.canvas = document.getElementById('canvas')
        this.ctx = this.canvas.getContext('2d')
        this.box = document.getElementById('bounding-box')
        this.boxCtx = this.box.getContext('2d')

        var constraints = {
          video: {
            advanced: [{
              facingMode: 'environment'
            }],
            width: { min: 540, ideal: 540, max: 540 },
            height: { min: 720, ideal: 720, max: 720 }
          }
        };

        navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
          this.video.src = window.URL.createObjectURL(stream)
          this.video.onloadeddata = () => {
            this.canvas.width = this.box.width = this.video.videoWidth
            this.canvas.height = this.box.height = this.video.videoHeight

            this.boxCtx.strokeStyle = '#09D18F'
            this.boxCtx.fillStyle = '#09D18F'
            this.boxCtx.lineWidth = 4
          }
          this.video.load()
          this.video.play()
          this.hasCamera = 1
        }).catch((error) => {
          this.hasCamera = -1
        })
      } else {
        this.hasCamera = -1
      }
    },
    methods: {
      countedDown () {
        this.capturePhoto()
      },
      capturePhoto () {
        this.ctx.drawImage(this.video, 0, 0, this.canvas.width, this.canvas.height)

        var canvas = document.createElement('canvas')
        canvas.width = this.video.videoWidth
        canvas.height = this.video.videoHeight
        canvas.getContext('2d').drawImage(this.video, 0, 0, canvas.width, canvas.height)

        this.detectPhoto(canvas)
      },
      async detectPhoto (canvas) {
        this.loading = true

        try {
          const scoreResult = await this.getFashionScore(canvas.toDataURL('image/jpeg'))
          var scores = scoreResult.fashion_score
          var boxes = scoreResult.human_bboxs
          var body = {
            canvas: canvas,
            size: 0
          }
          for (var i in scores) {
            let x = canvas.width * boxes[i][1]
            let y = canvas.height * boxes[i][0]
            let w = canvas.width * boxes[i][3] - x
            let h = canvas.height * boxes[i][2] - y

            if (w * h > body.size) {
              body = {
                sourceImage: canvas.toDataURL('image/jpeg'),
                croppedImage: null,
                score: scores[i] > 0 ? Math.round(scores[i] * 100) : 0,
                age: 'loading',
                gender: 'loading',
                styleCard: null,
                similarStyles: null,
                recommendations: null,
                styles: null,
                height: `${parseInt(h / canvas.height * 200)}cm`,
                box: {
                  x, y, w, h
                },
                boxPercentage: {
                  x: boxes[i][1] * 100, y: boxes[i][0] * 100, w: (boxes[i][3] - boxes[i][1]) * 100, h: (boxes[i][2] - boxes[i][0]) * 100
                },
                size: w * h
              }
            }
          }

          var croppedCanvas = document.createElement('canvas')
          var croppedContext = croppedCanvas.getContext('2d')
          croppedCanvas.width = body.box.w
          croppedCanvas.height = body.box.h
          croppedContext.drawImage(canvas, body.box.x, body.box.y, body.box.w, body.box.h, 0, 0, croppedCanvas.width, croppedCanvas.height)

          body.croppedImage = croppedCanvas.toDataURL('image/jpeg')

          this.boxCtx.beginPath()
          this.boxCtx.rect(body.box.x, body.box.y, body.box.w, body.box.h)
          this.boxCtx.stroke()

          const ageGender = await this.getEstimateResult(body.croppedImage)

          var searchResult = await Promise.all([this.getSimilarResult(body.croppedImage, ageGender.genderShort), this.getMatchingResult(body.croppedImage, ageGender.genderShort), this.getStyles(body.croppedImage)])
          body.similarStyles = searchResult[0]
          body.styleCard = searchResult[1].styleCard
          body.recommendations = searchResult[1].recommendations
          body.age = ageGender.age
          body.gender = ageGender.gender
          body.styles = searchResult[2]

          this.detectionResult = body
          this.loading = false
        } catch (error) {
          // Failed getting fashion score
          console.error(error)
          this.reset()
          this.$refs.countDown.start()
          this.loading = false
        }
      },
      parseAgeGender (ageGender) {
        ageGender = ageGender.replace(/ /g, '').replace(/\(/g, '').replace(/\)/g, '').split(',')
        return {age: `${ageGender[0]} ~ ${ageGender[1]}`, gender: ageGender[2] === 'F' ? 'Female' : 'Male', genderShort: ageGender[2]}
      },
      reset () {
        this.detectionResult = null
        this.boxCtx.clearRect(0, 0, this.box.width, this.box.height)
        this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height)
      },
      async getSimilarResult (base64, gender) {
        try {
          const response = await axios({
            method: 'POST',
            url: `https://api.scopemedia.com/search/v2/similar`,
            headers: {
              "Content-Type": "application/json",
              'Client-Id': 'magicshow',
              'Client-Secret': 'magicshowsecret8888',
              'Client-Node': 'dashboardDemo'
            },
            data: {
              base64, gender
            }
          })
          if (response.data.medias && response.data.medias.length >= 3) {
            return response.data.medias
          }
        } catch (error) {
          console.error(error)
        }
        throw new Error('Failed getting similar search result')
      },
      async getMatchingResult (base64, gender) {
        try {
          const response = await axios({
            url: 'https://api.scopemedia.com/search/v2/matching',
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'Client-Id': 'magicshow',
              'Client-Secret': 'magicshowsecret8888',
              'Client-Node': 'dashboardDemo'
            },
            data: {
              base64, gender
            }
          })
          if (response.data.medias && response.data.medias.length >= 4) {
            return {
              styleCard: response.data.medias[0].mediaUrl,
              recommendations: response.data.medias.slice(1)
            }
          }
        } catch (error) {
          console.error(error)
        }

        throw new Error('Failed getting matching result')
      },
      async getEstimateResult (base64) {
        try {
          const response = await axios({
            url: 'https://api.scopemedia.com/face-detection/v2/estimate',
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'Client-Id': 'magicshow',
              'Client-Secret': 'magicshowsecret8888',
              'Client-Node': 'dashboardDemo'
            },
            data: {
              base64
            }
          })
          if (response.data.results && response.data.results[0]) {
            return this.parseAgeGender(response.data.results[0].age_gender)
          }
        } catch (error) {
          console.error(error)
        }
        throw new Error('Failed getting estimate result')
      },
      async getFashionScore (base64) {
        try {
          const response = await axios({
            url: 'https://api.scopemedia.com/score/v2/fashion-score',
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'Client-Id': 'PwGhIJjdBYQIam13BCeCrUbPNvUrOVVJn63MrOI78DwtJFiPBYH7HpMgGLvHNkqo',
              'Client-Secret': 'Fnr9SXtozKeyDGQD4UygjePgZtjPR9z4DGOqSf7lESlxactuCoghCy99B2mFJnZr',
              'Client-Node': 'dashboardDemo'
            },
            data: {
              base64
            }
          })
          if (response.data && response.data.fashion_score && response.data.fashion_score.length > 0) {
            return response.data
          }
        } catch (error) {
          console.error(error)
        }
        throw new Error('Fail getting fashion score')
      },
      async getStyles (base64) {
        try {
          const response = await taggingService.predictImage({
            modelId: 'style',
            base64: base64
          })
          if (response.data.tags && response.data.tags.length > 0) {
            for (var t of response.data.tags) {
              t.score = parseInt(parseFloat(t.score) * 100)
            }
            return response.data.tags
          }
        } catch (error) {
          console.error(error)
        }
        throw new Error('Fail getting styles')
      }
    }
  }
</script>
