<template>
  <div id="video-demo">
    <section class="main-preview-player">
      <video-player class="video-player-box"
                    ref="videoPlayer"
                    :options="playerOptions"
                    :playsinline="true"
                    @ready="playerReady">
      </video-player>
      <div class="playlist-container preview-player-dimensions vjs-fluid">
        <ol class="vjs-playlist"></ol>
      </div>
    </section>


    <div class="button-group">
      <button class="ui blue button" @click='queryVideo(true)'>Query Video</button>
      <button class="ui blue button" @click="randomVideo(true)">Random Video</button>
      <!--<button class="ui blue button" @click="newSearch()">New Search</button>-->
    </div>

  </div>


</template>

<script>
  import serverUrls from '@/libs/webServices/serverUrls.js'
  import videoService from '@/libs/webServices/videoService.js'
  import videoPlayer from '../../dashboard/userProducts/dashboardDemo/videoHighlight/player.vue'
  export default{
    name: '',
    data () {
      return {
        playerOptions: {
          'sources': [{
            'type': 'video/mp4',
            //'src': ''
            'src': 'http://vjs.zencdn.net/v/oceans.mp4'
            //'src': 'https://vimeo.com/75196023'
          }],
          //'poster': 'http://assets1.ignimgs.com/thumbs/userUploaded/2016/6/15/zelda-1466028489388_large.jpg',
          'autoplay': false,
          'muted': false,
          'fluid': true
        },
        timeInterval: {
          'startTime': 0,
          'endTime': 0
        },
      }
    },
    computed: {
      player() {
        return this.$refs.videoPlayer.player
      }
    },
    components: {
      videoPlayer
    },
    mounted () {
      //this.randomVideo(true)
    },
    methods: {
      playerReady(player) {
        console.log('the player is ready', player)
        player.playlist([{
          name: 'Disney\'s Oceans 1',
          description: 'Explore the depths of our planet\'s oceans. ' +
          'Experience the stories that connect their world to ours. ' +
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, ' +
          'sed do eiusmod tempor incididunt ut labore et dolore magna ' +
          'aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco ' +
          'laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure ' +
          'dolor in reprehenderit in voluptate velit esse cillum dolore eu ' +
          'fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ' +
          'proident, sunt in culpa qui officia deserunt mollit anim id est ' +
          'laborum.',
          duration: 45,
          sources: [
            { src: 'http://vjs.zencdn.net/v/oceans.mp4', type: 'video/mp4' },
            { src: 'http://vjs.zencdn.net/v/oceans.webm', type: 'video/webm' },
          ],
          // you can use <picture> syntax to display responsive images
          thumbnail: [
            {
              srcset: 'test/example/oceans.jpg',
              type: 'image/jpeg',
              media: '(min-width: 400px;)'
            },
            {
              src: 'test/example/oceans-low.jpg'
            }
          ]
        },
          {
            name: 'Disney\'s Oceans 2',
            description: 'Explore the depths of our planet\'s oceans. ' +
            'Experience the stories that connect their world to ours. ' +
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, ' +
            'sed do eiusmod tempor incididunt ut labore et dolore magna ' +
            'aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco ' +
            'laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure ' +
            'dolor in reprehenderit in voluptate velit esse cillum dolore eu ' +
            'fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ' +
            'proident, sunt in culpa qui officia deserunt mollit anim id est ' +
            'laborum.',
            duration: 45,
            sources: [
              { src: 'http://vjs.zencdn.net/v/oceans.mp4?2', type: 'video/mp4' },
              { src: 'http://vjs.zencdn.net/v/oceans.webm?2', type: 'video/webm' },
            ],
            // you can use <picture> syntax to display responsive images
            thumbnail: [
              {
                srcset: 'test/example/oceans.jpg',
                type: 'image/jpeg',
                media: '(min-width: 400px;)'
              },
              {
                src: 'test/example/oceans-low.jpg'
              }
            ]
          },
          {
            name: 'Disney\'s Oceans 3',
            description: 'Explore the depths of our planet\'s oceans. ' +
            'Experience the stories that connect their world to ours. ' +
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, ' +
            'sed do eiusmod tempor incididunt ut labore et dolore magna ' +
            'aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco ' +
            'laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure ' +
            'dolor in reprehenderit in voluptate velit esse cillum dolore eu ' +
            'fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ' +
            'proident, sunt in culpa qui officia deserunt mollit anim id est ' +
            'laborum.',
            duration: 45,
            sources: [
              { src: 'http://vjs.zencdn.net/v/oceans.mp4?3', type: 'video/mp4' },
              { src: 'http://vjs.zencdn.net/v/oceans.webm?3', type: 'video/webm' },
            ],
            // you can use <picture> syntax to display responsive images
            thumbnail: [
              {
                srcset: 'test/example/oceans.jpg',
                type: 'image/jpeg',
                media: '(min-width: 400px;)'
              },
              {
                src: 'test/example/oceans-low.jpg'
              }
            ]
          }, {
            name: 'Sintel (No Thumbnail)',
            description: 'The film follows a girl named Sintel who is searching for a baby dragon she calls Scales.',
            sources: [
              { src: 'http://media.w3.org/2010/05/sintel/trailer.mp4', type: 'video/mp4' },
              { src: 'http://media.w3.org/2010/05/sintel/trailer.webm', type: 'video/webm' },
              { src: 'http://media.w3.org/2010/05/sintel/trailer.ogv', type: 'video/ogg' }
            ],
            thumbnail: false
          },
          // This is a really underspecified video to demonstrate the
          // behavior when optional parameters are missing. You'll get better
          // results with more video metadata!
          {
            name: 'Invalid Source',
            sources: [{
              src: 'Invalid'
            }]
          }])
        // Initialize the playlist-ui plugin with no option (i.e. the defaults).
        player.playlistUi()
      },
      queryVideo: function (deepOption) {
        let videoEle = document.getElementsByTagName('video')
        let videoSrc = ''
        if (videoEle.length > 0) {
          videoSrc = videoEle[0].currentSrc
        }

        let videoDir = videoSrc.split('/')[3]
        let videoId = videoSrc.split('/')[4]

        let flag
        videoId = decodeURI(videoId)
        videoId = videoId.replace(/%26/g, '&')
        videoId = videoId.replace(/%2B/g, '+')
        videoId = videoId.replace(/%2C/g, ',')
        videoId = videoId.replace(/%2F/g, '/')
        if (videoDir == 'videoset') {
          //videoDir = 'videoset/'
          videoDir = ''
          flag = true
          videoId = videoId.substring(0, videoId.indexOf('?'))
        } else {
          //videoDir is equal to video
          videoDir = 'uploads/'
          flag = false
        }
        let videoPath = videoDir + videoId

        let start = -1, end = -1
        videoService.videoSearch(videoPath, start, end, flag, deepOption).then((res) => {
          let data = res.data
          let result = []

          for (let i = 0; i < data.path.length; i++) {
            let path = data.path[i].replace('MixedVideoSet\\VideoSet/','')
            let resultsArray = []
            path = encodeURIComponent(path.trim())
            resultsArray.push([data.end[i][0], data.end[i][1]])
            for (let j = 0; j < data.path.length; j++) {
              if (j === i) continue
              let jpath = data.path[j]
              if (jpath === data.path[i]) {
                resultsArray.push([data.end[j][0], data.end[j][1]])
              }
            }
            let videoObj = {
              'path': path,
              'start': data.end[i][0],
              'end': data.end[i][1],
              'resultsArr': resultsArray
            }
            result.push(videoObj)
          }
          console.log(result)
          this.options.playlist = this.setUpPlaylist(result, false)
          this.options.setPlaylist = true
          setTimeout(() => {
            let playListLen = this.options.playlist.length
            let uiPlayListlen = document.getElementsByClassName('vjs-playlist-item').length
            for (let i = playListLen; i < uiPlayListlen; i++) {
              document.getElementsByClassName('vjs-playlist-item')[playListLen].remove()
            }
          }, 1000)

        }).catch((err) => {
          this.showLoader = false
        })

      },
      randomVideo: function (deepOption) {
          let deep = deepOption || false
          videoService.videoSearch('', -1, -1, false, deep).then((res) => {
            console.log(res)
            let data = res.data
            let result = []
            for (var i = 0; i < data.path.length; i++) {
              let path = data.path[i].replace('MixedVideoSet\\VideoSet/','')
              path = encodeURIComponent(path.trim())
              let videoObj = {
                  'path': path,
                  'start': data.end[i][0],
                  'end': data.end[i][1]
              }
              result.push(videoObj)
            }
            this.options.playlist = this.setUpPlaylist(result, true)
            this.options.setPlaylist = true
            setTimeout(() => {
                let playListLen = this.options.playlist.length
                let uiPlayListlen = document.getElementsByClassName('vjs-playlist-item').length
                for (let i = playListLen; i < uiPlayListlen; i++) {
                  document.getElementsByClassName('vjs-playlist-item')[playListLen].remove()
                }
            }, 1000)

          })
      },
      toHHMMSS: function (secs) {
        var sec_num = parseInt(secs, 10)
        var hours   = Math.floor(sec_num / 3600) % 24
        var minutes = Math.floor(sec_num / 60) % 60
        var seconds = sec_num % 60
        return [hours,minutes,seconds]
          .map(v => v < 10 ? '0' + v : v)
          .filter((v,i) => v !== '00' || i > 0)
          .join(':')
      },
      setUpPlaylist(videoData, random) {
        this.startTime = []
        this.endTime = []
        let playlist = []
        for (let i = 0; i < videoData.length; i++) {
          let item = videoData[i]
          let playListItem = {}
          playListItem['sources'] = []
          playListItem['thumbnail'] = []
          if (random) {
            playListItem['name'] = 'Random Result ' + (i+1)
            playListItem['description'] = 'From: ' + this.toHHMMSS(item.start) + ' To: ' + this.toHHMMSS(item.end)
            playListItem['sources'].push({'src': `${serverUrls.NODE_SERVER}/videoset/` + item.path + `?${i}#t=${item.start},${item.end}`,
              'type': 'video/mp4'})
          } else {
            playListItem['name'] = 'Query Result ' + (i+1)
            playListItem['description'] = 'From: ' + this.toHHMMSS(item.start) + ' To: ' + this.toHHMMSS(item.end)
            playListItem['duration'] = videoData[i].end - videoData[i].start
            playListItem['sources'].push({'src': `${serverUrls.NODE_SERVER}/videoset/` + item.path + `?${i}#t=${item.start},${item.end}`,
              'type': 'video/mp4'})
            playListItem['resultsArr'] = item.resultsArr
            this.startTime.push(item.start)
            this.endTime.push(item.end)
          }
          let dir_name = item.path.slice(0,-4)

          playListItem['thumbnail'].push({'srcset': `${serverUrls.NODE_SERVER}/frameImg/` + dir_name + `/${item.start}.jpg`,
            'type': 'image/jpeg',
            'media': '(min-width: 400px;)'})
          playListItem['thumbnail'].push({'src': `${serverUrls.NODE_SERVER}/frameImg/` + dir_name + `/${item.start}.jpg`})
          playlist.push(playListItem)
        }
        return playlist
      },
    },
    watch: {
      options: {
        handler: function (newVal, oldVal) {
          var options = newVal
          if (typeof options.source !== 'object') {
              this.dispose()
              console.error('Video resource must be an object or array')
          } else {
            if (options.source instanceof Array) {
              for (var i = 0, length = options.source.length; i < length; i++) {
                var item = options.source[i]
                if (!item.src) {
                  this.dispose()
                  return console.error('video resource is illegitimate')
                }
              }
            } else{
              if (!options.source.src) {
                this.dispose()
                return console.error('video reousrce is illegitimate')
              }

            }
          }

          if (this.player) {
            if (options.setPlaylist) {
//                  this.initialize()
              this.setPlayList()
            } else {
              this.player.src(this.options.source)
            }
          } else {
            this.dispose()
            this.initialize()
          }
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .button-group{
    max-width: 1100px;
    margin: 10px auto;
  }

  .main-preview-player{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .video-player-box{
      flex: 3 1 70%;
      /*position: relative;*/
      /*min-width: 300px;*/
      /*min-height: 150px;*/
    }

    .playlist-container{
      flex: 1 1 30%;
      position: relative;
      min-width: 300px;
      min-height: 150px;
      height: auto;
      .vjs-playlist{
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
</style>
