<template>
  <div id="video-player">
    <section class="main-preview-player">
      <video id="preview-player" class="video-js vjs-fluid vjs-custom-skin" crossorigin="Anonymous">
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
      </video>
      <div class="playlist-container preview-player-dimensions vjs-fluid" >
        <ol class="vjs-playlist"></ol>
      </div>
    </section>
  </div>
</template>

<script>
  require('video.js/dist/alt/video-js-cdn.css')
  require('videojs-playlist-ui/dist/videojs-playlist-ui.vertical.css')
  require('videojs-playlist-ui')

  var Videojs  = require('video.js')
  window.videojs = Videojs
  videojs.plugin('playlist', require('videojs-playlist'))

  export default {
    name: 'video-player',
    props: {
      options: {
        type: Object,
        required: true
      },
      timeInterval: {
        type: Object,
        required: true
      }
    },
    data () {
      return {
        player: null,
        playerTop: 0,
        playerOffset: 0,
        playerHeight: 0,
        showBlankPlayer: false
      }
    },
    created () {
      // Vue2.0 Listen parent component events
      if (this.$parent) {
        var self = this
        this.$parent.$on('playerAction', function (action) {
          self.doAction(action)
        })
      }
    },
    mounted () {
      if (this.options) {
        this.initialize()
      }
    },
    methods: {
      initialize () {
        console.log('init player')
        var self = this
        var options = this.options
        // start_time
        options.start = options.start || 0

        // is_live?
        //options.live  = options.live || false
        // player_src

        options.source  = options.source || false
        // playbackRates [0.7, 1.0, 1.5, 2.0]
        options.playbackRates = options.playbackRates || false
        // player defaultSrcReId
        options.defaultSrcReId = options.defaultSrcReId || 1
        // default muted
        options.muted = options.muted || false
        // playsinline
        options.playsinline = options.playsinline !== undefined ? options.playsinline : true

        if (typeof options.source !== 'object') {
          return console.error('video resource must be a object or array')
        } else {
          // Check the source of Array.
          if (options.source instanceof Array) {
            for (var i = 0, length = options.source.length; i < length; i++) {
              var item = options.source[i]
              if (!item.src) {
                return console.error('video resource is illegitimate')
              }
            }
          } else {
            if (!options.setPlaylist) {
              if (!options.source.src) {
                return console.error('video resource is illegitimate')
              }
            }
          }
        }

        var controlBar = {
          remainingTimeDisplay: false,
          playToggle: {},
          progressControl: {},
          fullscreenToggle: {},
          volumeMenuButton: {
            inline: false,
            vertical: true
          }
        }

        var video_options = {
          'controls': options.controls !== undefined ? options.controls : true,
          'autoplay': options.autoplay !== undefined ? options.autoplay : true,
          'preload': options.preload || 'auto',
          'poster': options.poster ||  '',
          'width': options.wdith || '100%',
          'height': options.height || 360,
          'controlBar': options.controlBar || controlBar,
          'language': options.language || 'en',
          'techOrder': options.techOrder || ['html5', 'flash'],
          'flash': { hls: { withCredentials: false }},
          'html5': { hls: { withCredentials: false }},
          'youtube': { 'ytControls': options.ytControls ? Number(options.ytControls) : 0 }
        }

        //not in live mode
        if (!options.live) {
          // 单独播放资源
          if (!!options.source.src) {
            video_options.sources = [options.source]
            // 多清晰度版本播放资源
          } else {
            // video_options.plugins = { videoJsResolutionSwitcher: { default: options.defaultSrcReId, dynamicLabel: true }}
          }
          // 是否使用播放速度控制
          var playbackRates = options.playbackRates
          if (!!playbackRates && !!playbackRates.length) video_options.playbackRates = playbackRates
        }

        this.player = null
        let video = document.getElementsByClassName('video-js')
        this.player = videojs(video[0], video_options, function () {
          if (!options.live) {
            if (!!options.source.length) {
              this.updateSrc(options.source)
              this.on('resolutionchange', function () {
                self.$emit && self.$emit('playerStateChanged', { resolutionchange: this.src() })
              })
            }
          }

          this.on('play', function () {
            document.querySelector('.main-preview-player').classList.add('is-playing')
            self.$emit && self.$emit('playerStateChanged', { play: true })
          })

          this.on('pause', function () {
            document.querySelector('.main-preview-player').classList.remove('is-playing')
            self.$emit && self.$emit('playerStateChanged', { pause: true })
          })

          this.on('ended', function () {
            document.querySelector('.main-preview-player').classList.remove('is-playing')
            self.$emit && self.$emit('playerStateChanged', { ended: true })
          })

          this.on('loadeddata', function () {
            if (!options.live && !!options.start) this.currentTime(options.start)
            this.muted(self.optionsmuted)
            self.$emit && self.$emit('playerStateChanged', { loadeddata: true })
          })

          this.on('loadedmetadata', function () {
            console.log('loaded meta data')
            //if (this.playlist.currentItem()) {
//            let index = this.playlist.currentItem()
//            console.log(index)
//            console.log(options.playlist[index].resultsArr)
//            let markers = []
//            let resultIndex = 0,
//              text = ''
//            for (let item of options.playlist[index].resultsArr) {
//              let flag = true
//              for (let timestamp of item) {
//                if (flag) {
//                  text = `${resultIndex}th result start`
//                  flag = false
//                } else {
//                  text = `${resultIndex}th result end`
//                  flag = true
//                }
//                let markerObj = {time: timestamp, text: text}
//                markers.push(markerObj)
//              }
//              resultIndex += 1
//            }
//            console.log(markers)
//
//            self.player.markers.reset(markers)
          })
          this.on('timeupdate', function () {
            self.$emit('playerStateChanged', { currentTime: this.currentTime() })
          })

          this.on('error', function (err) {
            console.log(err)
          })
        })

        if (this.options.setPlaylist) {
          this.setPlayList()
        }

      },// initialize function ends

      setPlayList () {
        console.log('set playlist')
        this.$nextTick(() => {
          this.player.playlist(this.options.playlist)
          this.player.playlistUi()
        })
      },


      doAction: function (action) {

        if (!this.player) return
        console.log(action)
        if (action == 'play') this.player.play()
        if (action == 'pause') this.player.pause()
        if (action == 'refresh') {
          if (!this.options.live) {
            this.player.currentTime(0)
            this.player.play(0)
          }
        }
      },


      dispose: function () {
        if (!!this.player && !!this.player.dispose) {
          this.player.dispose()
          this.player = null
          delete this.player
        }
      }

    },// methods ends
    watch: {
      // 观察选项的动态变化，选项变化了就重新初始化播放器
      options: {
        handler: function (newVal, oldVal) {
          var options = newVal
          if (typeof options.source !== 'object') {
            this.dispose()
            console.error('video resource must be a object or array')
          } else {
            // 检查是否设置了播放源，如果没有设置播放源，直接返回
            if (options.source instanceof Array) {
              for (var i = 0, length = options.source.length; i < length; i++) {
                var item = options.source[i]
                if (!item.src) {
                  this.dispose()
                  return console.error('video resource is illegitimate')
                }
              }
            } else {
              if (!options.setPlaylist) {
                if (!options.source.src) {
                  this.dispose()
                  return console.error('video resource is illegitimate')
                }
              }
            }
          }
          // 播放器已经存在，直接切换视频源
          if (this.player) {
            if (options.setPlaylist) {
              // this.initialize()
              this.setPlayList()
            } else {
              this.player.src(this.options.source)
            }
          } else {
            this.dispose()
            this.initialize()
            // this.setPlayList()
          }
        },
        deep: true
      }
    }// watch ends
  }
</script>

<style lang="scss">

  .main-preview-player{
    max-width: 1100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-transition: width .2s ease-in-out,height .2s ease-in-out,-webkit-transform .38s ease-in-out;
    transition: width .2s ease-in-out,height .2s ease-in-out,-webkit-transform .38s ease-in-out;
    transition: width .2s ease-in-out,height .2s ease-in-out,transform .38s ease-in-out;
    transition: width .2s ease-in-out,height .2s ease-in-out,transform .38s ease-in-out,-webkit-transform .38s ease-in-out;
  }

  .video-js,
  .playlist-container{
    position: relative;
    min-width: 300px;
    min-height: 150px;
    height: 0;
  }

  .video-js {
    flex: 3 1 70%;
  }

  .playlist-container{
    flex: 1 1 30%;
  }

  .vjs-playlist{
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: auto !important;
  }

  .vjs-playlist-hide{
    display: none;
  }
  .video-js.vjs-custom-skin {
    width: 100%;
    font-family: "PingFang SC","Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft YaHei","微软雅黑",sans-serif;
  }

  .video-js.vjs-custom-skin .vjs-menu-button-inline.vjs-slider-active,.video-js.vjs-custom-skin .vjs-menu-button-inline:focus,.video-js.vjs-custom-skin .vjs-menu-button-inline:hover,.video-js.vjs-no-flex .vjs-menu-button-inline {
    width: 10em
  }

  .video-js.vjs-custom-skin .vjs-controls-disabled .vjs-big-play-button {
    display: none!important
  }

  .video-js.vjs-custom-skin .vjs-control {
    width: 3em
  }

  .video-js.vjs-custom-skin .vjs-control.vjs-live-control{
    width: auto;
    padding-left: .5em;
    letter-spacing: .1em;
  }

  .video-js.vjs-custom-skin .vjs-menu-button-inline:before {
    width: 1.5em
  }

  .vjs-menu-button-inline .vjs-menu {
    left: 3em
  }

  .vjs-paused.vjs-has-started.video-js.vjs-custom-skin .vjs-big-play-button,.video-js.vjs-ended .vjs-big-play-button,.video-js.vjs-paused .vjs-big-play-button {
    display: block
  }

  .video-js.vjs-custom-skin .vjs-load-progress div,.vjs-seeking .vjs-big-play-button,.vjs-waiting .vjs-big-play-button {
    display: none!important
  }

  .video-js.vjs-custom-skin .vjs-mouse-display:after,.video-js.vjs-custom-skin .vjs-play-progress:after {
    padding: 0 .4em .3em
  }

  .video-js.vjs-ended .vjs-loading-spinner {
    display: none;
  }

  .video-js.vjs-ended .vjs-big-play-button {
    display: block !important;
  }

  .video-js.vjs-ended .vjs-big-play-button,.video-js.vjs-paused .vjs-big-play-button,.vjs-paused.vjs-has-started.video-js.vjs-custom-skin .vjs-big-play-button {
    display: block
  }

  .video-js.vjs-custom-skin .vjs-big-play-button {
    top: 50%;
    left: 50%;
    margin-left: -1.5em;
    margin-top: -1em
  }

  .video-js.vjs-custom-skin .vjs-big-play-button {
    background-color: rgba(0,0,0,0.45);
    font-size: 3.5em;
    /*border-radius: 50%;*/
    height: 2em !important;
    line-height: 2em !important;
    margin-top: -1em !important
  }

  .video-js:hover .vjs-big-play-button,.video-js.vjs-custom-skin .vjs-big-play-button:focus,.video-js.vjs-custom-skin .vjs-big-play-button:active {
    background-color: rgba(36,131,213,0.9)
  }

  .video-js.vjs-custom-skin .vjs-loading-spinner {
    border-color: rgba(36,131,213,0.8)
  }

  .video-js.vjs-custom-skin .vjs-control-bar2 {
    background-color: #000000
  }

  .video-js.vjs-custom-skin .vjs-control-bar {
    /*background-color: rgba(0,0,0,0.3) !important;*/
    color: #ffffff;
    font-size: 14px
  }

  .video-js.vjs-custom-skin .vjs-play-progress,.video-js.vjs-custom-skin  .vjs-volume-level {
    background-color: #2483d5
  }

  .video-js.vjs-custom-skin .vjs-play-progress:before {
    top: -0.3em;
  }

  .video-js.vjs-custom-skin .vjs-progress-control:hover .vjs-progress-holder {
    font-size: 1.3em;
  }

  .vjs-menu-button-popup.vjs-volume-menu-button-vertical .vjs-menu {
    left: 0em;
  }

  .video-js.vjs-custom-skin .vjs-menu li {
    padding: 0;
    line-height: 2em;
    font-size: 1.1em;
    font-family: "PingFang SC","Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft YaHei","微软雅黑",sans-serif;
  }

  .video-js.vjs-custom-skin .vjs-time-tooltip,
  .video-js.vjs-custom-skin .vjs-mouse-display:after,
  .video-js.vjs-custom-skin .vjs-play-progress:after {
    border-radius: 0;
    font-size: 1em;
    padding: 0;
    width: 3em;
    height: 1.5em;
    line-height: 1.5em;
    top: -3em;
  }

  .video-js.vjs-custom-skin .vjs-menu-button-popup .vjs-menu {
    width: 5em;
    left: -1em;
  }

  .video-js.vjs-custom-skin .vjs-menu-button-popup.vjs-volume-menu-button-vertical .vjs-menu {
    left: 0;
  }

  .video-js.vjs-custom-skin .vjs-control-bar .vjs-resolution-button .vjs-menu {
    /*order: 4;*/
  }

  /*排序顺序*/
  .video-js.vjs-custom-skin .vjs-control-bar .vjs-play-control {
    order: 0;
  }

  .video-js.vjs-custom-skin .vjs-control-bar .vjs-time-control {
    min-width: 1em;
    padding: 0;
    margin: 0 .1em;
    text-align: center;
    display: block;
    order: 1;
  }

  .video-js.vjs-custom-skin .vjs-control-bar .vjs-playback-rate .vjs-playback-rate-value{
    font-size: 1.2em;
    line-height: 2.4;
  }

  .video-js.vjs-custom-skin .vjs-progress-control.vjs-control {
    order: 2;
  }

  .video-js.vjs-custom-skin .vjs-control-bar .vjs-volume-menu-button {
    order: 3;
  }

  .video-js.vjs-custom-skin .vjs-control-bar .vjs-resolution-button {
    order: 4;
  }

  .video-js.vjs-custom-skin .vjs-control-bar .vjs-resolution-button .vjs-resolution-button-label {
    display: block;
    line-height: 3em;
  }

  .video-js.vjs-custom-skin .vjs-control-bar .vjs-playback-rate {
    order: 5;
  }

  .video-js.vjs-custom-skin .vjs-control-bar .vjs-fullscreen-control {
    order: 6;
  }
</style>
