<template>
  <div id="user-products" class="clear">
    <vertical-menu />
    <router-view class="dashboard-content" />
  </div>
</template>
<style lang="scss">
  #user-products {
    .ui.secondary.vertical.pointing.menu {
      a {
        color: #000;
        &:hover {font-weight: 700;}
      }
      .router-link-active {
        background-color: transparent;
        box-shadow: none;
        border-color: #1b1c1d !important;
        font-weight: 700;
        color: rgba(0,0,0,.95);
      }
    }
  }

</style>
<script>
  import verticalMenu from '@/components/dashboard/userProducts/verticalMenu.vue'

  export default {
    components: {verticalMenu}
  }
</script>
