<template>
  <div class="vertical-menu-wrapper">
    <div class="ui secondary vertical pointing  menu">
      <template v-for="product of products" v-if="!product.adminOnly || $store.getters.isAdmin">
        <router-link :to="product.path">
            <div class="vertical-header">
            {{ product.title }}
          </div>
        </router-link>
        <div class="ui divider" v-if="$route.path.indexOf(product.path) >= 0"></div>
        <div class="product-menu" v-if="$route.path.indexOf(product.path) >= 0 && product.children">
          <template v-for="(subPage, index) in product.children">
            <template v-if="subPage.subHeader">
              <div class="ui divider" v-if="index !== 0"></div>
              {{ subPage.subHeader }}
            </template>
            <template v-else>
              <a v-if="subPage.path.indexOf('http') >= 0" class="item" target="_blank" :href="subPage.path">{{ subPage.title }}</a>
              <router-link v-else :to="subPage.path" :key="subPage.title" class="item">
                {{ subPage.title }}
              </router-link>
            </template>
          </template>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        products: [
          {
            title: 'ScopeCheck',
            path: '/dashboard/products/ScopeCheck',
            children: [
              {
                title: 'Usage',
                path: '/dashboard/products/ScopeCheck/usage'
              },
              {
                title: 'Credentials',
                path: '/dashboard/products/ScopeCheck/credentials'
              },
              {
                title: 'Similar Search',
                path: '/dashboard/products/ScopeCheck/similar-search'
              }
            ]
          },
          {
            title: 'ScopeVision',
            path: '/dashboard/products/ScopeVision',
            adminOnly: true
          },
          {
            title: 'Demo',
            path: '/dashboard/products/demo',
            adminOnly: true,
            children: [
              /* Fashion */
              {
                subHeader: 'Fashion'
              },
              {
                title: 'Auto Tagging',
                path: '/dashboard/products/demo/auto-tagging'
              },
              {
                title: 'Fashion Style',
                path: '/dashboard/products/demo/fashion-style'
              },
              {
                title: 'Fashion Score',
                path: '/dashboard/products/demo/fashion-score'
              },
              {
                title: 'AI Designer',
                path: '/dashboard/products/demo/AI-designer'
              },
              {
                title: 'AI Designer 2',
                path: '/dashboard/products/demo/AI-designer-2'
              },
              {
                title: 'AI Designer 3',
                path: '/dashboard/products/demo/AI-designer-3'
              },
              {
                title: 'Recommend for Aritzia',
                path: 'https://api.scopemedia.com/demos/aritzia'
              },
              {
                title: 'Element Detection',
                path: 'http://45.33.56.151:9090/'
              },
              {
                title: 'Video Shopping',
                path: 'http://vidsvc.scopephotos.com:8080/video'
              },
              /* Video */
              {
                subHeader: 'Video'
              },
              {
                title: 'Video Map',
                path: '/dashboard/products/demo/video-map'
              },
              {
                title: 'Tagged Video Map',
                path: '/dashboard/products/demo/tagged-video-map'
              },
              {
                title: 'Video Highlight',
                path: '/dashboard/products/demo/video-highlight'
              },
              {
                title: 'Video Ad',
                path: '/dashboard/products/demo/video-ad'
              },
              {
                title: 'Video Search',
                path: '/dashboard/products/demo/video-search'
              },
              {
                title: 'Video Search External',
                path: 'http://vidsvc.scopephotos.com:8080/video'
              },
              {
                title: 'Video Search Live',
                path: 'http://vidsvc.scopephotos.com:8080/video-live'
              },
              /* Others */
              {
                subHeader: 'Other'
              },
              {
                title: 'Batch Tagged Sample',
                path: '/dashboard/products/demo/batch-tagged-sample'
              },
              {
                title: 'Lace Similar Search',
                path: 'http://172.105.241.172:5048/'//'http://172.104.106.32:5048/'
              },
              {
                title: 'Floor Similar Search',
                path: '/dashboard/products/demo/floor-similar-search'
              },
              {
                title: 'Medical Tagging',
                path: '/dashboard/products/demo/medical-tagging'
              },
              {
                title: 'Sentence to Image Search',
                path: '/dashboard/products/demo/sentence-to-image-search'
              }
            ]
          }
        ],
      }
    }
  }
</script>
