<template>
    <div id="dashboard">
      <div class="dashboard-container max-width-container">
        <router-view />
      </div>
    </div>
</template>
<style lang="scss">
  @import '~@/components/general.scss';

  #dashboard {
    .dashboard-container {
      position: relative;
      .vertical-menu-wrapper {
        width: 15rem;
        float: left;

        .vertical-header {
          font-size: 1.71428571rem;
          font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
          line-height: 1.28571429em !important;
          margin: 0 0 1rem !important;
          padding: 0 !important;
        }
      }

      .dashboard-content {
        min-height: 500px;
        float: left;
        margin-left: 2rem;
        height: inherit;
        width: calc(100% - 15rem - 2rem);
        padding-bottom: 2rem;
        position: relative;
      }

      @media all and (max-width: $phone-break-point) {
        .vertical-menu-wrapper {display: none}
        .dashboard-content {margin-left: 0; width: 100%;}
      }
    }
  }
</style>
<script>
</script>
