<template>
  <div id="footer">
    <div class="footer-top-container max-width-container">
      <div class="footer-top-container-inner">
        <div class="ui grid stackable">
          <div class="four wide column">
            <div class="footer-header">WHAT WE DO</div>
            <div class="footer-text"><a href="https://scopemedia.com/solutions/" target="_blank">Solutions</a></div>
            <div class="footer-text"><a href="https://scopemedia.com/apps/" target="_blank">Kick-Ass Apps</a></div>
          </div>
          <div class="four wide column">
            <div class="footer-header">WHO WE ARE</div>
            <div class="footer-text"><a href="https://scopemedia.com/company/" target="_blank">Company</a></div>
            <div class="footer-text"><a href="https://scopemedia.com/careers/" target="_blank">Careers</a></div>
            <div class="footer-text"><a href="https://scopemedia.com/investors/" target="_blank">Investors</a></div>
          </div>
          <div class="four wide column">
            <div class="footer-header">DEVELOPERS</div>
            <div class="footer-text"><a href="https://developer.scopemedia.com/" target="_blank">Docs</a></div>
            <div class="footer-text"><a href="https://scopemedia.com/solutions/" target="_blank">Pricing</a></div>
          </div>
          <div class="four wide column contact-button">
            <button class="footer-button"><a href="https://scopemedia.com/contact" target="_blank">Contact Us</a></button>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-container max-width-container">
      <div class="footer-bottom-container-inner">
        <div class="ui relaxed grid stackable">
          <div class="three column row">
            <div class="column">
              <img class="footer-logo" src="~@/assets/scopemedia_logo_grayscale.png"/>
              <div class="footer-bottom-text">
                © Copyright 2017 ScopeMedia Inc.
              </div>
            </div>
            <div class="column">
              <a class="tou-pp" href="https://scopemedia.com/terms-of-service/">Terms of Service</a>
              <a class="tou-pp" href="http://scopemedia.com/privacy-policy/">Privacy Policy</a>
            </div>
            <div class="column">
              <a class="email" href="mailto:contact@scopemedia.com">contact@scopemedia.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  @import '~@/components/general.scss';
  #footer {
    position: relative;
    background-color: $black-color;

    .footer-top-container-inner {
      padding: 72px 0 52px;

      .ui.grid {
        .footer-header{
          color: #ffffff;
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 1px;
          line-height: 22px;
          margin: 0 0 5px;
        }

        .footer-text {
          padding: 0 0 2px;
          a {
            color: $gray-color;
            word-wrap: break-word;
            cursor: pointer;
            line-height: 22px;
            transition: color .2s ease-in-out;
          }
          a:hover {
            color: #ffffff;
          }
        }

        .contact-button {
          text-align: right;
        }

        .footer-button {
          a {
            display: block;
            font-size: 20px;
            color: $green-color;
          }
          text-align: center;
          width: 140px;
          display: inline-block;
          background: transparent;
          border-radius: 25px;
          border: 2px solid $green-color;
          padding: 6px 0px;
          font-size: 20px;
          color: #ffffff;
        }
      }
    }

    .footer-bottom-container-inner {
      padding-bottom: 30px;

      .ui.relaxed.grid {

        .footer-logo{
          height: 30px;
        }

        .footer-bottom-text{
          color: #d3d3d3;
          font-size: 12px;
          line-height: 22px;
        }

        .tou-pp {
          cursor: pointer;
          margin-left: 10px;
          margin-right: 10px;
          color: #757575;
          font-size: 12px;
          transition: color .2s ease-in-out;
          &:hover {color: #fff;}
        }

        .column:nth-child(3) {
          text-align: right;
          a {
            color: #d3d3d3;;
            word-wrap: break-word;
            cursor: pointer;
            font-size: 12px;
            line-height: 22px;
            transition: color .2s ease-in-out;
          }
        }
      }
    }
  }


  @media only screen and (max-width: $phone-break-point) {
    #footer {
      .contact-button{
        text-align: center !important;
      }

      .footer-top-container-inner {
        padding: 72px 0 52px;
        text-align: center !important;
      }
      .footer-bottom-container-inner {
        .ui.relaxed.grid {

          .three.column.row {
            text-align: center !important;

            .column:nth-child(3) {
              text-align: center;
            }
          }
        }
      }
    }
  }
</style>
