<template>
  <div class="ui modal scope-active-add-images">
    <i class="close icon"></i>
    <div class="header">
      Upload Images
    </div>
    <div class="content">
      <div class="drop-wrapper" :class="{'is-dragover': ondragging}" id="file-dropper" @drop.prevent.stop="initImgPreviewer" @dragenter.prevent.stop="ondragging = true" @dragover.prevent.stop="ondragging = true" @dragexit.prevent.stop="ondragging = false" @dragleave.prevent.stop="ondragging = false">
        <div class="text-label text-center" :class="{center: thumbnailList.length === 0}">
          <p>
            <i class="upload icon"></i>
            <label>
              <input @change="initImgPreviewer" v-show="false" type="file" accept="image/*" multiple>
              <a class="pointer">Select images</a>
            </label>
            or drop your images here.
          </p>
        </div>
        <div class="drop-preview" v-if="s3Helper">
          <div class="preview-img-wrapper" v-for="img in thumbnailList">
            <preview-img :image="img" />
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="text-left">
        Note that after images are uploaded, they could take up to 10 minutes to process
      </div>
    </div>
  </div>
</template>

<script>
  import Utils from '@/libs/Utils.js'
  import S3 from '@/libs/S3.js'
  import accountService from '@/libs/webServices/accountService.js'
  import serverUrls from '@/libs/webServices/serverUrls.js'
  import previewImg from './previewImg.vue'
  import scopemedia from '@/libs/scopemedia.min.js'
  export default {
    mounted () {
      S3.testTokenExpired().then((decryptObj) => {
        this.s3Helper = new S3(decryptObj)
      })
    },
    data () {
      return {
        s3Helper: null,
        thumbnailList: [],
        size: 12,
        continuationToken: '',
        ondragging: false
      }
    },
    props: ['application', 'similarSearchAPI'],
    components: {
      previewImg
    },
    methods: {
      initImgPreviewer (e) {
        this.ondragging = false
        if (e.dataTransfer) {
          var dt = e.dataTransfer
          if (dt.items) {
            // Use DataTransferItemList interface to access the file(s)
            // eslint-disable-next-line
            for (var i = 0; i < dt.items.length; i++) {
              if (dt.items[i].kind === 'file') {
                var f = dt.items[i].getAsFile()
                this.createThumbnailFromFile(f)
              }
            }
          } else {
            // Use DataTransfer interface to access the file(s)
            // eslint-disable-next-line
            for (var i = 0; i < dt.files.length; i++) {
              var f = dt.files[i]
              this.createThumbnailFromFile(f)
            }
          }
        } else if (e.target.files) {
          var files = e.target.files
          // eslint-disable-next-line
          for (var i = 0; i < files.length; i++) {
            var f = files[i]
            this.createThumbnailFromFile(f)
          }
        }
      },
      createThumbnailFromFile (file) {
        if (!(file.type.match('image.*'))) {
          toastr.error(`${file.name} is not an image`)
          return false
        }
        let fileReader = new FileReader
        fileReader.onload = () => {
          Utils.fixImageOrientation(fileReader.result).then(({image, src}) => {
            let imgInfo = {'src': src, 'name': file.name.replace(/ /g, "_"), 'file': file, 'uploaded': -1}
            this.thumbnailList.unshift(imgInfo)
            this.uploadFile(imgInfo)
          })
        }
        fileReader.readAsDataURL(file)
      },
      uploadFile (payload) {
        /*setTimeout(() => {
          payload.uploaded = 1
        }, 1000)
        return*/
        let userName = this.application.user.login
        let appName = this.application.application.replace(/ /g, "_")
        let uploadFileName = `${Date.now()}_${payload.name}`
        let s3Dir = `ScopeCheck/similar-search/${userName}/${appName}`
        let s3Url = `${serverUrls.AWS_HOST}/${s3Dir}/${uploadFileName}`
        this.s3Helper.uploadFile(payload.file, uploadFileName, s3Url, 'PUT', s3Dir, 'scopemedia4').then((res) => {
          this.similarSearchAPI.addImage({
            medias: [s3Url]
          }).then((response) => {
            payload.uploaded = 1
          }).catch((error) => {
            toastr.error('Failed to add image to imageset: ' + payload.name)
            payload.uploaded = 0
          })
        }).catch((error) => {
          toastr.error('Failed to upload image: ' + payload.name)
          payload.uploaded = 0
        });
      },
      clearList () {
        this.thumbnailList = []
      }
      /*deleteFile (payload) {
        let userName = 'admin'
        let appName = 'test'
        let s3Dir = `${userName}/${appName}`
        let s3Url = `${serverUrls.AWS_HOST}/${userName}/${appName}/${payload.name}`
        this.s3Helper.deleteFile(payload.name, s3Url, 'DELETE', s3Dir, 'scopemedia4').then((res) => {
            for (let i = 0; i < this.thumbnailList.length; i++) {
                if (this.thumbnailList[i].name === payload.name) {
                    this.thumbnailList.splice(i,1)
                }
            }
        },(error) => {
            console.error(error);
        })
      },*/
      /**
       * Get S3 images in mounted hook.
       */
      /*getS3Images: function () {
        let self = this;
        let userName = 'admin';
        let appName = 'test';
        let curTimeStr = new Date().toGMTString();
        let signature = this.s3Helper.generateS3Signature('GET', '', '', curTimeStr, '', 'scopemedia4');
        let s3Url = `${serverUrls.AWS_HOST}`;
        s3Url += self.continuationToken.length > 0 ?
                 `/?continuation-token=${self.continuationToken}&prefix=${userName}/${appName}/&max-keys=${self.size}&list-type=2` :
                 `/?prefix=${userName}/${appName}/&max-keys=${self.size}&list-type=2`;
        let token = this.s3Helper.decryptObj.securityToken;
        accountService.getS3Images(s3Url, token, signature, curTimeStr).then((res) => {
            if (res.status == 200) {
                //convert res.data  to xml
                let xml = $.parseXML(res.data);
                let resObj = self.s3Helper._xmlToJson(xml);
                self.continuationToken = resObj.ListBucketResult.NextContinuationToken ?
                                         encodeURI(resObj.ListBucketResult.NextContinuationToken) :
                                         '';
                console.log(resObj.ListBucketResult.NextContinuationToken);
                console.log(self.continuationToken);

                if (resObj.ListBucketResult.Contents) {
                  if (resObj.ListBucketResult.KeyCount === "1") {
                    let img = resObj.ListBucketResult.Contents;
                    let imgUrl = `${serverUrls.AWS_HOST}/${img.Key}`;
                    self.createThumbnailFromUrl(imgUrl);
                  } else {
                    let imgArr = resObj.ListBucketResult.Contents;
                    for (let img of imgArr) {
                      let imgUrl = `${serverUrls.AWS_HOST}/${img.Key}`;
                      self.createThumbnailFromUrl(imgUrl);
                    }
                  }
                }
            } else {
                console.error('Error on getting S3 images');
            }
        }, (error) => {
          console.error(error)
        })
      }*/
    }
  }
</script>

<style lang="scss">
  .drop-wrapper {
    height: 60vh;
    overflow-y: auto;
    position: relative;
    border: 1px solid transparent;

    .text-label {
      &.center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      font-size: 1.25rem;
      line-height: 1.25rem;
    }

    &.is-dragover {
      background-color: #e8f0fe;
      bax-shadow: inset 2px 2px #4285f4,
        inset -2px -2px #4285f4,
        0 1px 2px rgba(0,0,0,0.1);
      border: 1px solid #4285f4;
    }
    .no-files {
      p {
        font-size: 1.2em;
        text-align: center;
      }

      a {
        cursor: pointer;
      }
    }
    .drop-preview {
      padding: 10px 10px;
      .preview-img-wrapper {
        display: inline-block;
        width: 25%;
        .preview-container {
          position: relative;
          .preview-thumbnail {
            .image {
              padding-bottom: 100%;
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }
</style>
