<template>
    <svg class="spinner-dynamics" version="1.1" xmlns="http://www.w3.org/2000/svg" width="120" height="120">
      <defs>
        <clipPath id="clipPath">
          <circle cx="60" cy="60" r="55"/>
        </clipPath>
      </defs>
      <g class="background">
        <g transform="translate(120, 0) scale(-1, 1)">
          <circle class="line" cx="60" cy="60" r="50" clip-path="url(#clipPath)"/>
          <g transform="translate(95, 45)">
            <path class="arrow" d="M1 16L14.2 0l13.2 15.8H1z"/>
          </g>
          <g transform="translate(25, 75) rotate(180)">
            <path class="arrow" d="M1 16L14.2 0l13.2 15.8H1z"/>
          </g>
        </g>
      </g>
      <g class="tick" transform="rotate(-45, 60, 60)">
        <path fill="white" d="M17.977 35.553L0 16.276l5.112-4.768 17.727 19.01L52.31 0l4.93 4.76L22.83 40.39l-.316-.305-.168.156-2.98-3.194-1.465-1.416.074-.077z" transform="translate(28, 40) scale(1.15)" fill-rule="evenodd"/>
      </g>
    </svg>
</template>

<script>
    var dynamics = require('dynamics.js');
    export default{

        name: '',
        data () {
            return {}
        },
        props: {
          options: {
              type: Object,
              required: true
          }
        },
        watch: {
          options: {
              handler: function (val, oldVal) {
                  if (val.success) {
                    this.onSuccess();
                  }
              },
              deep: true,
          },
        },
        mounted () {
          this.spinner = document.querySelector('svg.spinner-dynamics');
          this.background = document.querySelector('g.background');
          this.line = document.querySelector('circle.line');
          this.tick = document.querySelector('g.tick');
          this.arrows = document.querySelectorAll('path.arrow');


          this.start();
          this.rotate();

        },
        methods: {
          start: function () {
            dynamics.animate(this.spinner, {
              opacity: 1
            }, {
              duration: 250,
              complete: this.animateLine
            })

          },

          // This rotate the background (circle+arrows) indefinitely
          rotate: function () {
            var self = this;
            dynamics.animate(self.background, {
              rotateZ: 180,
              rotateC: 60
            }, {
              type: dynamics.linear,
              duration: 500,
              complete: function () {
                dynamics.css(self.background, { rotateZ: 0 })
                self.rotate()
              }
            })
          },

          // Animate the line
          animateLine:function () {
            var self = this;
            dynamics.animate(self.line, {
              strokeDasharray: "40, 117"
            }, {
              type: dynamics.easeInOut,
              duration: 400,
              friction: 700,
              complete: function () {
                dynamics.animate(self.line, {
                  strokeDasharray: "120, 37"
                }, {
                  type: dynamics.easeInOut,
                  duration: 800,
                  complete: self.animateLine
                })
              }
            })
          },

          //Animate the success state
          animateSuccess:function () {
            // First, we animate the line to form a whole circle
            var self = this;
            dynamics.animate(self.line, {
              strokeDasharray: "157, 0",
            }, {
              type: dynamics.easeIn,
              duration: 500,
              friction: 200,
              complete: function () {
                // Then we change the line color and make it a full circle
                // by increasing the strokeWidth
                dynamics.animate(self.line, {
                  strokeWidth: 100,
                  stroke: "#0AB000"
                }, {
                  friction: 200,
                  duration: 300
                });

                // // We hide the arrows
                dynamics.animate(self.arrows, {
                  fill: "#0AB000",
                  opacity: 0
                }, {
                  friction: 0,
                  duration: 0
                });

                // Animate the tick icon
                dynamics.animate(self.tick, {
                  opacity: 1,
                  rotateZ: 0,
                  rotateC: 60
                }, {
                  type: dynamics.spring,
                  friction: 300,
                  duration: 1000,
                  delay: 300
                });

                setTimeout(() => {
                  self.$emit('close');
                },800);
              }
            })
          },

          onSuccess: function () {
              dynamics.setTimeout(this.animateSuccess, 200);
          },
        }
    }
</script>

<style lang="scss">
    .spinner-dynamics {
      overflow: visible;
      opacity: 0;

      .line {
        stroke: #0083FF;
        stroke-width: 10;
        stroke-dasharray: 120, 37;
        stroke-linecap: square;
        stroke-linejoin: round;
        fill: transparent;
      }
      .arrow {
        fill: #0083FF;
      }
      .tick {
        opacity: 0;
      }
    }
</style>
