<template>
  <div class="base64-image-getter">
    <div class="image-uploader text-center">
      <div class="wrapper border" :class="{'drag-over': ondragging}">
        <div v-if="!imgSrc" @drop.prevent.stop="fileUpload" @dragenter.prevent.stop="ondragging = true" @dragover.prevent.stop="ondragging = true" @dragexit.prevent.stop="ondragging = false" @dragleave.prevent.stop="ondragging = false">
          <label>
            <input @change="fileUpload" v-show="false" type="file" accept="image/*">
            <span>Choose an image or drag it here</span>
          </label>
        </div>
        <img @load="processImage" class="uploaded-image" v-if="imgSrc" :src="imgSrc">
      </div>
      <button v-if="enableCrop && imgSrc && !crop" class="crop" :disabled="lock" @click="crop = true">Crop</button>
      <button v-if="enableCrop && imgSrc && crop" class="crop" :disabled="lock" @click="crop = false">Cancel</button>
    </div>
  </div>
</template>
<style lang="scss" scoped>
  @import '~@/libs/cropperjs/cropper.min.css';
  .base64-image-getter {
    width: 100%;
    display: inline-block;
    .image-uploader {
      position: relative;
      width: 100%;
      padding-bottom: 100%;
      overflow: hidden;
      .wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: outline-offset .15s ease-in-out, background-color .15s linear;
        background: #fff;
        &.border {
          outline: 2px dashed #92b0b3;
          outline-offset: -2px;

          &.drag-over {
            outline-offset: -12px;
            outline-color: #c8dadf;
          }
        }

        label {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          font-weight: bold;
          cursor: pointer;
          &:hover {color: #29b2a3;}

          span {
            line-height: 2rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .uploaded-image {
          display: inline-block;
          vertical-align: middle;
          max-width: 100%;
          max-height: 100%;
          margin: auto;
        }

        &::after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          height: 100%;
        }
      }

      button.crop {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        color: #29b2a3;
        background-color: #ffffff;
        border: 2px #29b2a3 solid;
        padding: 0.25rem 0.5rem;
        cursor: pointer;
        font-size: 1.5rem;

        &:hover {
          color: #fff;
          background-color: #29b2a3;
        }
      }
    }
  }
</style>
<script>
  import Cropper from '@/libs/cropperjs/cropper.esm.js'
  import Utils from '@/libs/Utils.js'

  export default {
    data () {
      return {
        ondragging: false,
        imgSrc: null,
        ogWidth: 0,
        ogHeight: 0,
        cropper: null,
        crop: false
      }
    },
    props: {
      maxResolution: {
        type: Number,
        default: 0
      },
      lock: {
        type: Boolean,
        default: false
      },
      enableCrop: {
        type: Boolean,
        default: false
      }
    },
    watch: {
      crop () {
        if (this.crop) {
          var image = this.$el.querySelector('.uploaded-image')
          this.cropper = new Cropper(image, {
            movable: false,
            rotatable: false,
            scalable: false,
            zoomable: false,
            zoomOnTouch: false,
            autoCrop: true,
            autoCropArea: 0.8,
            cropend: (e) => {
              this.getBase64Image(this.cropper.getCroppedCanvas({
                fillColor: '#fff'
              }))
            },
            ready: (e) => {
              this.getBase64Image(this.cropper.getCroppedCanvas({
                fillColor: '#fff'
              }))
            }
          })
        } else {
          if (this.cropper) {
            this.cropper.destroy()
            this.cropper = null
            this.processImage()
          }
        }
      }
    },
    methods: {
      fileUpload (e) {
        this.ondragging = false
        if (e.dataTransfer) {
          var dt = e.dataTransfer
          if (dt.items) {
            // Use DataTransferItemList interface to access the file(s)
            // eslint-disable-next-line
            for (var i = 0; i < dt.items.length; i++) {
              if (dt.items[i].kind === 'file') {
                var f = dt.items[i].getAsFile()
                if (this.tryReadImage(f)) {
                  break
                }
              }
            }
          } else {
            // Use DataTransfer interface to access the file(s)
            // eslint-disable-next-line
            for (var i = 0; i < dt.files.length; i++) {
              if (this.tryReadImage(dt.files[i])) {
                break
              }
            }
          }
        } else if (e.target.files) {
          var files = e.target.files
          // eslint-disable-next-line
          for (var i = 0; i < files.length; i++) {
            if (this.tryReadImage(files[i])) {
              break
            }
          }
        }
      },
      tryReadImage (f) {
        if (f.type.match('image.*')) {
          var reader = new FileReader()
          reader.onload = (e) => {
            Utils.fixImageOrientation(e.target.result).then(({image, src}) => {
              this.ogWidth = image.width
              this.ogHeight = image.height
              this.imgSrc = src
            })
          }
          reader.readAsDataURL(f)
          return true
        } else {
          return false
        }
      },
      processImage () {
        if (!this.imgSrc) {
          return
        }

        var image = this.$el.querySelector('.uploaded-image')
        this.getBase64Image(image)
      },
      reset () {
        this.imgSrc = null
        if (this.cropper) {
          this.cropper.destroy()
          this.cropper = null
          this.crop = false
        }
        this.$emit('base64Image', null)
      },
      getBase64Image (image) {
        var height, width
        if (image instanceof HTMLImageElement) {
          width = this.ogWidth
          height = this.ogHeight
        } else if (image instanceof HTMLCanvasElement) {
          width = image.width
          height = image.height
        }

        if (this.maxResolution > 0 && (height > this.maxResolution || width > this.maxResolution)) {
          var resizedCanvas = document.createElement('canvas')
          var resizedContext = resizedCanvas.getContext('2d')
          var ratio = width / height
          if (width > height) {
            resizedCanvas.width = this.maxResolution
            resizedCanvas.height = this.maxResolution / ratio
          } else {
            resizedCanvas.width = this.maxResolution * ratio
            resizedCanvas.height = this.maxResolution
          }
          resizedContext.mozImageSmoothingEnabled = true
          resizedContext.webkitImageSmoothingEnabled = true
          resizedContext.msImageSmoothingEnabled = true
          resizedContext.imageSmoothingEnabled = true
          resizedContext.imageSmoothingQuality = 'medium'
          resizedContext.drawImage(image, 0, 0, resizedCanvas.width, resizedCanvas.height)
          this.$emit('base64Image', resizedCanvas.toDataURL('image/jpeg'))
        } else {
          this.$emit('base64Image', image instanceof HTMLCanvasElement ? image.toDataURL('image/jpeg') : image.src)
        }
      }
    }
  }
</script>
