<template>
  <transition name="modal">
    <div class="modal">
      <div class="modal-mask" @click="$emit('close')">
        <div class="modal-wrapper">
          <div class="modal-container api-modal cc-modal" @click="preventClick($event)">
            <i class="close icon" @click="$emit('close')"></i>
            <div class="modal-header">
              <h3 name="header">
                Create a New Credit Card
              </h3>

              <div class="meta">
                Your Card Infomation
              </div>
            </div>

            <div class="modal-body">
              <stripe-element :userInfo="userInfo" @close="$emit('close')"></stripe-element>
            </div>

          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
    import stripeElement from '@/components/dashboard/userProfile/creditCardModal/stripe/stripeElement.vue';

    export default{
        name: '',
        data () {
            return {}
        },
        methods: {
          preventClick: function (e) {
            e.stopPropagation();
          },
        },
        components: {
          stripeElement
        },
        props: {
          userInfo: {
              type: Object,
              required: true
          }
        }
    }
</script>

<style lang="scss">
  .cc-modal {
    padding: 20px 30px 20px 30px !important;
  }

  .modal-body{
    form{
      width: 100% !important;
    }
  }
</style>
