<template>
  <div id="ai-designer-3">
    <h1>AI Designer 3</h1>
    <div class="ui divider"></div>
    <div class="clear">
      <div class="float-left width-50">
        <div class="image-pane">
          <base64-image-getter :max-resolution="256" :lock="loading" ref="imageGetter" :enableCrop="true" @base64Image="generatedBase64"/>
        </div>
        <div class="options">
          <div class="actions text-center" v-if="base64">
            <button @click="submit">Style Transfer</button>
            <button @click="reset">Reset</button>
          </div>
        </div>
      </div>
      <div class="float-left width-50 result text-center" :class="{'has-result': result}">
        <loader v-if="loading" />
        <div v-else-if="result">
          <p v-if="result === -1">
            Something went wrong. Please try again in a few seconds
          </p>
          <img v-else :src="result">
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  #ai-designer-3 {
    .image-pane {
      width: 256px;
      margin: auto;
    }
    .options {
      font-size: 1.5rem;

      .option {
        margin: 2rem;

        & > * {
          display: inline-block;
          vertical-align: middle;
        }
        .limit {
          width: 2rem;
          &.left {text-align: right; margin-right: 1rem;}
          &.right {text-align: left; margin-left: 1rem;}
        }
        input {
          width: 20rem;
          max-width: 50%;
        }
      }
    }

    .actions {
      margin-top: 2rem;
      button {
        color: #29b2a3;
        background-color: #ffffff;
        border: 2px #29b2a3 solid;
        padding: 0.25rem 0.75rem;
        cursor: pointer;
        font-size: 1.5rem;
        margin: 1rem 1rem 1rem 0;

        &:hover {
          color: #fff;
          background-color: #29b2a3;
        }
      }
    }

    .result.has-result {
      max-width: 100%;
      overflow: auto;
    }
  }
</style>
<script>
  import base64ImageGetter from '@/components/common/base64ImageGetter.vue'
  import loader from '@/components/common/loader.vue'
  import demoService from '@/libs/webServices/demoService.js'

  export default {
    data () {
      return {
        base64: null,
        result: null,
        loading: false
      }
    },
    methods: {
      generatedBase64 (base64Image) {
        this.base64 = base64Image
      },
      reset () {
        if (this.loading) { return }
        this.result = null
        this.$refs.imageGetter.reset()
      },
      submit () {
        if (this.loading) { return }
        this.result = null
        this.loading = true

        demoService.ganStyleTransfer(this.base64).then((response) => {
          if (response.data && response.data.data) {
            this.result = response.data.data
          } else {
            this.result = -1
          }
          this.loading = false
        }).catch((error) => {
          this.loading = false
          this.result = -1
        })
      }
    },
    components: {base64ImageGetter, loader}
  }
</script>
