<template>
  <div id="auto-tagging" class="clear">
    <h1>Auto Tagging</h1>
    <div class="ui divider"></div>
    <div class="float-left width-50">
      <base64-image-getter :max-resolution="512" :lock="loading" ref="imageGetter" :enableCrop="true" @base64Image="generatedBase64"/>
      <div class="actions text-center">
        <button v-if="base64" @click="submit">Tag</button>
        <button v-if="base64" @click="reset">Reset</button>
      </div>
    </div>
    <div class="float-left tags width-50">
      <loader v-if="loading" />
      <div v-else v-for="attr of result">
        {{ attr }}
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  #auto-tagging {
    .tags {
      padding: 0 2rem;

      & > div {
        border-bottom: 1px solid #999;
        font-size: 1.5rem;
        padding: 1rem 0;

        &:last-child {
          border: 0;
        }
      }
    }

    .actions {
      padding: 0.5rem;
      margin-top: 2rem;
      button {
        color: #29b2a3;
        background-color: #ffffff;
        border: 2px #29b2a3 solid;
        padding: 0.25rem 0.75rem;
        cursor: pointer;
        font-size: 1.5rem;
        margin: 1rem;

        &:hover {
          color: #fff;
          background-color: #29b2a3;
        }
      }
    }
  }
</style>
<script>
  import base64ImageGetter from '@/components/common/base64ImageGetter.vue'
  import loader from '@/components/common/loader.vue'
  import demoService from '@/libs/webServices/demoService.js'

  export default {
    data () {
      return {
        base64: null,
        result: null,
        loading: false
      }
    },
    methods: {
      generatedBase64 (base64Image) {
        this.base64 = base64Image
      },
      reset () {
        if (this.loading) { return }
        this.result = null
        this.$refs.imageGetter.reset()
      },
      submit () {
        if (this.loading) { return }
        this.result = null
        this.loading = true
        demoService.tagAttribute(this.base64.replace('data:image/jpeg;base64,', '')).then((response) => {
          this.loading = false
          if (response.data.attributes && response.data.attributes.length > 0) {
            this.result = response.data.attributes
          } else {
            this.result = ['No tags found']
          }
        }).catch((error) => {
          this.loading = false
          this.result = ['Something went wrong. Please try again in a few seconds']
        })
      }
    },
    components: {base64ImageGetter, loader}
  }
</script>
