<template>
  <div id="floor-similar-search" class="clear">
    <h1>Floor Similiar Search</h1>
    <div class="ui divider"></div>
    <div class="float-left width-35">
      <base64-image-getter :max-resolution="1000" :lock="loading" ref="imageGetter" @base64Image="generatedBase64"/>
      <div class="actions text-center">
        <button v-if="base64" @click="preCropImage()">Search</button>
        <button v-if="base64" @click="reset">Reset</button>
      </div>
    </div>
    <div class="float-left width-65 images">
      <loader v-if="loading" />
      <div v-else-if="result === -1">
        Something went wrong. Please try again in a few seconds
      </div>
      <div v-else-if="result && result.length === 0">
        No results found
      </div>
      <div v-else>
        <div class="image-wrapper" v-for="img of result" @click="preCropImage(img)">
          <div class="image" :style="{backgroundImage: `url('data:image/jpeg;base64,${img.image}')`}">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  #floor-similar-search {
    font-size: 1.5rem;
    .images {
      padding-left: 2rem;

      .image-wrapper {
        display: inline-block;
        vertical-align: top;
        width: 25%;
        padding: 2px;
        cursor: pointer;
        position: relative;
        font-size: 1rem;
        &:hover {background: #29b2a3; .image {border-color: #29b2a3;}}
        &:hover::before {content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #29b2a3; opacity: 0.5;}
        &:hover::after {
          content: 'Search'; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
          text-align: center; color: #fff; padding: 0.25rem 0.75rem;
        }

        .image {
          border: 1px solid #999;
          padding-bottom: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }

    .actions {
      padding: 0.5rem;
      margin-top: 2rem;
      button {
        color: #29b2a3;
        background-color: #ffffff;
        border: 2px #29b2a3 solid;
        padding: 0.25rem 0.75rem;
        cursor: pointer;
        font-size: 1.5rem;
        margin: 1rem;

        &:hover {
          color: #fff;
          background-color: #29b2a3;
        }
      }
    }
  }
</style>
<script>
  import base64ImageGetter from '@/components/common/base64ImageGetter.vue'
  import loader from '@/components/common/loader.vue'
  import demoService from '@/libs/webServices/demoService.js'

  export default {
    data () {
      return {
        base64: null,
        result: null,
        loading: false
      }
    },
    methods: {
      generatedBase64 (base64Image) {
        this.base64 = base64Image
      },
      reset () {
        if (this.loading) { return }
        this.result = null
        this.$refs.imageGetter.reset()
      },
      preCropImage(image = null) {
        if (this.loading) { return }
        this.result = null
        this.loading = true

        if (image) {
          this.$refs.imageGetter.reset()
          this.$refs.imageGetter.imgSrc = this.base64 = `data:image/jpeg;base64,${image.image}`
          var data = {
            type: 'path',
            content: image['image_name'],
            cropped: 0
          }
          this.submit(data)
        } else {
          var image = new Image()
          image.onload = () => {
            if (image.width >= 300 || image.height >= 300) {
              var x = image.width / 2 - 150
              var y = image.height / 2 - 150

              var resizedCanvas = document.createElement('canvas')
              var resizedContext = resizedCanvas.getContext('2d')
              resizedCanvas.width = 300
              resizedCanvas.height = 300
              resizedContext.drawImage(image, x, y, resizedCanvas.width, resizedCanvas.height, 0, 0, resizedCanvas.width, resizedCanvas.height)
              var data = {
                type: 'base64',
                content: resizedCanvas.toDataURL('image/jpeg').replace('data:image/jpeg;base64,', ''),
                cropped: 0
              }
              this.submit(data)
            } else {
              var data = {
                type: 'base64',
                content: this.base64.replace('data:image/jpeg;base64,', ''),
                cropped: 1
              }
              this.submit(data)
            }
          }
          image.src = this.base64
        }
      },
      submit (data) {
        demoService.floorSearch(data).then((response) => {
          this.loading = false
          if (response.data && response.data.results) {
            this.result = response.data.results
          } else {
            this.result = -1
          }
        }).catch((error) => {
          this.loading = false
          this.result = -1
        })
      }
    },
    components: {base64ImageGetter, loader}
  }
</script>
