<template>
  <div id="sentence-to-image" class="clear">
    <h1>Sentence to Image Search</h1>
    <div class="ui divider"></div>
    <form @submit.prevent.stop="searchImages">
      <input type="text" v-model="sentence" class="general-input" placeholder="Enter a sentence to search for images" required :disabled="loading"><input type="submit" value="Search" :disabled="loading" class="white-button">
    </form>
    <div class="results clear">
      <div class="image-wrapper float-left" v-for="img of results">
        <div class="image" :style="{backgroundImage: `url('data:image/jpeg;base64,${img.image}')`}"></div>
      </div>
    </div>
    <loader v-show="loading" />
  </div>
</template>
<style lang="scss">
  #sentence-to-image {
    form {
      input[type='text'] {font-size: 20px; width: calc(100% - 11rem); display: inline-block; margin-right: 1rem;}
      input[type='submit'] {width: 10rem; display: inline-block; min-width: 0;}
    }

    .results {
      .image-wrapper {
        width: 25%;
        .image {
          padding-bottom: 100%;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border: 1px solid #999;
        }
      }
    }
  }
</style>
<script>
  import loader from '@/components/common/loader.vue'
  import demoService from '@/libs/webServices/demoService.js'

  export default {
    data () {
      return {
        sentence: '',
        loading: false,
        results: null
      }
    },
    methods: {
      searchImages () {
        this.loading = true
        this.results = null
        demoService.embeddingSearch(this.sentence).then((response) => {
          if (response.data && response.data.results) {
            this.results = response.data.results
          } else {
            toastr.error('Something went wrong. Please try again in a few seconds')
          }
          this.loading = false
        }).catch((error) => {
          toastr.error('Something went wrong. Please try again in a few seconds')
          this.loading = false
        })
      }
    },
    components: {loader}
  }
</script>
