<template>
  <div id="video-map">
    <h1>Tagged Video Map</h1>
    <div class="scalable-map-pane">
      <scalableMap ref="scalableMap" @search-highlight-images="onSearchHighlightImages" @submit-polygon="onSubmitPolygon" @highlight-area-updated="onHighlightAreaUpdated" />
      <div class="demo-tags">
        <button @click="toggleTags" v-if="showTags === -1">Tags Cloud</button>
        <div style="width:2rem; height: 2rem;" v-if="showTags === 0"><div class="active ui loader"></div></div>
        <button @click="showTags = -1" v-if="showTags === 1">Close</button>
        <div v-if="showTags === 1" class="tags">
          <div class="tag" v-for="tag of randomizedTags" :style="{fontSize: `${tag.weight * 20}px`, opacity: tag.weight}"><span>{{ tag.tag }}</span></div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  #video-map {
    .scalable-map-pane {
      position: relative;
      .scalable-map-container {width: 100%; height: 75vh;}
      .demo-tags {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
        max-width: 30%;
        button {
          background-color: #fff;
          border: 1px solid #E2E2E2;
          display: inline-block;
          padding: 0.25rem 0.5rem;
          cursor: pointer;
          width: 100%;
          &:hover {
            background-color: #E2E2E2;
          }
        }
        .tags {
          text-align: right;
          background: #fff;
          .tag {
            padding: 0 3px;
          }
        }
      }
    }
  }
</style>

<script>
  import scalableMap from '@/components/common/scalableMap/scalableMap.vue'
  import trendingService from '@/libs/webServices/trendingService.js'
  import axios from 'axios'

  export default {
    data () {
      return {
        coordinate: null,
        tags: null,
        showTags: -1,
        tagsQuery: '',
        APIStamp: null
      }
    },
    components: {
      scalableMap
    },
    computed: {
      randomizedTags () {
        if (this.tags) {
          var weight = 1
          for (var tag of this.tags) {
            tag.weight = weight
            weight -= 0.03
          }
          return this.tags.sort((a, b) => {
            return a.tag.localeCompare(b.tag)
          })
        } else {
          return null
        }
      }
    },
    mounted () {
      this.$refs.scalableMap.initMap({
        url: 'https://s3-us-west-2.amazonaws.com/scopemedia4/gifdemo/videoset4/cut_Image',
        maxZoomLevel: 6
      })
      this.$refs.scalableMap.enableHighlightImages()
      this.$refs.scalableMap.enableTaggingButton()
    },
    methods: {
      onSearchHighlightImages(highlightArea, page, size) {
        var query = ''
        if (highlightArea.type === 'polygon') {
          query = `polygon=${highlightArea.physical.map(p => `${p.x} ${p.y}`).join(',')}`
        } else {
          query = `x=${highlightArea.physical.x}&y=${highlightArea.physical.y}&radius=${highlightArea.physical.r()}`
        }

        trendingService.searchTrendingGraphHighlightImages(7, page, size, query)
        .then((response) => {
          this.$refs.scalableMap.updateHighlightImages(highlightArea, response.data, parseInt(response.headers['x-total-count']))
        }).catch((error) => {
          console.log(error)
        })
      },
      onSubmitPolygon (pendingPolygon) {
        trendingService.searchTrendingGraphDistinctCoordinatesInPolygon(7, pendingPolygon.physical).then((response) => {
          this.$refs.scalableMap.updateThumbLabel(pendingPolygon, response.data)
        }).catch((error) => {
          console.log(error)
        })
      },
      onHighlightAreaUpdated (highlightArea) {
        if (highlightArea) {
          var query = ''
          if (highlightArea.type === 'polygon') {
            query = `polygon=${highlightArea.physical.map(p => `${p.x} ${p.y}`).join(',')}`
          } else {
            query = `x=${highlightArea.physical.x}&y=${highlightArea.physical.y}&radius=${highlightArea.physical.r()}`
          }
          this.tagsQuery = query
        } else {
          this.tagsQuery = ''
        }

        this.showTags = -1
        this.tags = null
        this.APIStamp = null
      },
      toggleTags () {
        if (this.showTags === 1) {
          this.showTags = -1
        } else {
          this.showTags = 0
          this.tags = null
          var APIStamp = Date.now()
          this.APIStamp = APIStamp

          if (!this.tagsQuery) {
            axios({
              method: 'GET',
              url:`https://api.scopemedia.com/trending/v2/medias/tags?startDate=2018-01-01&endDate=2018-01-20&channel=videoset3`,
              headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${this.$store.state.accessToken}`
              }
            }).then((response) => {
              if (this.APIStamp === APIStamp) {
                this.tags = response.data
                this.showTags = 1
              }
            })
          } else {
            var graphId = 7

            axios({
              method: 'GET',
              url:`https://api.scopemedia.com//trending/v2/trendings/coordinates/tags?trendingGraphId=${graphId}&${this.tagsQuery}`,
              headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${this.$store.state.accessToken}`
              }
            }).then((response) => {
              if (this.APIStamp === APIStamp) {
                this.tags = response.data
                this.showTags = 1
              }
            })
          }
        }
      }
    }
  }
</script>
