<template>
  <div id="video-map">
    <h1>Video Map</h1>
    <scalableMap ref="scalableMap" @search-highlight-images="onSearchHighlightImages" @submit-polygon="onSubmitPolygon" />
  </div>
</template>

<style lang="scss">
  #video-map {
    .scalable-map-container {width: 100%; height: 75vh}
  }
</style>

<script>
  import scalableMap from '@/components/common/scalableMap/scalableMap.vue'
  import trendingService from '@/libs/webServices/trendingService.js'

  export default {
    data () {
      return {
        coordinate: null
      }
    },
    components: {
      scalableMap
    },
    created () {
    },
    mounted () {
      this.$refs.scalableMap.initMap({
        url: 'https://s3-us-west-2.amazonaws.com/scopemedia4/gifdemo/videoset2/cut_Image',
        maxZoomLevel: 6
      })
      this.$refs.scalableMap.enableHighlightImages()
      this.$refs.scalableMap.enableTaggingButton()
    },
    methods: {
      onSearchHighlightImages(highlightArea, page, size) {
        var query = ''
        if (highlightArea.type === 'polygon') {
          query = `polygon=${highlightArea.physical.map(p => `${p.x} ${p.y}`).join(',')}`
        } else {
          query = `x=${highlightArea.physical.x}&y=${highlightArea.physical.y}&radius=${highlightArea.physical.r()}`
        }

        trendingService.searchTrendingGraphHighlightImages(8, page, size, query)
        .then((response) => {
          this.$refs.scalableMap.updateHighlightImages(highlightArea, response.data, parseInt(response.headers['x-total-count']))
        }).catch((error) => {
          console.log(error)
        })
      },
      onSubmitPolygon (pendingPolygon) {
        trendingService.searchTrendingGraphDistinctCoordinatesInPolygon(8, pendingPolygon.physical).then((response) => {
          this.$refs.scalableMap.updateThumbLabel(pendingPolygon, response.data)
        }).catch((error) => {
          console.log(error)
        })
      }
    }
  }
</script>
