<template>
    <div id="signup">
      <div class="account-container signup">
        <div class="content-wrapper">
          <div class="web-text-wrapper text-center">
            <h1>Build amazing products and services with the world's most advanced real-time image recognition API.</h1>
          </div>
          <div class="form-container">
            <div class="form-sm-caption">
              Sign Up
            </div>
            <form @submit.prevent="submitForm()">
              <label for="username">Username<span class="required-symbol"></span></label>
              <input class="general-input" id="username" type="text" v-model='username' required>
              <label for="email">E-Mail<span class="required-symbol"></span></label>
              <input class="general-input" id='email' type="email" v-model="email" required>
              <label for="pw">Password<span class="required-symbol"></span></label>
              <input class="general-input" id='pw' type="password" v-model="pw" minlength="6" required>
              <label for="pwconfirm">Password Confirmation<span class="required-symbol"></span></label>
              <input class="general-input" id='pwconfirm' type="password" v-model="pwconfirm" minlength="6" required>
              <label for="firstName">First Name<span class="required-symbol"></span></label>
              <input class="general-input" id='firstName' type="text" v-model="firstName" required>
              <label for="lastName">Last Name<span class="required-symbol"></span></label>
              <input class="general-input" id='lastName' type="text" v-model="lastName" required>
              <label for="company">Company</label>
              <input class="general-input" id='company' type="text" v-model="company">

              <label for="country-input">Country</label>
              <country-list></country-list>

              <div class="recaptcha-wrapper">
                <vue-recaptcha
                  @verify="onVerify"
                  @expired="onExpired"
                  :sitekey="sitekey">
                </vue-recaptcha>
              </div>


              <div class="tms-checkbox">
                <input type="checkbox" required>
                <p>I accept the <a>Terms of Use</a></p>
              </div>
              <input type="submit" class="button white-button" style="margin-top: 0px" value="Sign Up">
            </form>

            <div class="empty-space"></div>

            <div class="signup-wrapper text-center">
              <p>
                Already have an account?
                <router-link :to="{name: 'login'}">
                  <button>Log In</button>
                </router-link>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
</template>
<style lang="scss">
  @import '~@/components/general.scss';

  .signup {
    .tms-checkbox {
      margin-top: 15px;
      text-align: left;
      input[type=checkbox] {
        margin: 1px;
        cursor: pointer;
        vertical-align: middle;
      }
      p {
        color: $gray-color;
        display: inline-block;
      }
      a {
        cursor: pointer;
        color: #303030;
        &:hover {
          color: $green-color;
        }
      }
    }

  }
</style>
<script>
    import VueRecaptcha from 'vue-recaptcha'
    import accountService from '@/libs/webServices/accountService.js'
    import countryList from '@/components/common/countryList.vue';

    export default{
        data () {
            return{
              username: '',
              email: '',
              pw: '',
              pwconfirm: '',
              firstName: '',
              lastName: '',
              company: '',
              country: '',
              sitekey: '6LfOTyUUAAAAAAXgTbyTspAdo3BisIZ4kWxcK8r4',
              verified: false
            }
        },
        components: {
          VueRecaptcha,
          countryList
        },
        mounted () {
          $(' .ui.dropdown')
            .dropdown({

            })
          ;
        },
        methods: {
          /**
           * The following three function are used to catch fired event.
           */
          onVerify (response) {
            this.verified = true;
          },
          onExpired () {
            console.log('Expired')
          },
          resetRecaptcha () {
            this.$refs.recaptcha.reset() // Direct call reset method
          },
          submitForm () {

            if (!this.verified) {
              toastr.info("Tell us you're not a bot! Answer the captcha.");
              return;
            }
            this.country = document.getElementById('country-input').getAttribute('value');

            //TODO:TEST BEFORE DEPLOY
            accountService.register(this.username, this.pw, this.email, this.firstName, this.lastName, this.company, this.country).then((res) => {
              //console.log(res);
              toastr.success("Signup successfully. Please check you mailbox.");
            }).catch((err) => {
              if (err.response && err.response.data === 'login already in use') {
                toastr.error('Username or email already in use.');
              } else {
                console.error(err);
                toastr.error("Signup failed");
              }
            });
          }
        },
        watch: {
          pwconfirm (nv, ov) {
            if (nv != this.pw) {
              document.getElementById('pwconfirm').setCustomValidity("Passwords Don't Match");
            } else {
              document.getElementById('pwconfirm').setCustomValidity("");
            }
          },
        }
    }
</script>
