<template>
  <transition name="modal">
    <div class="modal">
      <div class="modal-mask" @click="$emit('close')">
        <div class="modal-wrapper">
          <div class="modal-container api-modal" @click="preventClick($event)">
            <i class="close icon" @click="$emit('close')"></i>
            <div class="modal-header">
              <h3 name="header">
                Create New API Key
              </h3>

              <div class="meta">
                Create a new API key in your application.
              </div>
            </div>

            <div class="modal-body">
              <label>
                Your Application Name
              </label>
              <form @submit.prevent="createApplication()">
                <input type="text" class="general-input" placeholder="Applcation name" v-model.trim="appName" required>
                <div class="submit-wrapper">
                  <input type="submit" class="button white-button" value="Add">
                  <img v-if="showLoadingIcon" src="~@/assets/ring.svg">
                </div>

              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import accountService from '@/libs/webServices/accountService.js'
  export default{
    name: '',
    data () {
      return {
        appName: '',
        showLoadingIcon: false,
      }
    },
    methods: {
      preventClick (e) {
        e.stopPropagation();
      },
      async createApplication () {
        this.showLoadingIcon = true
        await this.$store.dispatch('ScopeCheck/createApplication', { appName: this.appName }).catch((error) => {
          toastr.error(error.message)
        })
        this.showLoadingIcon = false
        this.$emit('close');
      }
    }
  }
</script>

<style lang="scss">
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.66);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px 40px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
  }



  .api-modal{
    width: 100%;
    max-width: 512px;
    opacity: 1;
    -webkit-box-shadow: 0 7px 8px -4px rgba(0,0,0,0.2), 0 13px 19px 2px rgba(0,0,0,0.14), 0 5px 24px 4px rgba(0,0,0,0.12);
    box-shadow: 0 7px 8px -4px rgba(0,0,0,0.2), 0 13px 19px 2px rgba(0,0,0,0.14), 0 5px 24px 4px rgba(0,0,0,0.12);
    .close.icon{
      cursor: pointer;
      float: right;
    }
}

.modal-header h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.modal-body {
  margin: 20px 0;
  label{
    margin: .5em 0 .5em;
    font-size: 1em;
    line-height: 1em;
    color: rgba(0,0,0,.6);
  }
  input[type=text]{
    padding: 3px 10px !important;
    font-size: 1em !important;
    border: 1px solid rgba(34,36,38,.1) !important;
  }
  .submit-wrapper{
    float: right;
    input[type=submit]{
      font-size: 1.2em;
      padding: 3px 5px;
      min-width: 80px;
    }
    img{
      vertical-align: top;
    }
  }

}

.modal-default-button {
  float: right;
}


  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
</style>
