<template>
  <div class="dount-chart">
    <canvas></canvas>
  </div>
</template>

<script>
  // NPM Chart.js includes a locale library, which takes 250+kb. Since we don't need it, use the build from Chart.js to reduce project size
  //import Chart from 'chart.js';
  import '@/libs/chartjs/Chart.min.js';
  import chartColors from '@/components/dashboard/userProducts/scopeCheck/productUsage/chartColors.js';

  export default {
    data () {
      return {
      }
    },
    props: ['data'],
    mounted () {
        var ctx = this.$el.querySelector('canvas');
        var data = {
            labels: this.data.labels,
            datasets: [
              {
                data: this.data.data,
                backgroundColor: chartColors,
                hoverBackgroundColor: chartColors
              }
            ]
        };

        this._chart = new Chart(ctx, {
          type: 'doughnut',
          data: data,
          options: {
            maintainAspectRatio: false,
            onClick: function (evt, item) {
            },
            legend: {
                display: false,
            },
            title: {
              display: true,
              position: 'top',
              text: this.data.title,
              fontSize: 20,
              fontStyle: 'normal',
              fontFamily: "'Karla', sans-serif",
            }
          }
        });
    },
    watch: {
        data: function () {
            this._chart.data.datasets[0].data = this.data.data;
            this._chart.data.labels = this.data.labels;
            this._chart.options.title.text = this.data.title;
            this._chart.update();
        }
    },
    methods: {
    }
  }
</script>
