<template>
  <div id="product-usage">
    <loading-spinner v-if="showLoadingSpinner" :options="loadingOptions" @close="showLoadingSpinner = false"></loading-spinner>
    <transition name="fade">
      <div class="usage-wrapper" v-show="!showLoadingSpinner">
        <div class="usage-header">
          <div class="usage-header-text">
            <span>Your Current Billing Cycle</span>
          </div>

          <div class="usage-header-content" >
            <div class="usage-box tab" :class="{selected: selectedApiUsages === apiUsages.overall}" @click="selectedApiUsages = apiUsages.overall">
              <div class="usage-box-text">
                Overall
              </div>
              <div class="usage-box-amount">
                {{ apiUsages.totalOperations + apiUsages.totalInputs }}
              </div>
            </div><!--
            --><div class="usage-box tab" :class="{selected: selectedApiUsages === apiUsages.operations}" @click="selectedApiUsages = apiUsages.operations">
              <div class="usage-box-text">
                Operations
              </div>
              <div class="usage-box-amount">
                {{ apiUsages.totalOperations }}
              </div>
            </div><!--
            --><div class="usage-box tab" :class="{selected: selectedApiUsages === apiUsages.inputs}" @click="selectedApiUsages = apiUsages.inputs">
                <div class="usage-box-text">
                  Inputs
                </div>
                <div class="usage-box-amount">
                  {{ apiUsages.totalInputs }}
                </div>
            </div><!--
            --><div class="usage-box">
                  <div class="usage-box-text">
                    Costs
                  </div>
                  <div class="usage-box-amount">
                    ${{ apiUsages.totalCost }}
                  </div>
            </div>
          </div>

        </div>

        <div class="usage-chart-wrapper" v-if="selectedApiUsages && selectedApiUsages.length === 0">
          <p class="text-center">You don't have any usage yet.</p>
        </div>
        <div class="usage-chart-wrapper" v-else v-for="table of selectedApiUsages">
          <dount-chart class="usage-chart-left" :data="table.chartData"></dount-chart><!--
        --><div class="usage-chart-right">
              <table class="general-table">
                <thead>
                  <tr>
                    <th v-for="header of table.tableHeader">{{ header }}</th>
                  </tr>

                </thead>
                <tbody>
                  <tr v-for="(row, rowIndex) of table.tableBody">
                    <td v-for="(col, colIndex) of row"><span v-if="colIndex === 0" class="chart-color-indicator" :style="{'background-color': chartColors[rowIndex]}"></span><span>{{ col }}</span></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td v-for="footer of table.tableFooter">{{ footer }}</td>
                  </tr>
                </tfoot>
              </table>
          </div>

        </div>
      </div>
   </transition>
  </div>
</template>

<script>
  //TODO: CHANGE HARD CODE COSTS
    import loadingSpinner from '@/components/dashboard/userProducts/scopeCheck/productUsage/loadingSpinner/loadingSpinner.vue';
    import accountService from '@/libs/webServices/accountService.js'
    import dountChart from '@/components/dashboard/userProducts/scopeCheck/productUsage/dountChart.vue';
    import chartColors from '@/components/dashboard/userProducts/scopeCheck/productUsage/chartColors.js';

    export default{
        name: '',
        data () {
            return {
                showLoadingSpinner: true,
                loadingOptions: {
                    success: false,
                },
                apiUsages: {
                  overall: [],
                  operations: [],
                  inputs: [],
                  totalCost: 0,
                  totalOperations: 0,
                  totalInputs: 0
                },
                selectedApiUsages: null,
                chartColors: chartColors
            }
        },
        components: {loadingSpinner, dountChart},
        mounted () {
          let self = this;
          accountService.getUsage('', true).then((res) => {

            if (res.data && res.data.apiUsages) {

              for (let usage of res.data.apiUsages) {
                if (usage.apiType === 'OPERATION' || usage.apiType === 'INPUT') {

                  // check api type to manipulate detail api usage tables
                  var apiTypeObject = usage.apiType === 'OPERATION' ? this.apiUsages.operations : this.apiUsages.inputs,
                  // and check if an object is already created for the app id
                      application = apiTypeObject.find((i) => {return i.appId === usage.appId});

                  // if no, create a new object (new table and chart) for this app id
                  if (typeof application === 'undefined') {
                    application = {
                      appId: usage.appId,
                      tableHeader: ['API', 'Success', 'Failed'],
                      tableBody: [],
                      tableFooter: ['Total', 0, 0],
                      chartData: {title: usage.appId, labels: [], data: []}
                    }
                    apiTypeObject.push(application);
                  }

                  // append data to that table
                  application.tableBody.push([usage.api, usage.totalUsed, usage.totalFailed]);
                  application.tableFooter[1] += usage.totalUsed;
                  application.tableFooter[2] += usage.totalFailed;
                  application.chartData.labels.push(usage.api);
                  application.chartData.data.push(usage.totalUsed);

                  // manipulae overall usage
                  // check if app id is already in the list and append the data
                  if (this.apiUsages.overall.length === 0) {
                    this.apiUsages.overall.push({
                      tableHeader: ['Application', 'Success', 'Failed'],
                      tableBody: [],
                      tableFooter: ['Total', 0, 0],
                      chartData: {title: 'All Applications', labels: [], data: []}
                    });
                  }

                  var appIndex = this.apiUsages.overall[0].tableBody.findIndex((i) => {return i[0] === usage.appId;});
                  if (appIndex < 0) {
                    appIndex = this.apiUsages.overall[0].tableBody.push([usage.appId, 0, 0]) - 1;
                    this.apiUsages.overall[0].chartData.labels.push(usage.appId);
                    this.apiUsages.overall[0].chartData.data.push(0);
                  }

                  this.apiUsages.overall[0].tableBody[appIndex][1] += usage.totalUsed;
                  this.apiUsages.overall[0].tableBody[appIndex][2] += usage.totalFailed;
                  this.apiUsages.overall[0].tableFooter[1] += usage.totalUsed;
                  this.apiUsages.overall[0].tableFooter[2] += usage.totalFailed;
                  this.apiUsages.overall[0].chartData.data[appIndex] += usage.totalUsed;
                }
              }

              this.selectedApiUsages = this.apiUsages.overall;
            }

            this.apiUsages.totalCost = res.data.totalCost || 0;
            this.apiUsages.totalOperations = res.data.totalOperations;
            this.apiUsages.totalInputs = res.data.totalInputs;

            this.loadingOptions.success = true;
          }).catch((error) => {
            console.error(error);
            this.loadingOptions.success = true;
          });
        },
        methods: {
        }
    }
</script>

<style lang="scss">
  @import '~@/components/general.scss';

  #product-usage{

    .spinner-dynamics {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .usage-header-text{
      text-align: center;

      span{
        font-size: 1.1em;
        background-color: rgba(215, 215, 215, 0.25);
        display: inline-block;
        padding: 0.5rem 1rem;
      }
    }
    .usage-header-content{
      background-color: rgba(215, 215, 215, 0.25);
      padding: 10px;

      .usage-box{

        padding: 10px;
        text-align: center;
        display: inline-block;
        width: 21.25%;
        font-size: 1.3em;
        margin-right: 5%;

        @media all and (max-width: $phone-break-point) {
          width: 50%; margin: 0;
        }

        &.tab:hover, &.tab.selected{
          cursor: pointer;
          color: #fff;
          background-color: #00b5ad;
        }
        &:last-child{
          margin-right: 0%;
        }
      }
    }

    .usage-chart-wrapper{
      margin: 4rem 0;
      .usage-chart-left{
        display: inline-block;
        width: 30%;
        height: 230px;
        vertical-align: top;
        position: relative;
      }
      .usage-chart-right{
        padding-left: 1rem;
        display: inline-block;
        width: 70%;
        vertical-align: top;
        th{
          text-align: left;
        }
        td{
          text-align: left;
          span {
            vertical-align: middle;

            &.chart-color-indicator {
              display: inline-block;
              width: 1rem;
              height: 1rem;
              margin-right: 0.5rem;
            }
          }
        }
      }

      @media all and (max-width: $phone-break-point) {
        .usage-chart-left {width: 100%; margin-bottom: 2rem;}
        .usage-chart-right {width: 100%;}
      }
    }

  }
</style>
