<template>
  <div id="app">
    <!-- tempaorary solution to prevent page jump due to head and footer always loads immediately but content body could be loaded asynchronously to check login status -->
    <wheader v-if="$store.getters.hasUserInfo || !$store.getters.hasAccessToken"></wheader>
    <div id="router-view-root">
      <router-view></router-view>
    </div>
    <!-- tempaorary solution to prevent page jump due to head and footer always loads immediately but content body could be loaded asynchronously to check login status -->
    <wfooter v-if="$store.getters.hasUserInfo || !$store.getters.hasAccessToken"></wfooter>
    <a id="back_to_top" @click="scrollToTop">
      <span class="fa-stack">
    		<i class="arrow up icon"></i>
      </span>
    </a>
  </div>
</template>

<script>
  import wfooter from '@/components/footer/footer.vue'
  import wheader from '@/components/header/header.vue'
  import axios from 'axios'
  import searchService from '@/libs/webServices/searchService.js'

  export default {
    name: 'app',
    components: {
      wheader,
      wfooter
    },
    async created () {
      // if api returns error, check userinfo. if userinfo is unavailable, logout.
      // TODO: need to find a way to specificly know that the error is due to token expired
      axios.interceptors.response.use(undefined, (error) => {
        if (error.config.url !== 'https://api.scopemedia.com/api/account' && error.config.url !== 'https://api.scopemedia.com/api/authenticate') {
          this.$store.dispatch('getAndSetUserInfo').catch((error) => { console.error(error) })
        }
        return Promise.reject(error)
      })
    },
    mounted () {
      window.addEventListener('scroll', function () {
        if ($(this).scrollTop() > 500) {
          $('#back_to_top').fadeIn(400)
        } else {
          $('#back_to_top').fadeOut(400)
        }
      })
    },
    watch: {
      '$store.getters.hasUserInfo': function (newVal, oldVal) {
        // if user logout mannually or access token has expired, userInfo is removed, then lets redirects user to login page
        if (oldVal && !newVal) {
          this.$router.push({path: '/login', query: {redirect: this.$route.fullPath}})
        }
      }
    },
    methods: {
      scrollToTop() {
        $("html, body").animate({ scrollTop: 0 }, 400)
      }
    }
  }
</script>

<style lang="scss">
@import '~@/components/general.scss';

.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}
.error {color: $error-color}
.pointer {cursor: pointer;}
.clear:after, .clear::after {content: ""; display: block; clear: both;}
.float-left {float: left;}
.float-right {float: right;}
.width-25 {width: 25%;}
.width-35 {width: 35%;}
.width-40 {width: 40%;}
.width-50 {width: 50%;}
.width-60 {width: 60%;}
.width-65 {width: 65%;}
.width-75 {width: 75%;}
.required-symbol::after, .required-symbol:after {content: "*"; color: $green-color; padding: 3px;}

#app {
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #router-view-root {
    margin-top: 100px;
    min-height: calc(100vh - 410px);

    @media only all and (max-width: $tablet-break-point) {
      margin-top: 0px;
    }
  }

  #back_to_top {
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    right: 5%;
    transition: opacity 0.4s;
    display: none;

    span {
      border: 2px solid #e8e8e8;
      border-radius: 50%;
      display: inline-block;

      &:hover {
        background-color: #e8e8e8;
      }

      i {
        color: #b0b0b0;
        line-height: 52px;
        font-size: 22px;
        height: 52px;
        width: 52px;
        margin: 0;
      }
    }
  }
}

.max-width-container {
  width: 100%;
  max-width: calc(#{$max-width} + 10%);
  margin: 0 auto;
  padding: 0 5%;
}

.ui.selection.dropdown{
  margin: 6px 0;
}

input:focus, select:focus, button:focus{
  outline: none;
}

input[type='password'].general-input,
input[type='email'].general-input,
input[type='text'].general-input,
input[type='url'].general-input,
select.general-input {
  text-align: left;
  display: block;
  margin: 6px 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(34,36,38,.15);
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1em;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none;
  /*-webkit-appearance: none;*/
  /*appearance: none;*/

  &:disabled {
    background-color: #f5f5f5;
    color: #999;
  }
}

.general-table {
  width: 100%;
  border-collapse: separate;

  th {
    font-weight: bold;
    text-align: left;
    font-size: 0.9em;
    letter-spacing: .02em;
    line-height: 12px;
    color: #000;
    text-transform: inherit;
    padding: 6.1px 0 5px;
    border-bottom: 1.1px solid rgba(0,0,0,.16);
  }

  td {
    vertical-align: top;
    color: rgba(0,0,0,.654);
    padding: 8px 5px 8px 0;
    border-bottom: 1.1px solid rgba(0,0,0,.08);
    word-wrap: break-word;
    word-break: break-all;
  }

  tr:last-child td {
    border-bottom: 0;
  }
}

button, .button, input[type='submit'] {
  &.green-button {
    text-align: center;
    min-width: 100px;
    display: inline-block;
    background: $green-color;
    border-radius: 25px;
    border: 2px solid $green-color;
    padding: 6px 12px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    a {
      display: block;
      font-size: 20px;
      color: #ffffff;
    }
  }

  &.white-button {
    text-align: center;
    min-width: 100px;
    display: inline-block;
    background: #ffffff;
    border-radius: 25px;
    border: 2px solid $green-color;
    padding: 6px 12px;
    font-size: 20px;
    color: $green-color;
    cursor: pointer;
    &:hover {
      color: #fff;
      background: $green-color;
    }

    a {
      display: block;
      font-size: 20px;
      color: $green-color;
    }
  }
}

.show-mobile {
  display: none !important;

  @media all and (max-width: $phone-break-point) {
    display: block !important;
    &.inline {display: inline !important;}
    &.inline-block {display: inline-block !important;}
    &.table {display: table !important;}
  }
}

.hide-mobile {
  @media all and (max-width: $phone-break-point) {
    display: none !important;
  }
}

.show-tablet {
  display: none !important;

  @media all and (max-width: $tablet-break-point) {
    display: block !important;
    &.inline {display: inline !important;}
    &.inline-block {display: inline-block !important;}
    &.table {display: table !important;}
  }
}

.hide-tablet {
  @media all and (max-width: $tablet-break-point) {
    display: none !important;
  }
}
</style>
