<template>
  <!--<div class="video-player vjs-custom-skin">-->
    <video id="preview-player" class="video-js vjs-custom-skin" :class="{'full-width': options.fullWidth}"></video>
  <!--</div>-->
</template>

<script>

  window.videojs = require('video.js')
  videojs = videojs.default || videojs
  import progressMarkers from './videojs-markers'
  import adsPlugin from '../videoAd/videojs-ads-plugin'
  import playlist from 'videojs-playlist'
  import playlistUi from './videojs-playlist-ui'

  videojs.registerPlugin('progressMarkers', progressMarkers)
  videojs.registerPlugin('playlist', playlist)
  videojs.registerPlugin('playlistUi', playlistUi)
  videojs.registerPlugin('adsPlugin', adsPlugin)

  require('videojs-playlist-ui/dist/videojs-playlist-ui.vertical.css')

  export default{
    name: 'video-player',
    props: {
      options: {
        type: Object,
        required: true
      },
      start: {
        type: Number,
        default: () =>0
      },
      playsinline: {
        type: Boolean,
        default: () =>false
      },
      customeEventName: {
        type: String,
        default: () =>'statechanged'
      }
    },
    mounted () {
      if (!this.player) {
        this.initialize()
      }
    },
    beforeDestroy () {
      if (this.player) {
        this.player.dispose()
      }
    },
    methods: {
      initialize () {
        var self = this;
        this.player = null;

        var videoOptions = Object.assign({
          autoplay: false,
          controls: true,
          preload: 'auto',
          fluid: false,
          muted: false,
          width: '100%',
          height: '360',
          language: 'en',
          controlBar: {
            remainingTimeDisplay: false,
            playToggle: {},
            progressControl: {},
            fullscreenToggle: {},
            volumeMenuButton: {
              inline: false,
              vertical: true
            }
          },
          techOrder: ['html5']
        }, this.options)


        //check sources
        /*
        if (!videoOptions.sources || !videoOptions.sources.length) {
          console.warn('Missing required options: "sources". ')
          return false
        }
        * */

        //ios fullscreen
        var playsinline = this.playsinline
        const videoElement = document.querySelector('video');
        if (playsinline) {
          videoElement.setAttribute('playsinline', playsinline)
          videoElement.setAttribute('webkit-playsinline', playsinline)
        }

        //emit event
        var emitPlayerState = function (event, value) {
          if (event) {
              event === 'timeupdate' ?
                          self.$emit(event, {player: self.player, currentTime: value}) :
                          self.$emit(event, self.player);
              //self.$emit(event, self.player);
          }
          if (value) {
            var values = {};
            values[event] = value;
            self.$emit(self.customeEventName, values);
          }
        }

        if (videoOptions.plugins) {
          delete videoOptions.plugins.__ob__
        }

        this.player = videojs(videoElement, videoOptions, function () {

          var _this = this
          self.$emit('ready', self.player)
          var events = ['loadeddata',
                        'loadedmetadata',
                        'canplay',
                        'canplaythrough',
                        'play',
                        'pause',
                        'waiting',
                        'playing',
                        'seeked',
                        'ended']

          for (var i = 0; i < events.length; i++) {
            (function (event) {
              _this.on(event, function () {
                  emitPlayerState(event, true)
              })
            })(events[i])
          }

          this.on('timeupdate', function () {
            emitPlayerState('timeupdate', this.currentTime())
          })
        })
      },
      dispose () {
        if (this.player && videojs) {
          this.player.pause && this.player.pause()
          videojs(videoElement).dispose()
          if (!videoElement) {
            var video = document.createElement('video')
            video.className = 'video-js'
            this.$el.appendChild(video)
          }
          this.player = null
          this.player.adsPlugin().dispose()
          this.player.progressMarkers().dispose()
        }
      },
    },
    watch: {
      options: {
        deep: true,
        handler: function (options, oldOptions) {
          if (options.sources[0].src !== oldOptions.sources[0].src) {
            console.log('source change');
            this.player.src(options.sources);
          } else {
            this.dispose();
            if (options && options.sources && options.sources.length) {
              this.initialize();
              console.log('player watch: ', this.player);
            }
          }
        }
      }
    },
    data () {
      return {}
    }
  }
</script>

<style lang="scss">
  @import '~@/components/general.scss';
  .full-width.video-js{
    width: 100%
  }
  .vjs-custom-skin.video-js {
    font-family: "PingFang SC","Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft YaHei","微软雅黑",sans-serif;
  }

  .vjs-custom-skin.video-js .vjs-menu-button-inline.vjs-slider-active,.vjs-custom-skin > .video-js .vjs-menu-button-inline:focus,.vjs-custom-skin > .video-js .vjs-menu-button-inline:hover,.video-js.vjs-no-flex .vjs-menu-button-inline {
    width: 10em
  }

  .vjs-custom-skin.video-js .vjs-controls-disabled .vjs-big-play-button {
    display: none!important
  }

  .vjs-custom-skin.video-js .vjs-control {
    width: 3em
  }

  .vjs-custom-skin.video-js .vjs-control.vjs-live-control{
    width: auto;
    padding-left: .5em;
    letter-spacing: .1em;
  }

  .vjs-custom-skin.video-js .vjs-menu-button-inline:before {
    width: 1.5em
  }

  .vjs-menu-button-inline .vjs-menu {
    left: 3em
  }

  .vjs-paused.vjs-has-started.vjs-custom-skin.video-js .vjs-big-play-button,.video-js.vjs-ended .vjs-big-play-button,.video-js.vjs-paused .vjs-big-play-button {
    display: block
  }

  .vjs-custom-skin.video-js .vjs-load-progress div,.vjs-seeking .vjs-big-play-button,.vjs-waiting .vjs-big-play-button {
    display: none!important
  }

  .vjs-custom-skin.video-js .vjs-mouse-display:after,.vjs-custom-skin > .video-js .vjs-play-progress:after {
    padding: 0 .4em .3em
  }

  .video-js.vjs-ended .vjs-loading-spinner {
    display: none;
  }

  .video-js.vjs-ended .vjs-big-play-button {
    display: block !important;
  }

  .video-js.vjs-ended .vjs-big-play-button,.video-js.vjs-paused .vjs-big-play-button,.vjs-paused.vjs-has-started.vjs-custom-skin > .video-js .vjs-big-play-button {
    display: block
  }

  .vjs-custom-skin.video-js .vjs-big-play-button {
    top: 50%;
    left: 50%;
    margin-left: -1.5em;
    margin-top: -1em
  }

  .vjs-custom-skin.video-js .vjs-big-play-button {
    background-color: rgba(0,0,0,0.45);
    font-size: 3.5em;
    /*border-radius: 50%;*/
    height: 2em !important;
    line-height: 2em !important;
    margin-top: -1em !important
  }

  .video-js:hover .vjs-big-play-button,.vjs-custom-skin > .video-js .vjs-big-play-button:focus,.vjs-custom-skin > .video-js .vjs-big-play-button:active {
    /*background-color: rgba(36,131,213,0.9)*/
    background-color: $green-color;
  }

  .vjs-custom-skin.video-js .vjs-loading-spinner {
    /*border-color: rgba(36,131,213,0.8)*/
    background-color: $green-color;
    opacity: 0.8;
  }

  .vjs-custom-skin.video-js .vjs-control-bar2 {
    background-color: #000000
  }

  .vjs-custom-skin.video-js .vjs-control-bar {
    /*background-color: rgba(0,0,0,0.3) !important;*/
    color: #ffffff;
    font-size: 14px
  }

  .vjs-custom-skin.video-js .vjs-play-progress,.vjs-custom-skin > .video-js  .vjs-volume-level {
    /*background-color: #2483d5*/
    background-color: $green-color;
  }

  .vjs-custom-skin.video-js .vjs-play-progress:before {
    top: -0.3em;
  }

  .vjs-custom-skin.video-js .vjs-progress-control:hover .vjs-progress-holder {
    font-size: 1.3em;
  }

  .vjs-menu-button-popup.vjs-volume-menu-button-vertical .vjs-menu {
    left: 0em;
  }

  .vjs-custom-skin.video-js .vjs-menu li {
    padding: 0;
    line-height: 2em;
    font-size: 1.1em;
    font-family: "PingFang SC","Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft YaHei","微软雅黑",sans-serif;
  }

  .vjs-custom-skin.video-js .vjs-time-tooltip,
  .vjs-custom-skin.video-js .vjs-mouse-display:after,
  .vjs-custom-skin.video-js .vjs-play-progress:after {
    border-radius: 0;
    font-size: 1em;
    padding: 0;
    width: 3em;
    height: 1.5em;
    line-height: 1.5em;
    top: -3em;
  }

  .vjs-custom-skin.video-js .vjs-menu-button-popup .vjs-menu {
    width: 5em;
    left: -1em;
  }

  .vjs-custom-skin.video-js .vjs-menu-button-popup.vjs-volume-menu-button-vertical .vjs-menu {
    left: 0;
  }

  .vjs-custom-skin.video-js .vjs-control-bar .vjs-resolution-button .vjs-menu {
    /*order: 4;*/
  }

  /*排序顺序*/
  .vjs-custom-skin.video-js .vjs-control-bar .vjs-play-control {
    order: 0;
  }

  .vjs-custom-skin.video-js .vjs-control-bar .vjs-time-control {
    min-width: 1em;
    padding: 0;
    margin: 0 .1em;
    text-align: center;
    display: block;
    order: 1;
  }

  .vjs-custom-skin.video-js .vjs-control-bar .vjs-playback-rate .vjs-playback-rate-value{
    font-size: 1.2em;
    line-height: 2.4;
  }

  .vjs-custom-skin.video-js .vjs-progress-control.vjs-control {
    order: 2;
  }

  .vjs-custom-skin.video-js .vjs-control-bar .vjs-volume-menu-button {
    order: 3;
  }

  .vjs-custom-skin.video-js .vjs-control-bar .vjs-resolution-button {
    order: 4;
  }

  .vjs-custom-skin.video-js .vjs-control-bar .vjs-resolution-button .vjs-resolution-button-label {
    display: block;
    line-height: 3em;
  }

  .vjs-custom-skin.video-js .vjs-control-bar .vjs-playback-rate {
    order: 5;
  }

  .vjs-custom-skin.video-js .vjs-control-bar .vjs-fullscreen-control {
    order: 6;
  }

  .vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar{
    opacity: 1 !important;
  }

  /*The CSS for Progress Marker Plugin*/
  .vjs-progress-marker{
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    padding: 0;
    margin: 0;
    background: #ff5757;
    opacity: 0.8;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(33,33,33,1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(33,33,33,1);
    box-shadow: 0px 2px 4px 0px rgba(33,33,33,1);
  }

  .vjs-ad-marker{
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    padding: 0;
    margin: 0;
    opacity: 0.8;
    background: rgb(255, 204 ,0);
  }

  .vjs-ad-container{
    position: absolute;
    display: block;
    width: 100px;
    height: 50px;
    top: 0;
    right: 0;
    //background: $green-color;
    //visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-out;

    &.show-ad{
      //visibility: visible;
      opacity: 0.8;
      padding: 10px 15px;
      display: flex;
      justify-content:center;
      align-items: center;
    }

    &.show-ad:hover{
      -moz-box-shadow: 0 0 3px #000000;
      -webkit-box-shadow: 0 0 3px #000000;
      box-shadow: 0 0 3px #000000;
      opacity: 0.9;
      cursor: pointer;
    }

    .vjs-ad-content{
      font-size: 20px;
      position: absolute;
      right: 0px;
      top: 0px;
    }
  }


</style>
