<template>
  <div id="video-demo">
    <h1>Video Highlight</h1>
    <div class="ui divider"></div>
    <div class="loading-layer" v-show="showLoading">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
    <div class="video-selection">

      <!--<form @submit.prevent="videoName = tempVideoName">-->
        <!--<input type="text" v-model="tempVideoName">-->
        <!--<input type="submit" value="confirm">-->
      <!--</form>-->
      <label>Please select a video</label>
      <select v-model="videoName"  class="ui dropdown customize-green">
        <option disabled value=-1>Please select a video</option>
        <option value="1.mp4">1</option>
        <option value="2.mp4">2</option>
        <option value="3.mp4">3</option>
        <option value="tInL0I0M0Vo.mp4">4-Concert</option>
        <option value="5l_SPcufYPA.mp4">5-Guitar</option>
        <option value="lkfrElWa_nM.mp4">6-Video Game</option>
        <option value="xOhU2KIBNq8.mp4">7</option>
        <option value="sj5_TH2L7h4.mp4">8-Rio de Janeiro</option>
        <option value="EX6_Po7JaC0.mp4">9-Video Game</option>
        <option value="R9CASzQjuUY.mp4">10-Music Video</option>
        <option value="aFBnC2zPkEU.mp4">11-Music Video</option>
        <option value="KbOQQNwj1-I.mp4">12-Video Game</option>
        <option value="IRBAZJ4lF0U.mp4">13-Smoking</option>
        <option value="kAKZeIzs0Ag.mp4">14-Helicopter</option>
        <option value="en1ZHMANDkg.mp4">15-Helicopter</option>
        <option value="aZZF_jMA_Lo.mp4">16-Boys</option>
        <option value="SzBQbKnwuZM.mp4">17</option>
        <option value="4xm_8bYoQYw.mp4">18-Music Video</option>
        <option value="gID_ZY36FP0.mp4">19-Dizzy Dog</option>
        <option value="a6hxZ21I8Q4.mp4">20</option>
        <option value="jkXDAXSB-z8.mp4">21-Cat Surgery</option>
        <option value="tAFtYo3DAvs.mp4">22</option>
        <option value="xTwdAe-M7Mk.mp4">23-Date</option>

        <option value="Ci6lMQNLKZU.mp4">24-Video Game</option>
        <option value="CwUHZSj21CI.mp4">25-Cartoon</option>
        <option value="EX6_Po7JaC0.mp4">26-Video Game</option>
        <option value="JeQi1sDl7a0.mp4">27-Video Game</option>
        <option value="KOSlmlLtjLA.mp4">28-KOSlmlLtjLA</option>
        <option value="UZKSM-7syVI.mp4">29-UZKSM-7syVI</option>
        <option value="hDT3qaA42GI.mp4">30-Tutorial</option>
        <option value="mcR0yIzY4zQ.mp4">31-Cartoon</option>
        <option value="jA-mYT02khw.mp4">32-Band</option>
        <option value="aBRpZMqifn0.mp4">33-Mouse</option>
        <option value="fH2fxMKGCMw.mp4">34-Machine</option>
        <option value="a5.mp4">35-Endoscopy</option>

        <option value="joymii.1.veronika.clark.fulfill.my.desire.mp4">36-joymii.1.veronika.clark.fulfill.my.desire</option>
        <option value="Carrie.mp4">37-Carrie</option>
        <option value="Alina Henessy.mp4">38-Alina Henessy</option>
        <option value="Susie.mp4">39-Susie</option>
        <option value="Nicole Black.mp4">40-Nicole Black</option>
        <option value="Leila.mp4">41-Leila</option>

        <option value="Soccer Barcelona vs Real Betis 6-2 All Goals and Highlights La Liga-2Uzj3wNOe70.mp4.mp4">42-Soccer Barcelona vs Real Betis 6-2 All Goals and Highlights</option>
        <option value="Soccer Sidemen FC VS Youtube Allstars 7-2 All Goals and Highlights-W1ryrosL5E0.mp4.mp4">43-Soccer Sidemen FC VS Youtube Allstars 7-2 All Goals and Highlights</option>
        <option value="Soccer Argentina vs Brazil 4-3 HD All Goals & Highlights 09_06_2012-dhKqJ_kvxfs.mp4.mp4">44-Soccer Argentina vs Brazil 4-3 HD All Goals & Highlights</option>
        <option value="Soccer Real Madrid vs Getafe 5-1 FULL HD 1080p 16_04_2016-u-LcUIbCfNg.mp4.mp4">45-Soccer Real Madrid vs Getafe 5-1</option>
        <option value="Soccer Real Madrid vs Osasuna 5-2 HD All Goals & Highlights 10_09_2016-ZoeDmkr7AKA.mp4.mp4">46-Soccer Real Madrid vs Osasuna 5-2 HD All Goals & Highlights</option>
        <option value="Soccer Brazil vs Haiti 7-1 All Goals and Highlights Copa America-AC_wZzdP5Kk.mp4.mp4">47-Soccer Brazil vs Haiti 7-1 All Goals and Highlights Copa America</option>
        <option value="Soccer Real Madrid vs Barcelona 2-6 HD Full Match Highlights 02_05_2009-w_q56nyIqiI.mp4.mp4">48-Soccer Real Madrid vs Barcelona 2-6 HD Full Match Highlights</option>
        <option value="Soccer Real Madrid vs Reims 5-3 (Trofeo Santiago Bernabeu) HD All Goals & Highlights 16_08_2016-5SaV0X8IJfk.mp4.mp4">49-Soccer Real Madrid vs Reims 5-3 (Trofeo Santiago Bernabeu) HD All Goals & Highlights</option>
        <option value="Soccer Chelsea vs Werder Bremen 4-2 HD All Goals & Highlights 07_08_2016-PxgmDwGDh08.mp4.mp4">50-Soccer Chelsea vs Werder Bremen 4-2 HD All Goals & Highlights</option>
      </select>
    </div>
    <video-player class="video-player-box"
                  ref="videoPlayer"
                  :options="playerOptions"
                  :playsinline="true"
                  customeEventName="customstatechangedeventname"

                  @play="onPlayerPlay($event)"
                  @pause="onPlayerPause($event)"
                  @timeupdate="onPlayerTimeupdate($event)"
                  @statechanged="playerStateChanged($event)"
                  @seeked="onPlayerSeeked($event)"
                  @loadedmetadata="onLoadedMetaData($event)"
                  @ready="playerReady" />


    <div class="input-wrapper clearfix">

      <div class="input-top">
        <div class="ui form">
          <div class="grouped fields">
            <div class="input-line selected" data-id="normal">
              <div class="input-line-left">
                <div class="input-icon">
                  <img src="~@/assets/normal_selected.png" v-if="playMode === 'normal'">
                  <img src="~@/assets/normal_unselected.png" v-else>
                </div>
                <label>Normal</label>
              </div>
            </div>
            <div class="input-line" data-id="highlight" v-show="videoName !== 'ad_output.mp4'">
              <div class="input-line-left">
                <div class="input-icon">
                  <img src="~@/assets/highlight_selected.png" v-if="playMode === 'highlight'">
                  <img src="~@/assets/highlight_unselected.png" v-else>
                </div>
                <label>Highlight</label>
              </div>
              <select v-model="highlightPlaySpeed" class="ui dropdown customize-green">
                <option disabled value=-1>Please select one speed for highlight</option>
                <option value="1">1X</option>
                <option value="2">2X</option>
                <option value="4">4X</option>
                <option value="8">8X</option>
              </select>

              <select v-model.number="highlightPerct"  class="ui dropdown customize-green">
                <option disabled value=-1>Please select length of percentage for highlight</option>
                <option value="0.01">1%</option>
                <option value="0.02">2%</option>
                <option value="0.03">3%</option>
                <option value="0.04">4%</option>
                <option value="0.05">5%</option>
                <option value="0.06">6%</option>
                <option value="0.07">7%</option>
                <option value="0.08">8%</option>
                <option value="0.09">9%</option>
                <option value="0.1">10%</option>
                <option value="0.2">20%</option>
                <option value="0.3">30%</option>
              </select>
            </div>

            <div class="input-line" data-id="groundtruth" v-show="videoName !='2.mp4' && videoName != '3.mp4' && videoName != 'ad_output.mp4'">
              <div class="input-line-left">
                <div class="input-icon">
                  <img src="~@/assets/lable_selected.png" v-if="playMode === 'groundtruth'">
                  <img src="~@/assets/lable_unselected.png" v-else>
                </div>
                <label>Human Label</label>
              </div>

              <select v-model="highlightPlaySpeed" class="ui dropdown customize-green">
                <option disabled value=-1>Please select one speed for highlight</option>
                <option value="1">1X</option>
                <option value="2">2X</option>
                <option value="4">4X</option>
                <option value="8">8X</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="input-bottom">
        <div class="export-button" @click="exportVideo(true)">
          <button>Export Highlights Concatenated</button>
        </div>
      </div>
      <div class="input-bottom">
        <div class="export-button" @click="exportVideo(false)">
          <button>Export Highlights</button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
//  @ended="onPlayerEnded($event)"
//  @waiting="onPlayerWaiting($event)"
//  @playing="onPlayerPlaying($event)"
//  @loadeddata="onPlayerLoadeddata($event)"
//  @timeupdate="onPlayerTimeupdate($event)"
//  @canplaythrough="onPlayerCanplaythrough($event)"
  import videoPlayer from './player.vue'
  import serverUrls from '@/libs/webServices/serverUrls.js'
  import videoService from '@/libs/webServices/videoService.js'
  export default{
    name: '',
    data () {
      return {
        showLoading: true,
        playMode: 'normal',
        tempVideoName:'',
        videoName: '1.mp4',
        highlightPerct: 0.1,
//        highlightPerctScale: 10,
        highlightPlaySpeed: 1,
        basePlaybackRate: -1,
        timeFrames: [],
        gtTimeFrames: [],
        gtTotalTime: 0,
//        gtSearch: false,
        //timeFrames: [[0.0, 5.0, -0.019121570512652397], [5.0, 10.0, -0.033047694712877274], [10.0, 15.0, -0.09463517367839813], [15.0, 20.0, -0.04179108515381813], [20.0, 25.0, 0.4021521210670471], [25.0, 30.0, 0.26545605063438416], [30.0, 35.0, 0.35494014620780945], [35.0, 40.0, 0.20911531150341034], [40.0, 45.0, 0.22373588383197784], [45.0, 50.0, 0.33861103653907776], [50.0, 55.0, 0.20978859066963196], [55.0, 60.0, 0.29859843850135803], [60.0, 65.0, 0.2772195637226105], [65.0, 70.0, 0.20261918008327484], [70.0, 75.0, 0.3133317530155182], [75.0, 80.0, 0.3354630768299103], [80.0, 85.0, 0.35241037607192993], [85.0, 90.0, 0.17519722878932953], [90.0, 95.0, 0.1108158752322197], [95.0, 100.0, 0.46512851119041443], [100.0, 105.0, 0.28570154309272766], [105.0, 110.0, 0.2028512954711914], [110.0, 115.0, 0.24469664692878723], [115.0, 120.0, 0.4502904415130615], [120.0, 125.0, 0.34679803252220154], [125.0, 130.0, 0.16782423853874207], [130.0, 135.0, 0.41422227025032043], [135.0, 140.0, 0.4765793979167938], [140.0, 145.0, 0.2384529411792755], [145.0, 150.0, 0.13519106805324554], [150.0, 155.0, 0.27643343806266785], [155.0, 160.0, 0.34618473052978516], [160.0, 165.0, 0.4742109775543213], [165.0, 170.0, 0.2996213138103485], [170.0, 175.0, 0.1832217127084732], [175.0, 180.0, 0.38643723726272583], [180.0, 185.0, -0.020463448017835617], [185.0, 190.0, 0.13639728724956512], [190.0, 195.0, 0.2266223132610321], [195.0, 200.0, 0.2825980484485626], [200.0, 205.0, 0.10918175429105759], [205.0, 210.0, 0.3055380880832672], [210.0, 215.0, 0.32077428698539734], [215.0, 220.0, 0.2720809280872345], [220.0, 225.0, 0.0860586017370224], [225.0, 230.0, 0.191087007522583], [230.0, 235.0, 0.26424795389175415], [235.0, 240.0, 0.2577604651451111], [240.0, 245.0, 0.2144670933485031], [245.0, 250.0, 0.0842176079750061], [250.0, 255.0, -0.27487123012542725], [255.0, 260.0, -0.31207191944122314]],
        currentFrame: 0,
        adVideoNames: ['ad_output.mp4']
      }
    },
    mounted() {
      const inputLineElements = Array.prototype.slice.call(document.querySelectorAll('.input-line'));
      for (var i = 0; i < inputLineElements.length; i++) {
        inputLineElements[i].addEventListener('click', (event) => {
          let target = event.target;
          inputLineElements.map(e=> {
            e.classList.remove('selected');
          })

          while (!target.classList.contains('input-line')) {
            target = target.parentElement
          }
          target.classList.add('selected');
          this.playMode = target.getAttribute('data-id');
        }, false)
      }
    },
    watch: {
      videoName: function (nv, ov) {
        if (nv !== ov) {
          this.playMode = 'normal';
          const inputLineElements = Array.prototype.slice.call(document.querySelectorAll('.input-line'));
          inputLineElements.map(e=> {
            e.classList.remove('selected');
          });
          inputLineElements[0].classList.add('selected');
          this.highlightPerct = 0.1;
          this.highlightPlaySpeed = 1;
          this.basePlaybackRate = -1;
          this.timeFrames = [];
          this.currentFrame = 0;
//          this.getGtTimeFrames();
        }
      },
      playMode: function (nv, ov) {
        this.player.pause();
        if (nv !== ov) {
          this.currentFrame = 0;
          if (nv === 'highlight') {
            if (this.highlightPlaySpeed == 1) {
              this.player.currentTime(this.timeFrames[0][0]);
              this.player.playbackRate(1);
            }
            else{
              this.player.currentTime(0);
              this.player.playbackRate(this.basePlaybackRate * (this.highlightPlaySpeed / 2));
            }
            this.calculateSpeed(this.player);
          }else if (nv === 'normal') {
            this.player.currentTime(0);
            this.player.playbackRate(1);
            this.player.progressMarkers().removeAll();
            this.calculateSpeed(this.player);
          } else {
            //if playMode is groundtruth
            if (this.highlightPlaySpeed == 1) {
              this.player.currentTime(this.timeFrames[0][0]);
              this.player.playbackRate(1);
            } else {
              this.player.currentTime(0);
              this.player.playbackRate(this.basePlaybackRate * (this.highlightPlaySpeed / 2));
            }
            this.calculateSpeed(this.player);
          }
        }
      },
      highlightPlaySpeed: function (nv, ov) {
        this.player.pause();
        if (nv != ov) {
          this.currentFrame = 0;
          if (nv == 1) {
            this.player.currentTime(this.timeFrames[0][0]);
            this.player.playbackRate(1);
          }
          else{
            this.player.currentTime(0)
            if (this.timeFrames[0][0] - 0 !== 0) {
              console.log('Set playback rate at starting point');
              this.player.playbackRate(this.basePlaybackRate * (nv / 2))
            }
          }
        }
      },
      highlightPerct: function (nv, ov) {
        this.player.pause();
        console.log('change highlight perct');
        this.currentFrame = 0;
        this.calculateSpeed(this.player);
      },
//      gtSearch: function (nv, ov) {
//        this.calculateSpeed(this.player);
//      }
    },
    computed: {
      player() {
        return this.$refs.videoPlayer.player
      },
      playerOptions() {
        return {
          muted: true,
          language: 'en',
          playbackRates: [1.0, 2.0, 4.0, 8.0],
          sources: [{
            type: "video/mp4",
            src: `${serverUrls.VIDEO_NODE_SERVER}/video/${this.videoName}`
          }],
          plugins: {},
          fullWidth: true
        }
      },
//      highlightPerct() {
//        return this.highlightPerctScale / 100;
//      }
    },
    methods: {
      //events
      onPlayerPlay(player) {
        console.log('Player play')
      },
      onPlayerPause(player) {
        console.log('Player pause')
      },
      onPlayerTimeupdate(payload) {
        const currentTime = payload.currentTime;
        const player = payload.player;
        //console.log(currentTime);
        if (this.playMode !== 'normal' && this.currentFrame < this.timeFrames.length) {
          if (this.highlightPlaySpeed == 1) {
            if (Math.abs(currentTime - this.timeFrames[this.currentFrame][1]) < 0.3) {
              if (this.currentFrame + 1 >= this.timeFrames.length) {
                player.pause()
                this.currentFrame = 0
              } else {
                console.log(`Change current time to: ${this.timeFrames[this.currentFrame + 1][0]} seconds`)
                player.currentTime(this.timeFrames[this.currentFrame + 1][0])
                this.currentFrame += 1
              }
            }
          } else {
            //console.log(`highlightPlaySpeed: ${this.highlightPlaySpeed}, currentFrame: ${this.currentFrame}`);
            //console.log(`Current playbackRate: ${player.playbackRate()}`);
            if (Math.abs(currentTime - this.timeFrames[this.currentFrame][0]) < 0.3 * player.playbackRate()) {
              console.log(`Normal playspeed at ${currentTime} seconds`)
              player.playbackRate(1 * (this.highlightPlaySpeed / 2))
            }
            if (Math.abs(currentTime - this.timeFrames[this.currentFrame][1]) < 0.3 * player.playbackRate()) {
              console.info(`Fast playsback pped at ${currentTime} seconds `)
              player.playbackRate(this.basePlaybackRate * (this.highlightPlaySpeed / 2))
              this.currentFrame += 1
            }
          }
        }
      },
      onLoadedMetaData(player) {
        console.log('Player loaded meta data')
        this.calculateSpeed(player);
      },
      onPlayerSeeked(player) {
        console.log('Player jump to a new time');
        const currentTime = player.currentTime();
        if (this.playMode !== 'normal') {
          for (let x = 0 ; x < this.timeFrames.length; x++) {
            if (this.timeFrames[x][0] < currentTime && currentTime < this.timeFrames[x][1]) {
              this.currentFrame = x;
//              console.log(`CurrentFrame: ${this.currentFrame}`);
              if (this.highlightPlaySpeed != 1) {
                player.playbackRate(1 * (this.highlightPlaySpeed / 2))
              }
              break;
            }
            if (x + 1 <= this.timeFrames.length && currentTime > this.timeFrames[x][1] && currentTime < this.timeFrames[x + 1][0]) {
              this.currentFrame = x + 1;
//              console.log(`CurrentFrame: ${this.currentFrame}`);
              if (this.highlightPlaySpeed != 1) {
                player.playbackRate(this.basePlaybackRate * (this.highlightPlaySpeed / 2))
              }
            }
          }
        }
      },
      playerStateChanged(playerCurrentState) {
        console.log('player current update state', playerCurrentState)
      },
      playerReady(player) {
        console.log('the player is ready')
      },
//      getGtTimeFrames() {
//        let vName = this.videoName.replace('.mp4', '') + '_groundtruth';
//        videoService.fetchVideoHighlight(vName, 10, true).then(
//          res => {
//            this.gtTimeFrames = res.data.result;
//            console.log(this.gtTimeFrames);
//            for (let timeFrame of this.gtTimeFrames) {
//              this.gtTotalTime = timeFrame[1] - timeFrame[0];
//            }
//            console.log(this.gtTotalTime);
//          },
//          err => {
//            console.error(err);
//            this.gtTimeFrames = [];
//            this.gtTotalTime = 0;
//          }
//        )
//      },
      calculateSpeed(player) {
        let duration = player.duration();
        let vName, gt, searchDuration;
        if (this.playMode === 'groundtruth') {
          vName = this.videoName.replace('.mp4', '') + '_groundtruth';
          gt = true
        } else {
          vName = this.videoName.replace('.mp4', '');
          gt = false
        }
//        if (this.gtSearch) {
//          if (this.gtTotalTime === 0) {
//            toastr.error("There is no ground truth data");
//            return;
//          }
//          searchDuration = parseInt(this.gtTotalTime, 10);
//        } else {
//          searchDuration = parseInt(duration * this.highlightPerct, 10);
//        }
        searchDuration = parseInt(duration * this.highlightPerct, 10);
        videoService.fetchVideoHighlight(vName, searchDuration, gt).then(
          res => {
            //console.log(res.data.result);
            this.timeFrames = res.data.result;
            if (this.timeFrames.length === 0) {
              this.player.progressMarkers().removeAll();
            } else {
              let targetDuration = duration / 2;
              let highlightDuration = this.timeFrames[0][1] - this.timeFrames[0][0] * this.timeFrames.length;
              let nonHighlightDuration = duration - highlightDuration;
              let targetNonHighlightDuration = targetDuration - highlightDuration;
              let tempSpeed = nonHighlightDuration / targetNonHighlightDuration;
              let speedArray = this.playerOptions.playbackRates.slice(1, this.playerOptions.playbackRates.length);
              let delta = 999 , playbackRate = 0;
              for (let x of speedArray) {
                if (Math.abs(tempSpeed - x) < delta) {
                  playbackRate = x;
                  delta = Math.abs(tempSpeed - x);
                }
              }
              console.log("Base Playback rate is : " + playbackRate);
              this.basePlaybackRate = playbackRate;
              this.showLoading = false;

              if (this.playMode !== 'normal') {
                if (this.highlightPlaySpeed == 1) {
                  this.player.currentTime(this.timeFrames[0][0]);
                } else {
                  this.player.currentTime(0);
                }
                this.player.progressMarkers().initialize({timeFrames:this.timeFrames})
              }
            }
          },
          err => {
            this.showLoading = false;
          }
        );
      },
      exportVideo(concatenate = true) {
        console.log('export');
        this.player.pause();
        this.showLoading = true;
        let videoClips = [];
        if (this.timeFrames.length === 0) {
          toastr.error("There is no video clips in your current selection");
          return;
        }
        for (let timeFrame of this.timeFrames) {
          videoClips.push([this.videoName, timeFrame[0], timeFrame[1]]);
        }

        let outputName = `${Date.now()}.mp4`;

        videoService.exportVideo(videoClips, 640, 360, outputName, concatenate).then(
          res=> {
            this.showLoading = false;
            if (concatenate) {
              this.startDownload(outputName);
            } else {
              this.startDownload(outputName + '.zip');
            }
          },
          err=> {
            console.log(err);
            this.showLoading = false;
          }
        )
      },
      startDownload(fileName) {
        setTimeout(function () {
          let url = `${serverUrls.VIDEO_NODE_SERVER}/${fileName}`;
          downloadFile(url); // UNCOMMENT THIS LINE TO MAKE IT WORK
        }, 1000);
        // Source: http://pixelscommander.com/en/javascript/javascript-file-download-ignore-content-type/
        window.downloadFile = function (sUrl) {
          //iOS devices do not support downloading. We have to inform user about this.
          if (/(iP)/g.test(navigator.userAgent)) {
            //alert('Your device does not support files downloading. Please try again in desktop browser.');
            window.open(sUrl, '_blank');
            return false;
          }
          //If in Chrome or Safari - download via virtual link click
          if (window.downloadFile.isChrome || window.downloadFile.isSafari) {
            //Creating new link node.
            var link = document.createElement('a');
            link.href = sUrl;
            link.setAttribute('target','_blank');

            if (link.download !== undefined) {
              //Set HTML5 download attribute. This will prevent file from opening if supported.
              var fileName = sUrl.substring(sUrl.lastIndexOf('/') + 1, sUrl.length);
              link.download = fileName;
            }
            //Dispatching click event.
            if (document.createEvent) {
              var e = document.createEvent('MouseEvents');
              e.initEvent('click', true, true);
              link.dispatchEvent(e);
              return true;
            }
          }
          // Force file download (whether supported by server).
          if (sUrl.indexOf('?') === -1) {
            sUrl += '?download';
          }

          window.open(sUrl, '_blank');
          return true;
        }
        window.downloadFile.isChrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
        window.downloadFile.isSafari = navigator.userAgent.toLowerCase().indexOf('safari') > -1;
      }

    },
    components: {videoPlayer}
  }
</script>

<style lang="scss">
  @import '~@/components/general.scss';
  $normal-font-size: 16px;
  $label-black-color: #3A3A3A;
  $input-div-wrapper-height: 50px;
  $input-font: 16px;
  $input-width: 170px;
  $input-height: 36px;
  .ui.dropdown.customize-green{
    display: inline-block;
    color: $green-color;
    font-size: $input-font;
    background-color: #ffffff;
    border: 2px solid $green-color !important;
    width: $input-width;
    height: $input-height;
    -webkit-box-shadow: inset 0px 1px 2px 0px #a5a5a5;;
    -moz-box-shadow: inset 0px 1px 2px 0px #a5a5a5;;
    box-shadow: inset 0px 1px 2px 0px #a5a5a5;;
  }

  .video-selection{
    margin-bottom: 5px;
    label{
      display: inline-block;
      color: $label-black-color;
      font-size: $normal-font-size;
      width: 170px;
    }
  }
  .input-wrapper{
    margin-top: 5px;
    .input-top{
      .input-line{
        height: 50px;
        line-height: 36px;
        width: 100%;
        padding: 7px;
        color: $green-color;
        cursor: pointer;
        .input-line-left{
          display: inline-block;
          cursor: pointer;
          .input-icon{
            display: inline-block;
            vertical-align: -webkit-baseline-middle;;
            width: 50px;
            height: 36px;
          }
        }

        label{
          display: inline-block;
          line-height: normal;
          font-size: $normal-font-size;
          width: 100px;
          margin-right: 10px;
          cursor: pointer;
        }

      }
      .input-line.selected{
        color: #ffffff;
        background-color: $green-color;
        -webkit-box-shadow: 0px 0px 4px 0px rgba(33, 33, 33, 0.79);
        -moz-box-shadow: 0px 0px 4px 0px rgba(33, 33, 33, 0.79);
        box-shadow: 0px 0px 4px 0px rgba(33, 33, 33, 0.79);
      }
    }

    .input-bottom{
      margin-top: 10px;
      float: right;
      .export-button{
        margin-left: 10px;
        button{
          cursor: pointer;
          height: 36px;
          font-size: $normal-font-size;
          background-color: #ff5757;
          color: #ffffff;
          border-radius: 8px;
          border: 2px solid #ff5757;
        }
      }
    }
  }

  //to avoid input wrapper collapse
  .input-wrapper.clearfix::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
  }
  .loading-layer{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.6;
    height: 100%;
    z-index: 9999;
    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
      margin: auto;
    }

    .double-bounce1, .double-bounce2 {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #333;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;

      -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
      animation: sk-bounce 2.0s infinite ease-in-out;
    }

    .double-bounce2 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    @-webkit-keyframes sk-bounce {
      0%, 100% { -webkit-transform: scale(0.0) }
      50% { -webkit-transform: scale(1.0) }
    }

    @keyframes sk-bounce {
      0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
      } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
        }
    }
  }
</style>
